<!DOCTYPE html>
<html lang="ko" class="darkmode">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="content-language" content="kr">
  <meta name="google-site-verification" content="8_SyZg2Wg3LNnCmFXzETp7ld4yjZB8ny17m8QsYsLwk">
  <meta name="author" content="디시인사이드">
  <meta name="title" content="디시인사이드 검색결과">
  <meta name="description" content="디시인사이드 검색결과">
  <meta property="og:type" content="website">
  <meta property="og:title" content="디시인사이드 검색결과">
  <meta property="og:description" content="디시인사이드 검색결과">
  <meta property="og:image" content="https://nstatic.dcinside.com/dc/w/images/descrip_img.png">
  <meta property="og:url" content="https://www.dcinside.com/">
    <meta name="msvalidate.01" content="575F4ACB57FA589778D58AFD8AEB4EED" />
  <title>디시인사이드 검색결과</title>
 	<!--[if IE 7]>
	<link rel="stylesheet" type="text/css" href="https://nstatic.dcinside.com/dc/w/css/ie7.css"/>
	<![endif]-->
		<script type="text/javascript" src="https://nstatic.dcinside.com/dgn/gallery/js/cross_domain.js"></script>
	<!--[if lt IE 9]>
	<script src="https://nstatic.dcinside.com/dgn/gallery/js/jquery-1.7.2.min.js"></script>
	<![endif]-->
	<!--[if gte IE 9]>
	<script src="https://nstatic.dcinside.com/dgn/gallery/js/jquery-3.2.1.min.js"></script>
	<![endif]-->
	<!--[if !IE]> -->
	    <script src="https://nstatic.dcinside.com/dgn/gallery/js/jquery-3.2.1.min.js"></script>
    	<!-- <![endif]-->
	<script type="text/javascript" src="https://nstatic.dcinside.com/dgn/gallery/js/jquery.tmpl.min.js"></script>
	<script type="text/javascript" src="https://nstatic.dcinside.com/dgn/gallery/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/_js/jquery/jquery.paging.js"></script>
	<script type="text/javascript" src="/_js/jquery/jquery.validate.js"></script>
	<script type="text/javascript" src="/_js/jquery/jquery.placeholder.min.js"></script>
	<script type="text/javascript" src="/_js/jquery/jquery.tmpl.min.js"></script>
	<script type="text/javascript" src="/_js/ctr_cookie.min.js"></script>
	<script type="text/javascript" src="/_js/common.js?v=251010-2"></script>
	<script type="text/javascript" src="/_js/common_json.js?v=2507"></script>
	<script type="text/javascript" src="/_js/navigation.js"></script>
	<script type="text/javascript" src="/_js/click_log.js"></script>
	<script type="text/javascript" src="https://gall.dcinside.com/_js/globalSearch.js?220331"></script>
	<script type="text/javascript" src="https://gall.dcinside.com/_js/crossDomainStorage.js?1"></script>
	<script type="text/javascript" src="https://gall.dcinside.com/_js/lately_visit_v1.js?3"></script>
	<script type="text/javascript" src="https://gall.dcinside.com/_js/favorite_v1.js?3"></script>
	<script type="text/javascript" src="https://gall.dcinside.com/_js/alarm_polling.js?2504"></script>
    <script type="text/javascript" src="https://gall.dcinside.com/_js/gallery_right_login.js?2504"></script>
	
	<script type="text/javascript">
		document.domain = "dcinside.com";
	</script>
	<link rel="shortcut icon" href="https://nstatic.dcinside.com/dc/w/images/logo_icon.ico"/>
	<link rel="stylesheet" type="text/css" href="https://nstatic.dcinside.com/dc/w/css/reset.css?v=2"/>
	<link rel="stylesheet" type="text/css" href="https://nstatic.dcinside.com/dc/w/css/common.css?250123-1"/>
  	<link rel="stylesheet" type="text/css" href="https://nstatic.dcinside.com/dc/w/css/contents.css?v=251117"/>
	<link rel="stylesheet" type="text/css" href="https://nstatic.dcinside.com/dc/w/css/popup.css?2203"/>
		<script type="text/javascript" src="https://nstatic.dcinside.com/dc/w/js/html5shiv.min.js"></script>
	<!--[if IE 7]>
		<Link Rel="Stylesheet" Type="Text/Css" Href="Https://Nstatic.Dcinside.Com/Dc/W/Css/Ie7.Css"/>
	<![Endif]-->

	<style type="text/css">
	.search_keylayer { left: 340px; }
	</style>
	
	<script type="text/javascript">
		//우측 상단 더보기
		function moreView1()
		{
			if(document.getElementById("gnb_layer2").style.display =="none")
			{
				document.getElementById("gnb_layer2").style.display ="block";
			}
			else {
				document.getElementById("gnb_layer2").style.display ="none";
			}
		}

	</script>
</head>

<body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-5149721-69', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>

<!--스킵 내비게이션-->
<div class="skip">
  <a href="#search_wrap"><span>통합검색 바로가기</span></a>
  <a href="#container"><span>본문영역 바로가기</span></a>
</div>
<!-- //스킵 내비게이션-->
<div id="top" class="dcwrap width1160 integrate_schwrap">
		
	<!-- 상단 -->
<header class="dcheader">
  <div class="dchead">
	<!-- 로고영역 -->
	<h1 class="dc_logo">
          <a href="https://www.dcinside.com/">
          	<img src="https://nstatic.dcinside.com/dc/w/images/dcin_logo.png" alt="디시인사이드" class="logo_img">          </a>          
          <a href="https://search.dcinside.com/">
          	<img src="https://nstatic.dcinside.com/dc/w/images/tit_integrate_search.png" alt="통합검색" class="logo_img2">          </a>
    </h1>
	<!-- //로고영역 -->

	<div id="search_wrap" class="wrap_search">
	  <h2 class="blind">갤러리 검색</h2>
	  <!-- 갤러리 통합검색 -->
	  <form  name="topSearchForm" id="searchform" method="get" action='' onSubmit="return globalSearch(this);" data-tab="gallery">
		<fieldset>
		  <legend class="blind">통합검색</legend>
		  <div  class="top_search clear">
			<div class="inner_search">
			  <input class="in_keyword" type="text" name="search" id="gn_top_search_0" title="검색어 입력" value="최면 마사지샵에서 생긴 일" placeholder="갤러리 & 통합검색" tabindex="1" accesskey="f" type="search" autocomplete="off" style="ime-mode:active;" onfocus="show_search_keywords(this)">
			</div>
			<button class="sp_img bnt_search btn_globalSearch"><span class="blind">검색</span></button>
			<button type="button" class="btn_visit" onclick="openLately()">최근 방문</button>
		  </div>
		</fieldset>
	  </form>
	  <!-- //갤러리 통합검색 -->
		<!-- 최근방문 레이어 -->
                <div id="visit_history_lyr" class="pop_wrap type2" style="left:0;top:45px;display:none;">
                  <div class="pop_content visit bookmk">
                    <div class="visitab_box">
                      <button type="button" onclick="tabLately('gall')" class="gallTab on">최근 방문</button>
                      <button type="button" onclick="tabLately('fav')" class="favTab">즐겨찾기</button>
                    </div>
                    <div class="tab_content">
                      
                      <!-- 최근방문 갤러리 리스트 -->
                      <div id ="gall_div">
					  <p class="gall_msg empty_box" style="display:none">최근 방문 갤러리가 없습니다.</p>
                      <ul class="pop_visit_list gall clear" style="display:block"></ul>
					  <script id="lyr_lately_galls-tmpl" type="text/x-jquery-tmpl">
                        <li class="lately_gall gall_${id}" style="display:none;">
                          <a href="https://${link}" class="lately_log" section="${id}">${name}</a>{{if type == 'MI'}}<em class="icon_mini">미니갤러리</em>{{/if}}
                          <button type="button" class="btn_del" style="outline:" data-id="${id}"><span class="blind" >삭제</span><em class="sp_img icon_del"></em></button>
                        </li>
					  </script>
					  </div>
					  
					  <!-- 즐겨찾기 리스트 -->
					   <div id ="fav_div">
					                        <p class="empty_box"><a href="https://sign.dcinside.com/login?s_url=https%3A%2F%2Fsearch.dcinside.com%2Fgallery%2Fq%2F%25EC%25B5%259C%25EB%25A9%25B4%2520%25EB%25A7%2588%25EC%2582%25AC%25EC%25A7%2580%25EC%2583%25B5%25EC%2597%2590%25EC%2584%259C%2520%25EC%2583%259D%25EA%25B8%25B4%2520%25EC%259D%25BC"><span>로그인</span> 후 이용 가능합니다.</a></p>
                      					  <script id="lyr_lately_favs-tmpl" type="text/x-jquery-tmpl">
						<li class ="lately_gall fav_${code_id}" style="display:none;"><a href="https://gall.dcinside.com/{{if type == 'MI'}}mini/{{/if}}${code_id}" class="">${name}</a>{{if type == 'MI'}}<em class="icon_mini">미니갤러리</em>{{else type == 'M'}}<em class="icon_minor">ⓜ</em>{{/if}}</li>
					  </script>
					 </div>
                    </div>
                     <div class="paging_btnbox">
                      <div class="inner">
                        <button type="button" class="btn_prev" id="lately_prev"><span class="blind">이전</span><em class="sp_img icon_prev"></em></button>
                        <div class="page_num page_gall">
						  <strong class="now_num">1</strong>/<span class="total_num">1</span>
                        </div>
						<div class="page_num page_fav" style="display:none;">
						  <strong class="now_num">1</strong>/<span class="total_num">1</span>
                        </div>
                        <button type="button" class="btn_next" id="lately_next"><span class="blind">다음</span><em class="sp_img icon_next"></em></button>
                      </div>
                      <button type="button" class="list_modi page_fav" style="display:none;" onclick="myFavorite('185')">편집</button>
						<!-- div class="pop_wrap type3" id = "my_favorite" style="right:12px;top:23px;display:none"></div-->
                    </div>

                  </div>
                </div>
                <!-- //최근방문 -->
	  <!-- 검색 자동완성 레이어-->
	  <div class="top_banner">
		</div>
		<!--자동완성 레어이 : display:block -->
	  <!--div class="auto_wordwrap" style="left:0;top:45px;display:none">
	  </div-->
	  <!-- //검색 자동완성 레이어 -->
	</div>
	<div class="area_links clear">
	  <ul class="fl clear">
		<li><a href="https://gall.dcinside.com/">갤러리</a></li>
		<li><a href="https://gall.dcinside.com/m">마이너갤</a></li>
		<li><a href="https://gall.dcinside.com/n">미니갤</a></li>
		<li><a href="https://gall.dcinside.com/p">인물갤</a></li>
		<li><a href="https://gallog.dcinside.com">갤로그</a></li>
		<li><a href="https://h5.dcinside.com/game/main">디시게임</a></li>
				<li><a href="https://event.dcinside.com">이벤트</a></li>
		<li><a href="https://mall.dcinside.com/?from=A08">디시콘</a></li>		
					<li><a href='https://sign.dcinside.com/login?s_url=https://search.dcinside.com/combine/q/%EC%B5%9C%EB%A9%B4%20%EB%A7%88%EC%82%AC%EC%A7%80%EC%83%B5%EC%97%90%EC%84%9C%20%EC%83%9D%EA%B8%B4%20%EC%9D%BC' class="btn_top_loginout" target='_top'>로그인</a></li>
						
	  </ul>
	  <div class="fl darkmodebox">
		  <a href="javascript:;" class="darkonoff" onclick="darkmode()"><em class="sp_img icon_tdark"></em>야간모드</a>
		  <div class="pop_tipbox join_tip dark" onclick="$(this).hide();used_darkmode();" style="top:25px;left:-35px;display:none">
			<div class="inner">
			  <p class="join_txt">야간 모드를 이용해 보세요</p>
			</div>
		  </div>
	  </div>
	</div>
  </div>
</header>
<!-- //상단 -->
<!-- GNB -->
<div class="gnb_bar">
  <nav class="gnb clear">
	<h2 class="blind">GNB</h2>
	
	<ul class="gnb_list clear">
    	<li><a href="https://search.dcinside.com/combine/q/%EC%B5%9C%EB%A9%B4%20%EB%A7%88%EC%82%AC%EC%A7%80%EC%83%B5%EC%97%90%EC%84%9C%20%EC%83%9D%EA%B8%B4%20%EC%9D%BC" class="">통합</a></li>
        <li><a href="https://search.dcinside.com/gallery/q/%EC%B5%9C%EB%A9%B4%20%EB%A7%88%EC%82%AC%EC%A7%80%EC%83%B5%EC%97%90%EC%84%9C%20%EC%83%9D%EA%B8%B4%20%EC%9D%BC" class="on">갤러리</a></li>
        <li><a href="https://search.dcinside.com/movie/q/%EC%B5%9C%EB%A9%B4%20%EB%A7%88%EC%82%AC%EC%A7%80%EC%83%B5%EC%97%90%EC%84%9C%20%EC%83%9D%EA%B8%B4%20%EC%9D%BC" class="">동영상</a></li>
        <li><a href="https://search.dcinside.com/post/q/%EC%B5%9C%EB%A9%B4%20%EB%A7%88%EC%82%AC%EC%A7%80%EC%83%B5%EC%97%90%EC%84%9C%20%EC%83%9D%EA%B8%B4%20%EC%9D%BC" class="">게시물</a></li>
    </ul>

	<!-- 어제 게시글,댓글 등록 -->
	<div class="gall_exposure">
	  <div class="posts"><a href="https://gall.dcinside.com/board/lists/?id=dclottery">어제 <em class="num" id="total_content_count"></em> 게시글 등록</a></div>
	  <div class="reply"><a href="https://gall.dcinside.com/board/lists/?id=dclottery">어제 <em class="num" id="total_reple_count"></em> 댓글 등록</a></div>
	  <div class="gall">총 갤러리 수 <em class="num" id="total_gallery_count"></em></div>
	  <div class="ltr"><a href="https://gall.dcinside.com/board/lists/?id=dclottery">디시 로터리 응모</a></div>
	</div>
	<!-- /어제 게시글,댓글 등록 -->
  </nav>
</div>
<!-- //GNB -->	
	<main id="container" class="integrate_sch">
		<div class="group clear">
				
			<!-- left_content -->
<section  class="left_content">
  <h2 class="blind">통합검색 왼쪽 컨텐츠 영역</h2>
  <div>
	 
	<ins class="kakao_ad_area" style="display:none;" 
 data-ad-unit    = "DAN-Yy7BdlhGdOZBWriq" 
 data-ad-width   = "160" 
 data-ad-height  = "600"></ins> 
<script type="text/javascript" src="//t1.kakaocdn.net/kas/static/ba.min.js" async></script>
  </div>
</section>
<!-- //left_content -->
			
			<!-- center_content -->
			<section class="center_content">
			  <h2 class="blind">통합검색 가운데 컨텐츠 영역</h2>
			  <div class="inner">
			  
				<!-- 파워링크 -->
<div class="power_link ad_premium">
	</div>
<!-- //파워링크 -->

<div class="integrate_cont gallsch_result_all brd">
  <div class="integrate_cont_head clear">
	<h3 class="fl">갤러리 <span class="num">0건</span></h3>
	<div class="fr sortbox">
	  <div class="sortoption">
		<button type="button" class="option all on" onclick="location.href='./%EC%B5%9C%EB%A9%B4%20%EB%A7%88%EC%82%AC%EC%A7%80%EC%83%B5%EC%97%90%EC%84%9C%20%EC%83%9D%EA%B8%B4%20%EC%9D%BC?sort='">전체</button>
		<button type="button" class="option gall " onclick="location.href='?stype=1&sort=';">갤러리</button>
		<button type="button" class="option mgall " onclick="location.href='?stype=2&sort=';">마이너갤</button>
		<button type="button" class="option ngall " onclick="location.href='?stype=3&sort=';">미니갤</button>
		<button type="button" class="option ngall " onclick="location.href='?stype=7&sort=';">인물갤</button>
	  </div>

	  <div id="sort" class="select_box array_latest">
		<div class="select_area">인기순<span class="blind">정렬 기준선택</span><em class="sp_img icon_option_more"></em></div>
		<ul class="option_box" style="left:-1px;top:18px;display:none">
		  <li data-value="" onclick="location.href='?stype=';">인기순</li>
		  <li data-value="name" onclick="location.href='?stype=&sort=name';">가나다순</li>
		</ul>
	  </div>
	  <script>ul_selectric($('#sort'), 'sort' , '');</script>
	</div>
  </div>
  
    <div class="notfound_txt">
	<p><span class="font_red">[<em>최면 마사지샵에서 생긴 일</em>]</span>에 대한 검색 결과가 없습니다.</p>
  </div>
  
  
</div>




				
			  </div>
			  
			  
<!-- 하단 통합 검색-->
<div class="integrate_buttom_search">
<!-- 페이징 -->
<!-- //페이징 -->

<form name="bottomSearchForm" method="get" action='https://search.dcinside.com/combine/' onSubmit="return globalSearch(this);">
  <fieldset>
	<legend class="blind">통합검색</legend>
	<div class="buttom_search_wrap clear">
	  <div class="bottom_search fl clear">
		<div class="inner_search">
		  <input class="in_keyword" name="search" title="검색어 입력" type="text" value="최면 마사지샵에서 생긴 일">
		</div>
		<button class="sp_img bnt_search btn_globalSearch" type="submit"><span class="blind">검색</span></button>
	  </div>
	</div>
  </fieldset>
</form>
</div>
<!-- //하단 통합 검색-->
			  
			  			  
			</section>
			
			<!-- right_content -->
<section  class="right_content">
  <h2 class="blind">통합검색 오른쪽 컨텐츠 영역</h2>
  <!-- 다음 검색 -->
  <article>
	<div class="content_box r_only_daum">
	  <header class="clear">
      	<h3 class="tit fl"><a href="">다음 검색</a></h3>
        <div class="fr">
        	<a href="https://daum.net" class="inner_txt">제공 Daum 검색</a><button type="button" onclick="$('.daum_tip').show();"><span class="blind">다음검색이란</span><em class="sp_img icon_tip_open"></em></button>
        </div>
        <div class="pop_tipbox daum_tip" style="left:0px;top:11px;display:none"><!-- 220419 left,top값 수정-->
        	<div class="inner">
                    검색어를 누르면, Daum 검색결과로 이동합니다.
            	<button type="button" class="btn_tipclose" onclick="$('.daum_tip').hide();"><span class="blind">닫기</span><em class="sp_img icon_tipclose"></em></button>
            </div>
        </div>
      </header>
	  <div class="only_daum_area">
		<form onsubmit="return false;">
		  <fieldset>
			<legend class="blind">다음 검색</legend>
			<div class="small_searchbox clear">
			  <input class="small_in_keyword" type="text" title="검색어 입력" onkeydown="javascript:if(event.keyCode==13){searchKaKao();};">
			  <input type="hidden" class="origin_keyword" name="origin_keyword" value=""/>
			  <button class="btn_iconsearch logClass" type="submit" onClick="searchKaKao();" depth1="daum_search" depth2="daum_search_click_log" depth3="pc_search_btn"><span class="blind">검색</span><em class="sp_img icon_smallsearch"></em></button>
			  <button class="bnt_smallsearch logClass" type="submit" onClick="searchKaKao();" depth1="daum_search" depth2="daum_search_click_log" depth3="pc_search_btn">다음 검색</button>

			  <!-- 검색 자동완성 레이어-->
			  <div class="auto_wordwrap small" style="left:-1px;top:28px;display:none"><!--자동완성 레어이 : display:block -->
				<div class="auto_word" >
				  <div class="word_box">
					<h3 class="blind">실기간 검색결과</h3>
					<ul class="word_list">
					</ul>
				  </div>
				</div>
				<div class="word_close"><a href="javascript:hideLyr()" class="sp_img btn_close"><span class="blind">자동완성 레이어 닫기</span></a></div>
			  </div>
			  <!-- //검색 자동완성 레이어 -->
			</div>
		  </fieldset>
		</form>
		<div class="fix_element">
		  <a href="https://search.daum.net/search?&amp;w=tot&amp;DA=DIK&amp;q=%EB%82%A0%EC%94%A8+%ED%98%84%EC%9C%84%EC%B9%98" target="_blank" class="fix_txt logClass" depth1="daum_search" depth2="daum_search_click_log" depth3="pc_weather">날씨</a>
		  <a href="https://search.daum.net/search?&amp;w=tot&amp;DA=DIK&amp;q=%EC%9A%B4%EC%84%B8" target="_blank" class="fix_txt logClass" depth1="daum_search" depth2="daum_search_click_log" depth3="pc_fortune">운세</a>
		  <a href="https://search.daum.net/search?&amp;w=tot&amp;DA=DIK&amp;q=%ED%99%98%EC%9C%A8" target="_blank" class="fix_txt logClass" depth1="daum_search" depth2="daum_search_click_log" depth3="pc_exchange">환율</a>
		</div>
	  </div>
	</div>
  </article>
  <!-- //다음 검색 -->
  <!-- 실시간 베스트 -->
  <article>
  	<div class="content_box r_timebest">
    	<header>
        	<h3 class="tit"><a href="https://gall.dcinside.com/board/lists?id=dcbest">실시간 베스트</a></h3>
            <div class="pageing_box">
            	<div class="page_num">
                	<strong class="now_num realtimeNum">1</strong>/<span class="total_num realtimeTotal">8</span>
                </div>
                <button type="button" class="btn_blueprev " id="realtime_prev"><span class="blind">이전</span><em class="sp_img icon_blueprev"></em></button>
                <button type="button" class="btn_bluenext on" id="realtime_next"><span class="blind">다음</span><em class="sp_img icon_bluenext"></em></button>
            </div>
        </header>
        <div class="rcont_imgtxt_box">
        	<div class="img">
        	            	<div class="rcontimg_box" >
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452818" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73fe785fa11d028318f176c8dd1b3ddcdc44efd17ef7aeef2e0ba49df41673f4f9c9b59d4006ec88cfe6146c454b0030cde63b3df08845ee90be04f83faec729c44a98c88bf7ecbf07a2961b0a6ceaaeb993e15cd9b75f8" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>연합) 메가프로젝트 2차 점검회의 이대통령 모두발언</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" >
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452778" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73de785fa11d028311db29c13695a307ccacddb30f4f715f4c08176e941940c1928d577f9b15c291f407a42058be8e2b2303c4b131fcb736aa3714e38b128f0c8adc5daca347a7d63fc8f7d38e2b2b5c60ac192ddb4bb11628a9556e16c3d" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>8월 10일 시황</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452688" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73de785fa11d028311db29c13695a307ccacddb30f5fe15f4f1e742db7f56a8d2fdc8c574c85f08cfef4c97e904c5d228ea66a3e05defa3e4172f097b996e33b3fba3530c6707a0f2f603700d12" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>싱글벙글 의외로 열강들도 손절했던 짓</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452814" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73fe785fa11d028318f176c8dd1b3ddcdc44efd17ef7aeef5654e29f12c0b0ae888438dcc86f0913df69af61acffaa58f8bfd95a53df8dd4091b37af3f41c8392fce4bd90df64dc13dd4b540d879523e6a659887bb7d4606a" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>50대 잔치된 ‘국민성장펀드’…9월 2차 공모는 ‘청년·서민’ 정조준</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452796" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73de785fa11d028311db29c13695a307ccacddb30f4f715f3414224c1b0abb0f923da903f33ca4929b3eda89c48dba5b26df6749882ece5de71c9396b1637da8a68d54f5719aced551dedfc2f6590" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>트럼프, 호르무즈 재개 시 이란전 종결 검토</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452720" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73fe785fa11d028318f176c8dd1b3ddcdc44efd17ee73eef2ce5a27af00e52b8042a368dec4e6a807210440df46db90a47cd5434d5903c276ffebb7094d24e5ec6f3ddad8ae76dd64e20587501448e92008c185e295a7ed" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>jtbc) 동해안 물폭탄..영남은 바짝타는 가뭄</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452691" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73de785fa1bd62531de535045b081fc7000c7a81cd8d3c92917e973023d30001e83baf74816a168889b945e7bab38d9f0199556ee4180951a58fcef3ac0193b2a" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>[핑계고] 풍향중에서 들렀다가 충격 받은 지역</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452812" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73ce785fa11d02831e402f11b4aff5112a47efe1983b02596a6634322125a16640349d074ba95deb8f885d3ba8ca49d83982987cb7260f69b00722bd8" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>“이태원 참사 119 무전 조작·누락 의혹”…유가족, 첫 형사고소</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452732" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73de785fa11d028311db29c13695a307ccacddb30f5fe15e918930f0cf4676e1e5689f0135e2cdf2d331637c2c35aae71a528e45c53588c78af0087e4f5d0c667ad0ea38052ba2fe9672e7e9aa0a8a02f05adf7de9925747fbe30321fbdea564be2ccd5bf8c9b48" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>“나 반포살지롱∼센트럴 버스하우스에” 2030 분노의 조롱 밈</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452754" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73ce785fa1bd625318ac4e9b620714c42fb64cc780f694d933a9745f9c56b3e2b7e6f1b73443eeb6516a3ed6595352cb17b93b67dcae565431e42d6" alt="" style="{"top":"-0.18"}top:-23px;">
                        </span>
                        <div class="txt_box">
                        	<strong>유투버 단군 [오디세이] 평점</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452701" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73de785fa11d028311db29c13695a307ccacddb30f5fe15f4f1e742db7f56a8d2fdc8c574c85f08cfec4d92eb01c1d729e367a3e355efa0e4740232a5aa007d1f0bb3ca4bc1d097fc9c3e24913fb31f8cc0fd0fd406" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>적의 적은 나의 친구, 미생물제초제</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452721" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73fe785fa11d028318f176c8dd1b3ddcdc44efd17ee73eef0d29a85bc5c8765a664b11779e62a7a385add29871e986b804874d0c164c74c0a4fb69c229fe687bc" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>[오피셜] 이강인 실점 빌미....gif</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452717" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73de785fa11d028311db29c13695a307ccacddb30f5fe15e91893180bff7b79150fdab14919709978a9ec8fc369cc2d51ed4dceefed6e6a606fae26bdfcd1a5c61eaafb3439adaae253b01eacabe16a0f33459b" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>홍콩 아파트 참사 원인, 담뱃불 가능성</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452786" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73ce785fa11d02831e402f11b4aff5112a47efe1982b9258f5b729307e244fa5ad137e7326c9cca921c61946ed9bd0a28ae0f5dd0137dbd2aedf7384fe28aecdbb722365b223899d89d" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>안규백, 사실상 간첩 선언ㅋㅋㅋㅋ</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452772" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73de785fa11d028311db29c13695a307ccacddb30f5fe15f4f3f050d97342b8cee9cdd43cd35c02d490b201504ca1cb59ef10ebfe768369cc00dfd6239d95acc247a8dac3e1282f74d30f17a9ef3da80010ef3e72c8bfbeef184fed3024c70a28bbe5a5df1d2dea975b" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>승무원 만날수있으면 만나라는 블라인..ㄹㅇ</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452753" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73de785fa11d028311db29c13695a307ccacddb30f5fe15f4f1e742db7f56a8d2fdc8c574c85f08cfe24995e103cadb24e666a3ee5ae4f6b0bc5f9fc8bc33f819f58dc4d9916c" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>오들오들 911촌</strong>
                        </div>
                    </a>
                 </div>
             
                          </div>
             <ul class="txt">
                          	<li ><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452747">정청래, 李 대통령을 또 ‘이명박’으로 잘못 지칭 말 실수</a></li>
                         	<li ><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452781">“뒤집힌 보트 붙잡고 8시간”…인천 앞바다 낚시객 3명 극적 구조</a></li>
                         	<li ><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452709">싱글벙글 일본에 처음 온 미국인이 먹은 코스 요리...jpg</a></li>
                         	<li ><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452741">백로 쫓으려 애꿎은 나무만 '뎅강'‥&quot;쫓아내도 바로 옆인데‥&quot;</a></li>
                         	<li ><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452798">중국 상륙 '돌핀'...상하이 곳곳 침수, 항공편 대거 결항</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452736">용산어린이정원 앞 근조화환…주민들 "아파트에 공원 뺏길 수 없다"</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452769">청년에게 연일 메세지를 낸 이재명 대통령 하지만 연일 지지율 하락</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452696">LA보안관의 하나회, 보안관보 갱단(Deputy Gangs)</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452800">환불 미루다 연락두절…여행사 피해주의보</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452762">kbs) 남는 전기 '전기차' 저장..차주 '수익원' 될까</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452763">대부분 한국 쓰레기"…日 명소에 버려진 '안산시 종량제봉투'</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452751">정부, 서울 2만7천가구 공급 속도낸다</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452703">카메라와 함께, 다시 찾은 고베</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452783">유퀴즈 출연한 서울대 신입생.JPG</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452715">싱글벙글 7년 전 투포환 유망주로 나왔던 초등학생 근황</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452774">대만, 일본에 강력 항의... 친일 정권의 이례적 비판 왜?</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452784">싱글벙글 드디어 금메달에 도전한다는 한국 육상</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452802">생태교란종 무단방생+거북이 등딱지 낙서</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452730">말다툼 끝에 어머니 살해한 10대, 반려견도 죽여</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452714">[금주의 신상] 8월 2주차 신제품 먹거리 모음.jpg</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452745">이게 16000원 음식이냐.. 워터파크 떡볶이 논란 확산</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452790">지방선거 투표수 수백명씩 엇갈려…조작 의혹</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452738">후티 반군 "사우디 정유시설 드론 타격"…사우디 "인명피해 없어"</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452733">민주당 강원tk순회경선, 정"당과 의리지키겠다"김"완벽한당정일치"</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452724">인천공항, 노숙인 퇴거명령 논란</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452748">손주 돌보려고 집 비운건데 비거주면 다 투기냐 정부 세제개편 민원 폭주 </a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452729">군 탱크·자주포 기름닦는 수입포 9개월째 ‘재고없음’…이번이 처음</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452700">놀란 감독이 가장 많이 쓴 배우들 2부...jpg</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452792">아이맥스 떡밥에 올려보는 아이맥스 작례</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452726">일하고 있는 엄마에게 밥 가져다 달라는 아들</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452789">최예나 워터밤 디바 코스프레 ㄷㄷ</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452771">‘출장지서 1분 만에 퇴근’상습 근태 불량 SK하이닉스 직원 해고 정당</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452766">싱글벙글 LG전자에서 만든 집</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452705">ISA 개편안·주가누르기 법안 전면 재검토</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452757">의외로 젠슨황이 샤라웃한 가수</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452765">이동진 오디세이 평점</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452808">[속보]뱅오아, 삼전 주주환원 100조이상 할것</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452759">안녕하세요 32번째낙오자들입니다 별거아니에요 (20장)</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452739">싱글벙글 위고비,마운자로가 한국에서 위험한 이유</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452807">하영 증조부 친일파 논란</a></li>
            	
             </ul>
		</div>
     </div>
  </article>  
  <!--  //실시간 베스트 -->
   <!-- 뉴스 -->
  <article>
	<div class="content_box r_dcmedia">
	  <header >
        	<h3 class="tit mediaTab"><a href="javascript:mediaTabMove('media');">디시미디어</a></h3>
        	<h3 class="tit issueTab"><a href="javascript:mediaTabMove('issue');">디시이슈</a></h3>
		<div class="pageing_box">
		  <div class="page_num">
			<strong class="now_num newsNum">1</strong>/<span id="newsTotal" class="total_num newsTotal">2</span>
		  </div>
		  <button type="button" class="btn_blueprev " id="news_prev"><span class="blind">이전</span><em class="sp_img icon_blueprev"></em></button>
		  <button type="button" class="btn_bluenext on" id="news_next"><span class="blind">다음</span><em class="sp_img icon_bluenext"></em></button>
		</div>
	  </header>
        <div class="rcont_imgtxt_box r_media_box" style="display:none;">
			<div class="img clear">
				<script id="mediaImg-tmpl" type="text/x-jquery-tmpl">
				<div class="rcontimg_box">
					<a class="inner" href="${link}" target = "${link.indexOf('https://gall.dcinside.com') === 0 ? '_self' : '_blank'}">
						<span class="img_box">
						<img src="${thumb_img}" alt="">
						</span>
						<div class="txt_box">
							<strong>${title}</strong>
						</div>
					</a>
				</div>
                </script>
			</div>
			<ul class="txt">
				<script id="mediaTxt-tmpl" type="text/x-jquery-tmpl">
				<li><a href="${link}" target = "${link.indexOf('https://gall.dcinside.com') === 0 ? '_self' : '_blank'}">${title}</a></li>
				</script>
			</ul>
		</div>
		<div class="rcont_imgtxt_box dcissue r_issue_box" style="display:none;">
			<div class="img clear">
				<script id="issueImg-tmpl" type="text/x-jquery-tmpl">
				<div class="rcontimg_box">
					<a class="inner" href="${url}" target = "_blank">
						<span class="img_box">
						<img src="${dc_img}" alt="">
						</span>
						<div class="txt_box">
                            <span class="ranking blue">${rank}</span>
							<strong>${title}</strong>
						</div>
					</a>
				</div>
                </script>
			</div>
			<ul class="txt">
				<script id="issueTxt-tmpl" type="text/x-jquery-tmpl">
				<li>
                    <a href="${url}" target = "_blank">
                    <span class="ranking blue">${rank}</span>
                    ${title}
                    </a>
                </li>
				</script>
			</ul>
		</div>
	</div>
  </article>
  <!-- //뉴스 -->
  <!-- 개념글 -->
  <article>
	<div class="content_box r_recommend">
	  <header>
	  <script id="recomTit-tmpl" type="text/x-jquery-tmpl">
		<h3 class="tit"><a href="${url}">개념글 <span class="sub">[<em>${gall_name} 갤러리</em>]</span></a></h3>
	  </script>
		<div class="pageing_box">
		  <div class="page_num">
			<strong class="now_num recomNum">1</strong>/<span class="total_num recomTotal">3</span>
		  </div>
		  <button type="button" class="btn_blueprev" id="recom_prev"><span class="blind">이전</span><em class="sp_img icon_blueprev"></em></button>
		  <button type="button" class="btn_bluenext on" id="recom_next"><span class="blind">다음</span><em class="sp_img icon_bluenext"></em></button>
		</div>
	  </header>
	  <ul class="rcont_list">
	  <script id="recomList-tmpl" type="text/x-jquery-tmpl">
		<li><a href="${url}">${title}</a></li>
	  </script>
	  </ul>
	</div>
  </article>
  <!-- //개념글 -->
</section>
<!-- right_content -->				
	
		</div>			
	</main>
	
	<!-- 하단 -->
<footer class="dcfoot type1">
 <div class="info_policy">
   <a href="https://www.dcinside.com/company">회사소개</a>   
   <a href="https://www.dcinside.com/company#alliance">제휴안내</a>
   <a href="https://nstatic.dcinside.com/dc/dcad/w/index.html">광고안내</a>
   <a href="https://nstatic.dcinside.com/dc/w/policy/policy_index.html">이용약관</a>
   <a href="https://nstatic.dcinside.com/dc/w/policy/privacy_index.html"><b>개인정보처리방침</b></a>
   <a href="https://nstatic.dcinside.com/dc/w/policy/youth_policy.html">청소년보호정책</a>
 </div>
 <div class="copyright">Copyright ⓒ 1999 - 2026 dcinside. All rights reserved.</div>
</footer>
<!-- //하단 -->
	
</div><!--//id:top-->

<input type="hidden" id="s_keyword" value="최면 마사지샵에서 생긴 일"/>

<script type="text/javascript" src="https://ssl.pstatic.net/adimg3.search/adpost/js/adpost_show_ads_v2.min.js"></script>
<script type="text/javascript">
var s_keyword = $('#s_keyword').val();

function handle_naver_ads_response(response) {
	if(typeof(response['error']) == 'undefined' && response['ads']['length']) {
		$('.ad_premium *').remove();
		
		var html = '<div class="clear">' +
				   '<h3 class="fl">파워링크 <span class="adicon sp_img"><em class="blind">광고</em></span></h3>' +
				   '<a href="https://saedu.naver.com/adbiz/searchad/intro.nhn" target="_blank" class="fr link_upinfo">등록안내</a>' +
				   '</div>' +
				   '<ul class="pwlink_list abundle">';

		var patt = eval('/'+ s_keyword +'/g');
					
		for(var i in response['ads']) {
		 	ad_array = response['ads'][i];
			var desc = new String(ad_array['description']);
		 	html += '<li>'+
					'<a href="'+ ad_array['clickUrl'] + '" target="_blank">' +
		 			'<span class="tit_txt">'+ ad_array['headline'] +'</span>'+
		 			'<span class="link_txt">'+ ad_array['displayUrl'] +'</span>'+
		 			'<p class="link_dsc_txt">'+ desc.replace(patt, '<strong>'+ s_keyword +'</strong>') +'</p>'+
					'</a>'+
		 			'</li>';
		}
		
		html += '</ul>';

		$('.ad_premium').append(html).show();
	}
	
	if($('.ad_premium').index() >= 0) {
		if($('.ad_premium').html().trim()) {
			$('.ad_premium').show();
		}
		else {
			$('.ad_premium').remove();
		}
	}
}

//<![CDATA[
NAVER_ADPOST_V2({ 
	channel: "dcinside.ch1",
	pageSize: 3, 
	url: location.href,
	query: s_keyword
}); 
//]]>
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-5149721-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-5149721-4');

  var f_u_no = '';
</script>
<!-- g4a 구글애널리틱스 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-V46B0SHSY7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-V46B0SHSY7'); 
</script>
<script src="https://gall.dcinside.com/_js/ad_audit.js?v=2605081354"></script>
</body>
</html>