<!DOCTYPE html>
<html lang="ko" class="darkmode">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="content-language" content="kr">
  <meta name="google-site-verification" content="8_SyZg2Wg3LNnCmFXzETp7ld4yjZB8ny17m8QsYsLwk">
  <meta name="author" content="디시인사이드">
  <meta name="title" content="디시인사이드 검색결과">
  <meta name="description" content="디시인사이드 검색결과">
  <meta property="og:type" content="website">
  <meta property="og:title" content="디시인사이드 검색결과">
  <meta property="og:description" content="디시인사이드 검색결과">
  <meta property="og:image" content="https://nstatic.dcinside.com/dc/w/images/descrip_img.png">
  <meta property="og:url" content="https://www.dcinside.com/">
    <meta name="msvalidate.01" content="575F4ACB57FA589778D58AFD8AEB4EED" />
  <title>디시인사이드 검색결과</title>
 	<!--[if IE 7]>
	<link rel="stylesheet" type="text/css" href="https://nstatic.dcinside.com/dc/w/css/ie7.css"/>
	<![endif]-->
		<script type="text/javascript" src="https://nstatic.dcinside.com/dgn/gallery/js/cross_domain.js"></script>
	<!--[if lt IE 9]>
	<script src="https://nstatic.dcinside.com/dgn/gallery/js/jquery-1.7.2.min.js"></script>
	<![endif]-->
	<!--[if gte IE 9]>
	<script src="https://nstatic.dcinside.com/dgn/gallery/js/jquery-3.2.1.min.js"></script>
	<![endif]-->
	<!--[if !IE]> -->
	    <script src="https://nstatic.dcinside.com/dgn/gallery/js/jquery-3.2.1.min.js"></script>
    	<!-- <![endif]-->
	<script type="text/javascript" src="https://nstatic.dcinside.com/dgn/gallery/js/jquery.tmpl.min.js"></script>
	<script type="text/javascript" src="https://nstatic.dcinside.com/dgn/gallery/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/_js/jquery/jquery.paging.js"></script>
	<script type="text/javascript" src="/_js/jquery/jquery.validate.js"></script>
	<script type="text/javascript" src="/_js/jquery/jquery.placeholder.min.js"></script>
	<script type="text/javascript" src="/_js/jquery/jquery.tmpl.min.js"></script>
	<script type="text/javascript" src="/_js/ctr_cookie.min.js"></script>
	<script type="text/javascript" src="/_js/common.js?v=251010-2"></script>
	<script type="text/javascript" src="/_js/common_json.js?v=2507"></script>
	<script type="text/javascript" src="/_js/navigation.js"></script>
	<script type="text/javascript" src="/_js/click_log.js"></script>
	<script type="text/javascript" src="https://gall.dcinside.com/_js/globalSearch.js?220331"></script>
	<script type="text/javascript" src="https://gall.dcinside.com/_js/crossDomainStorage.js?1"></script>
	<script type="text/javascript" src="https://gall.dcinside.com/_js/lately_visit_v1.js?3"></script>
	<script type="text/javascript" src="https://gall.dcinside.com/_js/favorite_v1.js?3"></script>
	<script type="text/javascript" src="https://gall.dcinside.com/_js/alarm_polling.js?2504"></script>
    <script type="text/javascript" src="https://gall.dcinside.com/_js/gallery_right_login.js?2504"></script>
	
	<script type="text/javascript">
		document.domain = "dcinside.com";
	</script>
	<link rel="shortcut icon" href="https://nstatic.dcinside.com/dc/w/images/logo_icon.ico"/>
	<link rel="stylesheet" type="text/css" href="https://nstatic.dcinside.com/dc/w/css/reset.css?v=2"/>
	<link rel="stylesheet" type="text/css" href="https://nstatic.dcinside.com/dc/w/css/common.css?250123-1"/>
  	<link rel="stylesheet" type="text/css" href="https://nstatic.dcinside.com/dc/w/css/contents.css?v=251117"/>
	<link rel="stylesheet" type="text/css" href="https://nstatic.dcinside.com/dc/w/css/popup.css?2203"/>
		<script type="text/javascript" src="https://nstatic.dcinside.com/dc/w/js/html5shiv.min.js"></script>
	<!--[if IE 7]>
		<Link Rel="Stylesheet" Type="Text/Css" Href="Https://Nstatic.Dcinside.Com/Dc/W/Css/Ie7.Css"/>
	<![Endif]-->

	<style type="text/css">
	.search_keylayer { left: 340px; }
	</style>
	
	<script type="text/javascript">
		//우측 상단 더보기
		function moreView1()
		{
			if(document.getElementById("gnb_layer2").style.display =="none")
			{
				document.getElementById("gnb_layer2").style.display ="block";
			}
			else {
				document.getElementById("gnb_layer2").style.display ="none";
			}
		}

	</script>
</head>

<body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-5149721-69', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>

<!--스킵 내비게이션-->
<div class="skip">
  <a href="#search_wrap"><span>통합검색 바로가기</span></a>
  <a href="#container"><span>본문영역 바로가기</span></a>
</div>
<!-- //스킵 내비게이션-->
<div id="top" class="dcwrap width1160 integrate_schwrap">
		
	<!-- 상단 -->
<header class="dcheader">
  <div class="dchead">
	<!-- 로고영역 -->
	<h1 class="dc_logo">
          <a href="https://www.dcinside.com/">
          	<img src="https://nstatic.dcinside.com/dc/w/images/dcin_logo.png" alt="디시인사이드" class="logo_img">          </a>          
          <a href="https://search.dcinside.com/">
          	<img src="https://nstatic.dcinside.com/dc/w/images/tit_integrate_search.png" alt="통합검색" class="logo_img2">          </a>
    </h1>
	<!-- //로고영역 -->

	<div id="search_wrap" class="wrap_search">
	  <h2 class="blind">갤러리 검색</h2>
	  <!-- 갤러리 통합검색 -->
	  <form  name="topSearchForm" id="searchform" method="get" action='' onSubmit="return globalSearch(this);" data-tab="post">
		<fieldset>
		  <legend class="blind">통합검색</legend>
		  <div  class="top_search clear">
			<div class="inner_search">
			  <input class="in_keyword" type="text" name="search" id="gn_top_search_0" title="검색어 입력" value="야뇌 백동수" placeholder="갤러리 & 통합검색" tabindex="1" accesskey="f" type="search" autocomplete="off" style="ime-mode:active;" onfocus="show_search_keywords(this)">
			</div>
			<button class="sp_img bnt_search btn_globalSearch"><span class="blind">검색</span></button>
			<button type="button" class="btn_visit" onclick="openLately()">최근 방문</button>
		  </div>
		</fieldset>
	  </form>
	  <!-- //갤러리 통합검색 -->
		<!-- 최근방문 레이어 -->
                <div id="visit_history_lyr" class="pop_wrap type2" style="left:0;top:45px;display:none;">
                  <div class="pop_content visit bookmk">
                    <div class="visitab_box">
                      <button type="button" onclick="tabLately('gall')" class="gallTab on">최근 방문</button>
                      <button type="button" onclick="tabLately('fav')" class="favTab">즐겨찾기</button>
                    </div>
                    <div class="tab_content">
                      
                      <!-- 최근방문 갤러리 리스트 -->
                      <div id ="gall_div">
					  <p class="gall_msg empty_box" style="display:none">최근 방문 갤러리가 없습니다.</p>
                      <ul class="pop_visit_list gall clear" style="display:block"></ul>
					  <script id="lyr_lately_galls-tmpl" type="text/x-jquery-tmpl">
                        <li class="lately_gall gall_${id}" style="display:none;">
                          <a href="https://${link}" class="lately_log" section="${id}">${name}</a>{{if type == 'MI'}}<em class="icon_mini">미니갤러리</em>{{/if}}
                          <button type="button" class="btn_del" style="outline:" data-id="${id}"><span class="blind" >삭제</span><em class="sp_img icon_del"></em></button>
                        </li>
					  </script>
					  </div>
					  
					  <!-- 즐겨찾기 리스트 -->
					   <div id ="fav_div">
					                        <p class="empty_box"><a href="https://sign.dcinside.com/login?s_url=https%3A%2F%2Fsearch.dcinside.com%2Fpost%2Fq%2F%25EC%2595%25BC%25EB%2587%258C%2520%25EB%25B0%25B1%25EB%258F%2599%25EC%2588%2598"><span>로그인</span> 후 이용 가능합니다.</a></p>
                      					  <script id="lyr_lately_favs-tmpl" type="text/x-jquery-tmpl">
						<li class ="lately_gall fav_${code_id}" style="display:none;"><a href="https://gall.dcinside.com/{{if type == 'MI'}}mini/{{/if}}${code_id}" class="">${name}</a>{{if type == 'MI'}}<em class="icon_mini">미니갤러리</em>{{else type == 'M'}}<em class="icon_minor">ⓜ</em>{{/if}}</li>
					  </script>
					 </div>
                    </div>
                     <div class="paging_btnbox">
                      <div class="inner">
                        <button type="button" class="btn_prev" id="lately_prev"><span class="blind">이전</span><em class="sp_img icon_prev"></em></button>
                        <div class="page_num page_gall">
						  <strong class="now_num">1</strong>/<span class="total_num">1</span>
                        </div>
						<div class="page_num page_fav" style="display:none;">
						  <strong class="now_num">1</strong>/<span class="total_num">1</span>
                        </div>
                        <button type="button" class="btn_next" id="lately_next"><span class="blind">다음</span><em class="sp_img icon_next"></em></button>
                      </div>
                      <button type="button" class="list_modi page_fav" style="display:none;" onclick="myFavorite('185')">편집</button>
						<!-- div class="pop_wrap type3" id = "my_favorite" style="right:12px;top:23px;display:none"></div-->
                    </div>

                  </div>
                </div>
                <!-- //최근방문 -->
	  <!-- 검색 자동완성 레이어-->
	  <div class="top_banner">
		</div>
		<!--자동완성 레어이 : display:block -->
	  <!--div class="auto_wordwrap" style="left:0;top:45px;display:none">
	  </div-->
	  <!-- //검색 자동완성 레이어 -->
	</div>
	<div class="area_links clear">
	  <ul class="fl clear">
		<li><a href="https://gall.dcinside.com/">갤러리</a></li>
		<li><a href="https://gall.dcinside.com/m">마이너갤</a></li>
		<li><a href="https://gall.dcinside.com/n">미니갤</a></li>
		<li><a href="https://gall.dcinside.com/p">인물갤</a></li>
		<li><a href="https://gallog.dcinside.com">갤로그</a></li>
		<li><a href="https://h5.dcinside.com/game/main">디시게임</a></li>
				<li><a href="https://event.dcinside.com">이벤트</a></li>
		<li><a href="https://mall.dcinside.com/?from=A08">디시콘</a></li>		
					<li><a href='https://sign.dcinside.com/login?s_url=https://search.dcinside.com/combine/q/%EC%95%BC%EB%87%8C%20%EB%B0%B1%EB%8F%99%EC%88%98' class="btn_top_loginout" target='_top'>로그인</a></li>
						
	  </ul>
	  <div class="fl darkmodebox">
		  <a href="javascript:;" class="darkonoff" onclick="darkmode()"><em class="sp_img icon_tdark"></em>야간모드</a>
		  <div class="pop_tipbox join_tip dark" onclick="$(this).hide();used_darkmode();" style="top:25px;left:-35px;display:none">
			<div class="inner">
			  <p class="join_txt">야간 모드를 이용해 보세요</p>
			</div>
		  </div>
	  </div>
	</div>
  </div>
</header>
<!-- //상단 -->
<!-- GNB -->
<div class="gnb_bar">
  <nav class="gnb clear">
	<h2 class="blind">GNB</h2>
	
	<ul class="gnb_list clear">
    	<li><a href="https://search.dcinside.com/combine/q/%EC%95%BC%EB%87%8C%20%EB%B0%B1%EB%8F%99%EC%88%98" class="">통합</a></li>
        <li><a href="https://search.dcinside.com/gallery/q/%EC%95%BC%EB%87%8C%20%EB%B0%B1%EB%8F%99%EC%88%98" class="">갤러리</a></li>
        <li><a href="https://search.dcinside.com/movie/q/%EC%95%BC%EB%87%8C%20%EB%B0%B1%EB%8F%99%EC%88%98" class="">동영상</a></li>
        <li><a href="https://search.dcinside.com/post/q/%EC%95%BC%EB%87%8C%20%EB%B0%B1%EB%8F%99%EC%88%98" class="on">게시물</a></li>
    </ul>

	<!-- 어제 게시글,댓글 등록 -->
	<div class="gall_exposure">
	  <div class="posts"><a href="https://gall.dcinside.com/board/lists/?id=dclottery">어제 <em class="num" id="total_content_count"></em> 게시글 등록</a></div>
	  <div class="reply"><a href="https://gall.dcinside.com/board/lists/?id=dclottery">어제 <em class="num" id="total_reple_count"></em> 댓글 등록</a></div>
	  <div class="gall">총 갤러리 수 <em class="num" id="total_gallery_count"></em></div>
	  <div class="ltr"><a href="https://gall.dcinside.com/board/lists/?id=dclottery">디시 로터리 응모</a></div>
	</div>
	<!-- /어제 게시글,댓글 등록 -->
  </nav>
</div>
<!-- //GNB -->	
	<main id="container" class="integrate_sch">
		<div class="group clear">
				
			<!-- left_content -->
<section  class="left_content">
  <h2 class="blind">통합검색 왼쪽 컨텐츠 영역</h2>
  <div>
	 
	<ins class="kakao_ad_area" style="display:none;" 
 data-ad-unit    = "DAN-Yy7BdlhGdOZBWriq" 
 data-ad-width   = "160" 
 data-ad-height  = "600"></ins> 
<script type="text/javascript" src="//t1.kakaocdn.net/kas/static/ba.min.js" async></script>
  </div>
</section>
<!-- //left_content -->
			
			<!-- center_content -->
			<section class="center_content">
			  <h2 class="blind">통합검색 가운데 컨텐츠 영역</h2>
			  <div class="inner">
			  
				<!-- 파워링크 -->
<div class="power_link ad_premium">
	</div>
<!-- //파워링크 -->

<!-- 게시물 검색결과 -->
<div class="integrate_cont sch_result result_all ">
  <div class="integrate_cont_head clear">
	<h3 class="fl">게시물</h3>
	<div class="btn_sort_box fr">
	  <!-- 최순순일때 클래스 new /  정확도일때 accuracy -->
	  <button class="btn_sort txt new" onclick="location.href='/post/q/%EC%95%BC%EB%87%8C%20%EB%B0%B1%EB%8F%99%EC%88%98'">최신순</button>
	  <button class="btn_sort txt " onclick="location.href='/post/sort/accuracy/q/%EC%95%BC%EB%87%8C%20%EB%B0%B1%EB%8F%99%EC%88%98'">정확도순</button>
	  <!-- <button class="btn_sort sp_img accuracy"><span class="blind">정확도</span></button> -->
	</div>
  </div>
  <ul class="sch_result_list">
  	<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=bg&no=1646107" target="_blank" class="tit_txt">토턈님 글 보니 <b>야뇌</b><b>백동수</b> 진짜 추억이내</a>
	  <p class="link_dsc_txt">여기 스작도 설이만큼 그작 개잘만난 양반이라 뇌절 침에도 작화때메 보는 맛이 있었는데 주인공 세계관 최강자에게 가르침 받고 본격적으로 적 조지러 떠나는 장면 끝으로 완결나버려서 얼탱없었음...</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=bg" target="_blank" class="sub_txt">뷰티풀 군바리</a><span class="date_time">2026.08.09 18:13</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/board/view/?id=comic_new6&no=1740494" target="_blank" class="tit_txt">옛날 <b>야뇌</b><b>백동수</b> 작가 존나 잘그렸던데</a>
	  <p class="link_dsc_txt">드라만 안봤는데 초딩때 아는형네 집에서 순식간에 다 봣던 기억 나네 이 작가도 다른작가들 처럼 웹툰하고 있을줄 알았는데 소식이 없노 작화 좀 더 요즘 트렌드맞게 간결하게 하면 작화만으로도 개빨렸을텐데</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/board/lists?id=comic_new6" target="_blank" class="sub_txt">만화</a><span class="date_time">2025.11.29 11:30</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/board/view/?id=theaterM&no=4505151" target="_blank" class="tit_txt">오늘 은콘 셋리다 얘들아</a>
	  <p class="link_dsc_txt">Who is Dorian? (뮤지컬 도리안 그레이) Kitsch (뮤지컬 엘리자벳) 너의 모든 순간 - 성시경 <b>야뇌</b> (드라마 무사 <b>백동수</b> OST) 에피소드 - 이무진 파노라마 - 이찬혁 Vaghissima Sembianza - 스테파노 도나우디 내...</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/board/lists?id=theaterM" target="_blank" class="sub_txt">연극, 뮤지컬</a><span class="date_time">2025.09.07 18:33</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/board/view/?id=comic_new4&no=9303411" target="_blank" class="tit_txt"><b>야뇌</b> <b>백동수</b> 재밋었는데</a>
	  <p class="link_dsc_txt">후속작 안나오나 - dc official App</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/board/lists?id=comic_new4" target="_blank" class="sub_txt">202402~202508 만화</a><span class="date_time">2025.08.17 13:34</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/board/view/?id=bitcoins_new1&no=7500607" target="_blank" class="tit_txt">코인하면서 할만한 것 알려줌</a>
	  <p class="link_dsc_txt">https://www.youtube.com/watch?v=QpVDH9YcRSA 여운(유승호) - 무사<b>백동수</b> MV OST : <b>야뇌</b> AcousticFan-MV by Joowal www.youtube.com 음악듣기</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/board/lists?id=bitcoins_new1" target="_blank" class="sub_txt">비트코인</a><span class="date_time">2024.12.27 01:22</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/board/view/?id=lgbt&no=8811574" target="_blank" class="tit_txt">노래 추천</a>
	  <p class="link_dsc_txt">https://www.youtube.com/watch?v=QpVDH9YcRSA 여운(유승호) - 무사<b>백동수</b> MV OST : <b>야뇌</b> AcousticFan-MV by Joowal www.youtube.com</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/board/lists?id=lgbt" target="_blank" class="sub_txt">LGBT</a><span class="date_time">2024.12.25 23:02</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/board/view/?id=lgbt&no=8806909" target="_blank" class="tit_txt">존나 잘생긴 사람 찾음</a>
	  <p class="link_dsc_txt">https://www.youtube.com/watch?v=QpVDH9YcRSA 여운(유승호) - 무사<b>백동수</b> MV OST : <b>야뇌</b> AcousticFan-MV by Joowal www.youtube.com 장발유승호 19살 시절</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/board/lists?id=lgbt" target="_blank" class="sub_txt">LGBT</a><span class="date_time">2024.12.25 01:10</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mini/board/view/?id=soopstreaming&no=73379" target="_blank" class="tit_txt">무사<b>백동수</b>&lt;&lt;은근재밌었음</a>
	  <p class="link_dsc_txt">노래가 특히 맘에듬 <b>야뇌</b> 고여 ㅆㅆㅆㅌㅊ</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mini/board/lists?id=soopstreaming" target="_blank" class="sub_txt">숲 스트리밍</a><span class="date_time">2024.12.13 02:48</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=comics&no=404941" target="_blank" class="tit_txt"><b>야뇌</b> <b>백동수</b> 본 사람 있누?</a>
	  <p class="link_dsc_txt">재밌음? - dc official App</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=comics" target="_blank" class="sub_txt">월간만화</a><span class="date_time">2024.10.09 21:04</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=takashitakeuchi&no=2103424" target="_blank" class="tit_txt">놀랍게도 드라마 작가들 태도는 나아진 거다</a>
	  <p class="link_dsc_txt">출판만화 때는 세레브한 드라마의 원작이 만화책인 건 수치인데스 이랬음바람의 나라랑 <b>야뇌</b> <b>백동수</b>한테 저지른 짓은 진짜 기기괴괴 수준임</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=takashitakeuchi" target="_blank" class="sub_txt">타케우치 타카시</a><span class="date_time">2024.08.19 17:43</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=alternative_history&no=1033520" target="_blank" class="tit_txt">편살) 그러고 보니 <b>백동수</b>도 슬슬 나오겠네</a>
	  <p class="link_dsc_txt">밑에 어떤 대붕이가 <b>야뇌</b> <b>백동수</b>가 언급하길래 생각이 났다</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=alternative_history" target="_blank" class="sub_txt">대체역사</a><span class="date_time">2024.07.12 19:26</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=alternative_history&no=1006222" target="_blank" class="tit_txt">편살)운명의 반작용?</a>
	  <p class="link_dsc_txt">예전에 <b>야뇌</b> <b>백동수</b>라는 만화에서 정순왕후가 사실 사도를 좋아했다 라는 스토리를 본적이 있는데 ㅋㅋㅋ 까교수님 작품은 새어머니가 며느리가 되버리네 ㅋㅋㅋ 니가 선택한 섬돌이니 받아들여라!</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=alternative_history" target="_blank" class="sub_txt">대체역사</a><span class="date_time">2024.05.08 19:44</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=bg&no=1570795" target="_blank" class="tit_txt">한복 어울리는 여캐 있을려나</a>
	  <p class="link_dsc_txt"><b>야뇌</b> <b>백동수</b></p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=bg" target="_blank" class="sub_txt">뷰티풀 군바리</a><span class="date_time">2024.04.30 15:31</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/board/view/?id=comic_new4&no=1293577" target="_blank" class="tit_txt">갑자기 사극 노래 존나 생각 안 나서 한 10분 고민하다 겨우 떠올림</a>
	  <p class="link_dsc_txt">무사 <b>백동수</b>에 나온 <b>야뇌</b>(박은태 Ver)였음</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/board/lists?id=comic_new4" target="_blank" class="sub_txt">202402~202508 만화</a><span class="date_time">2024.04.22 22:55</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=comics&no=323551" target="_blank" class="tit_txt">한국만화는 10년대 코믹챔프, 네웹 본 사람은 알텐데 그 때가 더 좋앗음</a>
	  <p class="link_dsc_txt">짱짱했음에도 불구하고 당시 같이 실린 한국만화들도 그냥저냥 꽤 재밋엇음. 나름 개성도 있엇고 (<b>야뇌</b><b>백동수</b>(드라마화), 짱, 다크 에어(웨스턴 샷건작가), 세실고등학교 등등) 위에가 일본만화 넘사벽 시장...</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=comics" target="_blank" class="sub_txt">월간만화</a><span class="date_time">2024.03.18 01:00</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=lostsaga&no=42389" target="_blank" class="tit_txt">프리미엄 용병 가치 높아진게 ㄹㅇ어이없네</a>
	  <p class="link_dsc_txt">일단 대충 나열해보면 하자마 <b>야뇌</b><b>백동수</b> 카오스레퍼드 트리니티 스페셜포스 서든어택 드레곤네스트 야가미이오리 라그나 진모리 나코루루 박일표 미르의전설 카오스다래 거너 이 정도만 있어도 복귀하고 나니...</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=lostsaga" target="_blank" class="sub_txt">로스트사가</a><span class="date_time">2024.02.25 16:02</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=lostsaga&no=41416" target="_blank" class="tit_txt">이번 프미 지들맘대로 프미주고 돈챙기면</a>
	  <p class="link_dsc_txt">IMH 홍진영 쏘스뮤직 여자친구 웹툰프리스트트레이스 김윤성갓오브하이스쿨유미라 진모리드라마<b>야뇌</b> <b>백동수</b>창천온라인창천협객드래곤네스트어쌔신 칼리아크 시스템 웍스라그나하자마진키레이첼하쿠멘트리니티SNK...</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=lostsaga" target="_blank" class="sub_txt">로스트사가</a><span class="date_time">2024.02.07 10:44</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=aoegame&no=25484905" target="_blank" class="tit_txt">이번 밸로프 게임사 사건</a>
	  <p class="link_dsc_txt">IMH 홍진영 쏘스뮤직 여자친구 웹툰프리스트트레이스 김윤성갓오브하이스쿨유미라 진모리드라마<b>야뇌</b> <b>백동수</b>창천온라인창천협객드래곤네스트어쌔신 칼리아크 시스템 웍스 라그나 하자마 진키 레이첼 하쿠멘...</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=aoegame" target="_blank" class="sub_txt">중세게임</a><span class="date_time">2024.02.07 10:39</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=lostsaga&no=41414" target="_blank" class="tit_txt">이번사건 폭로 해야함</a>
	  <p class="link_dsc_txt">IMH 홍진영 쏘스뮤직 여자친구 웹툰프리스트트레이스 김윤성갓오브하이스쿨유미라 진모리드라마<b>야뇌</b> <b>백동수</b>창천온라인창천협객드래곤네스트어쌔신 칼리아크 시스템 웍스라그나하자마진키레이첼하쿠멘트리니티SNK...</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=lostsaga" target="_blank" class="sub_txt">로스트사가</a><span class="date_time">2024.02.07 10:33</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=qjxkznrjwu&no=23199" target="_blank" class="tit_txt">자꾸 틀딱 한명이 성시경 노래 음역대 낮다고 개소리 하는데</a>
	  <p class="link_dsc_txt">더원 - 그대라서 더원 - 사랑아 로이킴 - 그때로 돌아가 로이킴 - 어쩌면 나 박은태 - <b>야뇌</b> (Acoustic) &#39;무사 <b>백동수</b> OST&#39; 박효신 - 그 날(미스터 션샤인 ost) 박효신 - 숨 버즈 - 겁쟁이 뱅크(BANK) - 가질 수...</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=qjxkznrjwu" target="_blank" class="sub_txt">트위치 방송</a><span class="date_time">2023.09.29 03:54</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/board/view/?id=policeofficer&no=1243924" target="_blank" class="tit_txt">너네 무사 <b>백동수</b> 아는애 있냐???</a>
	  <p class="link_dsc_txt">이고 ost중 빅마마가 부른 <b>야뇌</b> 들으면서 운동해바라 진짜 지리게 잘된다 나믿고 ㄱㄱ</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/board/lists?id=policeofficer" target="_blank" class="sub_txt">순경</a><span class="date_time">2023.08.29 20:53</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=cartoonist&no=150992" target="_blank" class="tit_txt">캬~ 진짜 출판작가출신이 작화는 죽이긴함.</a>
	  <p class="link_dsc_txt">네이버 신작 우투리봤더니 작화가 개쩔기래 알아보닌간 예전에 &#39;<b>야뇌</b> <b>백동수</b>&#39; 작가팀이네. 글작가. 그림작가 동일 예전에 이 작가팀 드마라 &#39;무사 <b>백동수</b>&#39; 과련으로 빡돌아서 만화가 안한다고 들었던거 같은데...</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=cartoonist" target="_blank" class="sub_txt">만화가지망생</a><span class="date_time">2023.03.28 15:19</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=tgijjdd&no=649611" target="_blank" class="tit_txt">영상화 대박쳤는데 인센 1000만원 받았던 작품</a>
	  <p class="link_dsc_txt">무사 <b>백동수</b> <b>야뇌</b> <b>백동수</b>란 만화 원작의 드라마로 드라마 시청률은 17%정도로 당시 월화드라마 중에선 최고 시청률로 대박 터트림 그런데 원작자한테 돌아간 인센은 1000만원 스작 그림작가 따로여서 각각 500만...</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=tgijjdd" target="_blank" class="sub_txt">웹소설 연재</a><span class="date_time">2022.06.13 15:36</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/board/view/?id=comic_new3&no=3861663" target="_blank" class="tit_txt">&#39;<b>야뇌</b>&#39; <b>백동수</b> 왤케 간지남</a>
	  <p class="link_dsc_txt">정조때 무인의 호라는데 굶주릴 야 들 뇌래 조선 무인들 모아놓은 장용영에서 인재(靭齋)는 홀로 다른 세상에서 노니는 듯 했다 이런 평가를 받았다고 함 개간지노 ㅋㅋ</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/board/lists?id=comic_new3" target="_blank" class="sub_txt">202110~202402 만화</a><span class="date_time">2022.05.29 03:57</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=lostsaga&no=25134" target="_blank" class="tit_txt">용병별 공략 모음 (2022.01.15)</a>
	  <p class="link_dsc_txt">솔배드가이 스페셜포스 카오스다래 진키사라기 거상왕소룡 퇴마록현암 마법창병 프리스트 라그나 <b>야뇌</b><b>백동수</b> 하자마 창천협객 메이 카오스레퍼드 레이첼 야가미 이오리 하오마루 시라누이 마이 유미라 쿠사나기...</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=lostsaga" target="_blank" class="sub_txt">로스트사가</a><span class="date_time">2022.01.15 23:48</span></p>
	</li>
	  </ul>

</div>
				
			  </div>
			  
			  
<!-- 하단 통합 검색-->
<div class="integrate_buttom_search">
<!-- 페이징 -->
<div class="bottom_paging_box iconpaging" id="dgn_btn_paging"><em>1</em><a href="/post/p/2/q/%EC%95%BC%EB%87%8C%20%EB%B0%B1%EB%8F%99%EC%88%98">2</a><a href="/post/p/3/q/%EC%95%BC%EB%87%8C%20%EB%B0%B1%EB%8F%99%EC%88%98">3</a></div><!-- //페이징 -->

<form name="bottomSearchForm" method="get" action='https://search.dcinside.com/combine/' onSubmit="return globalSearch(this);">
  <fieldset>
	<legend class="blind">통합검색</legend>
	<div class="buttom_search_wrap clear">
	  <div class="bottom_search fl clear">
		<div class="inner_search">
		  <input class="in_keyword" name="search" title="검색어 입력" type="text" value="야뇌 백동수">
		</div>
		<button class="sp_img bnt_search btn_globalSearch" type="submit"><span class="blind">검색</span></button>
	  </div>
	</div>
  </fieldset>
</form>
</div>
<!-- //하단 통합 검색-->
			  
			  			  
			</section>
			
			<!-- right_content -->
<section  class="right_content">
  <h2 class="blind">통합검색 오른쪽 컨텐츠 영역</h2>
  <!-- 다음 검색 -->
  <article>
	<div class="content_box r_only_daum">
	  <header class="clear">
      	<h3 class="tit fl"><a href="">다음 검색</a></h3>
        <div class="fr">
        	<a href="https://daum.net" class="inner_txt">제공 Daum 검색</a><button type="button" onclick="$('.daum_tip').show();"><span class="blind">다음검색이란</span><em class="sp_img icon_tip_open"></em></button>
        </div>
        <div class="pop_tipbox daum_tip" style="left:0px;top:11px;display:none"><!-- 220419 left,top값 수정-->
        	<div class="inner">
                    검색어를 누르면, Daum 검색결과로 이동합니다.
            	<button type="button" class="btn_tipclose" onclick="$('.daum_tip').hide();"><span class="blind">닫기</span><em class="sp_img icon_tipclose"></em></button>
            </div>
        </div>
      </header>
	  <div class="only_daum_area">
		<form onsubmit="return false;">
		  <fieldset>
			<legend class="blind">다음 검색</legend>
			<div class="small_searchbox clear">
			  <input class="small_in_keyword" type="text" title="검색어 입력" onkeydown="javascript:if(event.keyCode==13){searchKaKao();};">
			  <input type="hidden" class="origin_keyword" name="origin_keyword" value=""/>
			  <button class="btn_iconsearch logClass" type="submit" onClick="searchKaKao();" depth1="daum_search" depth2="daum_search_click_log" depth3="pc_search_btn"><span class="blind">검색</span><em class="sp_img icon_smallsearch"></em></button>
			  <button class="bnt_smallsearch logClass" type="submit" onClick="searchKaKao();" depth1="daum_search" depth2="daum_search_click_log" depth3="pc_search_btn">다음 검색</button>

			  <!-- 검색 자동완성 레이어-->
			  <div class="auto_wordwrap small" style="left:-1px;top:28px;display:none"><!--자동완성 레어이 : display:block -->
				<div class="auto_word" >
				  <div class="word_box">
					<h3 class="blind">실기간 검색결과</h3>
					<ul class="word_list">
					</ul>
				  </div>
				</div>
				<div class="word_close"><a href="javascript:hideLyr()" class="sp_img btn_close"><span class="blind">자동완성 레이어 닫기</span></a></div>
			  </div>
			  <!-- //검색 자동완성 레이어 -->
			</div>
		  </fieldset>
		</form>
		<div class="fix_element">
		  <a href="https://search.daum.net/search?&amp;w=tot&amp;DA=DIK&amp;q=%EB%82%A0%EC%94%A8+%ED%98%84%EC%9C%84%EC%B9%98" target="_blank" class="fix_txt logClass" depth1="daum_search" depth2="daum_search_click_log" depth3="pc_weather">날씨</a>
		  <a href="https://search.daum.net/search?&amp;w=tot&amp;DA=DIK&amp;q=%EC%9A%B4%EC%84%B8" target="_blank" class="fix_txt logClass" depth1="daum_search" depth2="daum_search_click_log" depth3="pc_fortune">운세</a>
		  <a href="https://search.daum.net/search?&amp;w=tot&amp;DA=DIK&amp;q=%ED%99%98%EC%9C%A8" target="_blank" class="fix_txt logClass" depth1="daum_search" depth2="daum_search_click_log" depth3="pc_exchange">환율</a>
		</div>
	  </div>
	</div>
  </article>
  <!-- //다음 검색 -->
  <!-- 실시간 베스트 -->
  <article>
  	<div class="content_box r_timebest">
    	<header>
        	<h3 class="tit"><a href="https://gall.dcinside.com/board/lists?id=dcbest">실시간 베스트</a></h3>
            <div class="pageing_box">
            	<div class="page_num">
                	<strong class="now_num realtimeNum">1</strong>/<span class="total_num realtimeTotal">8</span>
                </div>
                <button type="button" class="btn_blueprev " id="realtime_prev"><span class="blind">이전</span><em class="sp_img icon_blueprev"></em></button>
                <button type="button" class="btn_bluenext on" id="realtime_next"><span class="blind">다음</span><em class="sp_img icon_bluenext"></em></button>
            </div>
        </header>
        <div class="rcont_imgtxt_box">
        	<div class="img">
        	            	<div class="rcontimg_box" >
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452723" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73fe785fa11d028318f176c8dd1b3ddcdc44efd17ee73eef2ce5a27af00e52b8042a368dec4e6a807210442dc41d79aa274d1414d5957c6742d9703f0cba2fd13d01de4a76e331e89b95a92828957facc3ba78639ebe5b9" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>채널a) "왜 술 마시고 와"..기원에서 60대 흉기살인</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" >
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452751" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73de785fa11d028311db29c13695a307ccacddb30f5fe15e91893180bff7b79150fdbb3421d70997daf08c0bbc123c85cb742b33a1e4f0ab2a413945167d594b2c80841a6177d167a8fb7a5858a60a345828abe" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>정부, 서울 2만7천가구 공급 속도낸다</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452786" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73ce785fa11d02831e402f11b4aff5112a47efe1982b9258f5b729307e244fa5ad137e7326c9cca921c61946ed9bd0a28ae0f5dd0137dbd2aedf7384fe28aecdbb722365b223899d89d" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>안규백, 사실상 간첩 선언ㅋㅋㅋㅋ</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452800" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73de785fa11d028311db29c13695a307ccacddb30f4f715e914dbb2bdb45df75757c069b3a4d84d1bada725750545eefbdcf80bc02c56d068dfa636a2b63e5836ef6d64e60ded76fbe335cd85760ef41ec7f110" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>환불 미루다 연락두절…여행사 피해주의보</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452781" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73fe785fa11d028318f176c8dd1b3ddcdc44efd17ef7aeef2e0ba49df41673f4f9c9b59d4006ec88cfe6142c157b5080dd96db1d0088e58bc74bd7bf0cec16442d72f6567a9b5196b5e1344106b24ae4c5baefacd980367399ac075373f162018418132f9ebce" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>“뒤집힌 보트 붙잡고 8시간”…인천 앞바다 낚시객 3명 극적 구조</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452696" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73de785fa1bd62531de535045b081fc7000c7a81cd8d3c829c98781a81870a15220db615ff3d8ff98cc5415f71d5a811cea16f76a5ddf0727e8a7a879d30904f72b1d" alt="" style="{"top":"-0.30"}top:-39px;">
                        </span>
                        <div class="txt_box">
                        	<strong>LA보안관의 하나회, 보안관보 갱단(Deputy Gangs)</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452762" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73fe785fa11d028318f176c8dd1b3ddcdc44efd17ee73eef2ce5a27af00e52b8042a368dec4e6a807210441de44d49ba47ad44d4359029e74cdafbd9fcc39dd9f9b87eabbb1eb632e84c9da39992f408f55597d66ebd47e" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>kbs) 남는 전기 '전기차' 저장..차주 '수익원' 될까</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452708" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73fe785fa11d028318f176c8dd1b3ddcdc44efd17ee73eef48cd8b34415de0392004ad274f6e822343c4d2ba02e6533ac8de7457f722a6abf1f0bc2e4a67945f673405a0b92bd64c8162c5d2e38a22f34ca6a11750d44ec303a55d15c0b4d25" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>미국 넘어온지 1년동안의 이야기</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452688" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73de785fa11d028311db29c13695a307ccacddb30f5fe15f4f1e742db7f56a8d2fdc8c574c85f08cfef4c97e904c5d228ea66a3e05defa3e4172f097b996e33b3fba3530c6707a0f2f603700d12" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>싱글벙글 의외로 열강들도 손절했던 짓</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452765" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73de785fa11d028311db29c13695a307ccacddb30f5fe15e8a73ff3c6c3c72e65fe0ad4fe0d7d2c3b98a7bf2b36d7892fb067f4c253ade7bb3d094c01df7d83e3353258491a67d1dac4a8786b2e57fece78e0d7422087e72a85cbf4ae66c3e94a" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>이동진 오디세이 평점</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452715" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73de785fa11d028311db29c13695a307ccacddb30f5ff15f4f4d3d1f096c3be3a6ed9772721455c6ad1eb992420fc480f8f25d5410e070a977ebd85bbba24e650e06e25feb9a61b213487d812ec92ef0efcbedebb95639c586911" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>싱글벙글 7년 전 투포환 유망주로 나왔던 초등학생 근황</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452783" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73de785fa1bd62531de535045b081fc7000c7a81cd8d3c9291eef68182b311352d1eca8194ab869817b0901bf3e479e3c1c1e476b2133cdfbd799" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>유퀴즈 출연한 서울대 신입생.JPG</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452712" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73fe785fa11d028318f176c8dd1b3ddcdc44efd17ee73eef2ce5a27af00e52b8042a368dec4e6a80721044fdd49d492a374d5464559509f26cc2be8d49b8f15b122a7d9fbf428a7a55e022f2804bfcd3de1dfa960a73892" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>일본축협 "한국축협 성접대, 심판 4명 조사..결과 발표할것"</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452814" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73fe785fa11d028318f176c8dd1b3ddcdc44efd17ef7aeef5654e29f12c0b0ae888438dcc86f0913df69af61acffaa58f8bfd95a53df8dd4091b37af3f41c8392fce4bd90df64dc13dd4b540d879523e6a659887bb7d4606a" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>50대 잔치된 ‘국민성장펀드’…9월 2차 공모는 ‘청년·서민’ 정조준</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452721" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73fe785fa11d028318f176c8dd1b3ddcdc44efd17ee73eef0d29a85bc5c8765a664b11779e62a7a385add29871e986b804874d0c164c74c0a4fb69c229fe687bc" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>[오피셜] 이강인 실점 빌미....gif</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452735" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73de785fa11d028311db29c13695a307ccacddb30f5fe15f4f1e742db7f56a8d2fdc8c574c85f08cfea4e90ec07c5d42ee667a3e45de3f6e5fe4f4bf485b930b9876c7552d69fdcea9d82d5609e" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>국뽕국뽕 최대 다국적해군훈련 림팩에서 1등했다는 한국해군</strong>
                        </div>
                    </a>
                 </div>
             
                          </div>
             <ul class="txt">
                          	<li ><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452726">일하고 있는 엄마에게 밥 가져다 달라는 아들</a></li>
                         	<li ><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452724">인천공항, 노숙인 퇴거명령 논란</a></li>
                         	<li ><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452698">타츠키 성지순례 feat.레제&룩백</a></li>
                         	<li ><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452789">최예나 워터밤 디바 코스프레 ㄷㄷ</a></li>
                         	<li ><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452757">의외로 젠슨황이 샤라웃한 가수</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452772">승무원 만날수있으면 만나라는 블라인..ㄹㅇ</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452784">싱글벙글 드디어 금메달에 도전한다는 한국 육상</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452775">싱글벙글 근본없는 호주 대표음식.jpg</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452705">ISA 개편안·주가누르기 법안 전면 재검토</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452753">오들오들 911촌</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452754">유투버 단군 [오디세이] 평점</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452771">‘출장지서 1분 만에 퇴근’상습 근태 불량 SK하이닉스 직원 해고 정당</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452807">하영 증조부 친일파 논란</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452812">“이태원 참사 119 무전 조작·누락 의혹”…유가족, 첫 형사고소</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452790">지방선거 투표수 수백명씩 엇갈려…조작 의혹</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452756">블랙핑크 때문에 국중박 통제</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452686">귀여운 수녀님이 다른 여자랑 몸싸움 벌이는.manhwa</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452701">적의 적은 나의 친구, 미생물제초제</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452714">[금주의 신상] 8월 2주차 신제품 먹거리 모음.jpg</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452732">“나 반포살지롱∼센트럴 버스하우스에” 2030 분노의 조롱 밈</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452747">정청래, 李 대통령을 또 ‘이명박’으로 잘못 지칭 말 실수</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452738">후티 반군 "사우디 정유시설 드론 타격"…사우디 "인명피해 없어"</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452717">홍콩 아파트 참사 원인, 담뱃불 가능성</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452763">대부분 한국 쓰레기"…日 명소에 버려진 '안산시 종량제봉투'</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452739">싱글벙글 위고비,마운자로가 한국에서 위험한 이유</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452750">애플, 창신 메모리 초기 공급 협상 시작</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452720">jtbc) 동해안 물폭탄..영남은 바짝타는 가뭄</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452709">싱글벙글 일본에 처음 온 미국인이 먹은 코스 요리...jpg</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452792">아이맥스 떡밥에 올려보는 아이맥스 작례</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452729">군 탱크·자주포 기름닦는 수입포 9개월째 ‘재고없음’…이번이 처음</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452748">손주 돌보려고 집 비운건데 비거주면 다 투기냐 정부 세제개편 민원 폭주 </a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452798">중국 상륙 '돌핀'...상하이 곳곳 침수, 항공편 대거 결항</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452778">8월 10일 시황</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452691">[핑계고] 풍향중에서 들렀다가 충격 받은 지역</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452780">안민석, 악성 학부모 고발…“선생님 협박 용납 못해”</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452766">싱글벙글 LG전자에서 만든 집</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452693">자기보다 키 작으면 칵테일 바 무료라는 일본인</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452730">말다툼 끝에 어머니 살해한 10대, 반려견도 죽여</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452759">안녕하세요 32번째낙오자들입니다 별거아니에요 (20장)</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452703">카메라와 함께, 다시 찾은 고베</a></li>
            	
             </ul>
		</div>
     </div>
  </article>  
  <!--  //실시간 베스트 -->
   <!-- 뉴스 -->
  <article>
	<div class="content_box r_dcmedia">
	  <header >
        	<h3 class="tit mediaTab"><a href="javascript:mediaTabMove('media');">디시미디어</a></h3>
        	<h3 class="tit issueTab"><a href="javascript:mediaTabMove('issue');">디시이슈</a></h3>
		<div class="pageing_box">
		  <div class="page_num">
			<strong class="now_num newsNum">1</strong>/<span id="newsTotal" class="total_num newsTotal">2</span>
		  </div>
		  <button type="button" class="btn_blueprev " id="news_prev"><span class="blind">이전</span><em class="sp_img icon_blueprev"></em></button>
		  <button type="button" class="btn_bluenext on" id="news_next"><span class="blind">다음</span><em class="sp_img icon_bluenext"></em></button>
		</div>
	  </header>
        <div class="rcont_imgtxt_box r_media_box" style="display:none;">
			<div class="img clear">
				<script id="mediaImg-tmpl" type="text/x-jquery-tmpl">
				<div class="rcontimg_box">
					<a class="inner" href="${link}" target = "${link.indexOf('https://gall.dcinside.com') === 0 ? '_self' : '_blank'}">
						<span class="img_box">
						<img src="${thumb_img}" alt="">
						</span>
						<div class="txt_box">
							<strong>${title}</strong>
						</div>
					</a>
				</div>
                </script>
			</div>
			<ul class="txt">
				<script id="mediaTxt-tmpl" type="text/x-jquery-tmpl">
				<li><a href="${link}" target = "${link.indexOf('https://gall.dcinside.com') === 0 ? '_self' : '_blank'}">${title}</a></li>
				</script>
			</ul>
		</div>
		<div class="rcont_imgtxt_box dcissue r_issue_box" style="display:none;">
			<div class="img clear">
				<script id="issueImg-tmpl" type="text/x-jquery-tmpl">
				<div class="rcontimg_box">
					<a class="inner" href="${url}" target = "_blank">
						<span class="img_box">
						<img src="${dc_img}" alt="">
						</span>
						<div class="txt_box">
                            <span class="ranking blue">${rank}</span>
							<strong>${title}</strong>
						</div>
					</a>
				</div>
                </script>
			</div>
			<ul class="txt">
				<script id="issueTxt-tmpl" type="text/x-jquery-tmpl">
				<li>
                    <a href="${url}" target = "_blank">
                    <span class="ranking blue">${rank}</span>
                    ${title}
                    </a>
                </li>
				</script>
			</ul>
		</div>
	</div>
  </article>
  <!-- //뉴스 -->
  <!-- 개념글 -->
  <article>
	<div class="content_box r_recommend">
	  <header>
	  <script id="recomTit-tmpl" type="text/x-jquery-tmpl">
		<h3 class="tit"><a href="${url}">개념글 <span class="sub">[<em>${gall_name} 갤러리</em>]</span></a></h3>
	  </script>
		<div class="pageing_box">
		  <div class="page_num">
			<strong class="now_num recomNum">1</strong>/<span class="total_num recomTotal">3</span>
		  </div>
		  <button type="button" class="btn_blueprev" id="recom_prev"><span class="blind">이전</span><em class="sp_img icon_blueprev"></em></button>
		  <button type="button" class="btn_bluenext on" id="recom_next"><span class="blind">다음</span><em class="sp_img icon_bluenext"></em></button>
		</div>
	  </header>
	  <ul class="rcont_list">
	  <script id="recomList-tmpl" type="text/x-jquery-tmpl">
		<li><a href="${url}">${title}</a></li>
	  </script>
	  </ul>
	</div>
  </article>
  <!-- //개념글 -->
</section>
<!-- right_content -->				
	
		</div>			
	</main>
	
	<!-- 하단 -->
<footer class="dcfoot type1">
 <div class="info_policy">
   <a href="https://www.dcinside.com/company">회사소개</a>   
   <a href="https://www.dcinside.com/company#alliance">제휴안내</a>
   <a href="https://nstatic.dcinside.com/dc/dcad/w/index.html">광고안내</a>
   <a href="https://nstatic.dcinside.com/dc/w/policy/policy_index.html">이용약관</a>
   <a href="https://nstatic.dcinside.com/dc/w/policy/privacy_index.html"><b>개인정보처리방침</b></a>
   <a href="https://nstatic.dcinside.com/dc/w/policy/youth_policy.html">청소년보호정책</a>
 </div>
 <div class="copyright">Copyright ⓒ 1999 - 2026 dcinside. All rights reserved.</div>
</footer>
<!-- //하단 -->
	
</div><!--//id:top-->

<input type="hidden" id="s_keyword" value="야뇌 백동수"/>

<script type="text/javascript" src="https://ssl.pstatic.net/adimg3.search/adpost/js/adpost_show_ads_v2.min.js"></script>
<script type="text/javascript">
var s_keyword = $('#s_keyword').val();

function handle_naver_ads_response(response) {
	if(typeof(response['error']) == 'undefined' && response['ads']['length']) {
		$('.ad_premium *').remove();
		
		var html = '<div class="clear">' +
				   '<h3 class="fl">파워링크 <span class="adicon sp_img"><em class="blind">광고</em></span></h3>' +
				   '<a href="https://saedu.naver.com/adbiz/searchad/intro.nhn" target="_blank" class="fr link_upinfo">등록안내</a>' +
				   '</div>' +
				   '<ul class="pwlink_list abundle">';

		var patt = eval('/'+ s_keyword +'/g');
					
		for(var i in response['ads']) {
		 	ad_array = response['ads'][i];
			var desc = new String(ad_array['description']);
		 	html += '<li>'+
					'<a href="'+ ad_array['clickUrl'] + '" target="_blank">' +
		 			'<span class="tit_txt">'+ ad_array['headline'] +'</span>'+
		 			'<span class="link_txt">'+ ad_array['displayUrl'] +'</span>'+
		 			'<p class="link_dsc_txt">'+ desc.replace(patt, '<strong>'+ s_keyword +'</strong>') +'</p>'+
					'</a>'+
		 			'</li>';
		}
		
		html += '</ul>';

		$('.ad_premium').append(html).show();
	}
	
	if($('.ad_premium').index() >= 0) {
		if($('.ad_premium').html().trim()) {
			$('.ad_premium').show();
		}
		else {
			$('.ad_premium').remove();
		}
	}
}

//<![CDATA[
NAVER_ADPOST_V2({ 
	channel: "dcinside.ch1",
	pageSize: 3, 
	url: location.href,
	query: s_keyword
}); 
//]]>
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-5149721-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-5149721-4');

  var f_u_no = '';
</script>
<!-- g4a 구글애널리틱스 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-V46B0SHSY7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-V46B0SHSY7'); 
</script>
<script src="https://gall.dcinside.com/_js/ad_audit.js?v=2605081354"></script>
</body>
</html>