<!DOCTYPE html>
<html lang="ko" class="darkmode">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="content-language" content="kr">
  <meta name="google-site-verification" content="8_SyZg2Wg3LNnCmFXzETp7ld4yjZB8ny17m8QsYsLwk">
  <meta name="author" content="디시인사이드">
  <meta name="title" content="디시인사이드 검색결과">
  <meta name="description" content="디시인사이드 검색결과">
  <meta property="og:type" content="website">
  <meta property="og:title" content="디시인사이드 검색결과">
  <meta property="og:description" content="디시인사이드 검색결과">
  <meta property="og:image" content="https://nstatic.dcinside.com/dc/w/images/descrip_img.png">
  <meta property="og:url" content="https://www.dcinside.com/">
    <meta name="msvalidate.01" content="575F4ACB57FA589778D58AFD8AEB4EED" />
  <title>디시인사이드 검색결과</title>
 	<!--[if IE 7]>
	<link rel="stylesheet" type="text/css" href="https://nstatic.dcinside.com/dc/w/css/ie7.css"/>
	<![endif]-->
		<script type="text/javascript" src="https://nstatic.dcinside.com/dgn/gallery/js/cross_domain.js"></script>
	<!--[if lt IE 9]>
	<script src="https://nstatic.dcinside.com/dgn/gallery/js/jquery-1.7.2.min.js"></script>
	<![endif]-->
	<!--[if gte IE 9]>
	<script src="https://nstatic.dcinside.com/dgn/gallery/js/jquery-3.2.1.min.js"></script>
	<![endif]-->
	<!--[if !IE]> -->
	    <script src="https://nstatic.dcinside.com/dgn/gallery/js/jquery-3.2.1.min.js"></script>
    	<!-- <![endif]-->
	<script type="text/javascript" src="https://nstatic.dcinside.com/dgn/gallery/js/jquery.tmpl.min.js"></script>
	<script type="text/javascript" src="https://nstatic.dcinside.com/dgn/gallery/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/_js/jquery/jquery.paging.js"></script>
	<script type="text/javascript" src="/_js/jquery/jquery.validate.js"></script>
	<script type="text/javascript" src="/_js/jquery/jquery.placeholder.min.js"></script>
	<script type="text/javascript" src="/_js/jquery/jquery.tmpl.min.js"></script>
	<script type="text/javascript" src="/_js/ctr_cookie.min.js"></script>
	<script type="text/javascript" src="/_js/common.js?v=251010-2"></script>
	<script type="text/javascript" src="/_js/common_json.js?v=2507"></script>
	<script type="text/javascript" src="/_js/navigation.js"></script>
	<script type="text/javascript" src="/_js/click_log.js"></script>
	<script type="text/javascript" src="https://gall.dcinside.com/_js/globalSearch.js?220331"></script>
	<script type="text/javascript" src="https://gall.dcinside.com/_js/crossDomainStorage.js?1"></script>
	<script type="text/javascript" src="https://gall.dcinside.com/_js/lately_visit_v1.js?3"></script>
	<script type="text/javascript" src="https://gall.dcinside.com/_js/favorite_v1.js?3"></script>
	<script type="text/javascript" src="https://gall.dcinside.com/_js/alarm_polling.js?2504"></script>
    <script type="text/javascript" src="https://gall.dcinside.com/_js/gallery_right_login.js?2504"></script>
	
	<script type="text/javascript">
		document.domain = "dcinside.com";
	</script>
	<link rel="shortcut icon" href="https://nstatic.dcinside.com/dc/w/images/logo_icon.ico"/>
	<link rel="stylesheet" type="text/css" href="https://nstatic.dcinside.com/dc/w/css/reset.css?v=2"/>
	<link rel="stylesheet" type="text/css" href="https://nstatic.dcinside.com/dc/w/css/common.css?250123-1"/>
  	<link rel="stylesheet" type="text/css" href="https://nstatic.dcinside.com/dc/w/css/contents.css?v=251117"/>
	<link rel="stylesheet" type="text/css" href="https://nstatic.dcinside.com/dc/w/css/popup.css?2203"/>
		<script type="text/javascript" src="https://nstatic.dcinside.com/dc/w/js/html5shiv.min.js"></script>
	<!--[if IE 7]>
		<Link Rel="Stylesheet" Type="Text/Css" Href="Https://Nstatic.Dcinside.Com/Dc/W/Css/Ie7.Css"/>
	<![Endif]-->

	<style type="text/css">
	.search_keylayer { left: 340px; }
	</style>
	
	<script type="text/javascript">
		//우측 상단 더보기
		function moreView1()
		{
			if(document.getElementById("gnb_layer2").style.display =="none")
			{
				document.getElementById("gnb_layer2").style.display ="block";
			}
			else {
				document.getElementById("gnb_layer2").style.display ="none";
			}
		}

	</script>
</head>

<body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-5149721-69', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>

<!--스킵 내비게이션-->
<div class="skip">
  <a href="#search_wrap"><span>통합검색 바로가기</span></a>
  <a href="#container"><span>본문영역 바로가기</span></a>
</div>
<!-- //스킵 내비게이션-->
<div id="top" class="dcwrap width1160 integrate_schwrap">
		
	<!-- 상단 -->
<header class="dcheader">
  <div class="dchead">
	<!-- 로고영역 -->
	<h1 class="dc_logo">
          <a href="https://www.dcinside.com/">
          	<img src="https://nstatic.dcinside.com/dc/w/images/dcin_logo.png" alt="디시인사이드" class="logo_img">          </a>          
          <a href="https://search.dcinside.com/">
          	<img src="https://nstatic.dcinside.com/dc/w/images/tit_integrate_search.png" alt="통합검색" class="logo_img2">          </a>
    </h1>
	<!-- //로고영역 -->

	<div id="search_wrap" class="wrap_search">
	  <h2 class="blind">갤러리 검색</h2>
	  <!-- 갤러리 통합검색 -->
	  <form  name="topSearchForm" id="searchform" method="get" action='' onSubmit="return globalSearch(this);" data-tab="post">
		<fieldset>
		  <legend class="blind">통합검색</legend>
		  <div  class="top_search clear">
			<div class="inner_search">
			  <input class="in_keyword" type="text" name="search" id="gn_top_search_0" title="검색어 입력" value="드래곤볼" placeholder="갤러리 & 통합검색" tabindex="1" accesskey="f" type="search" autocomplete="off" style="ime-mode:active;" onfocus="show_search_keywords(this)">
			</div>
			<button class="sp_img bnt_search btn_globalSearch"><span class="blind">검색</span></button>
			<button type="button" class="btn_visit" onclick="openLately()">최근 방문</button>
		  </div>
		</fieldset>
	  </form>
	  <!-- //갤러리 통합검색 -->
		<!-- 최근방문 레이어 -->
                <div id="visit_history_lyr" class="pop_wrap type2" style="left:0;top:45px;display:none;">
                  <div class="pop_content visit bookmk">
                    <div class="visitab_box">
                      <button type="button" onclick="tabLately('gall')" class="gallTab on">최근 방문</button>
                      <button type="button" onclick="tabLately('fav')" class="favTab">즐겨찾기</button>
                    </div>
                    <div class="tab_content">
                      
                      <!-- 최근방문 갤러리 리스트 -->
                      <div id ="gall_div">
					  <p class="gall_msg empty_box" style="display:none">최근 방문 갤러리가 없습니다.</p>
                      <ul class="pop_visit_list gall clear" style="display:block"></ul>
					  <script id="lyr_lately_galls-tmpl" type="text/x-jquery-tmpl">
                        <li class="lately_gall gall_${id}" style="display:none;">
                          <a href="https://${link}" class="lately_log" section="${id}">${name}</a>{{if type == 'MI'}}<em class="icon_mini">미니갤러리</em>{{/if}}
                          <button type="button" class="btn_del" style="outline:" data-id="${id}"><span class="blind" >삭제</span><em class="sp_img icon_del"></em></button>
                        </li>
					  </script>
					  </div>
					  
					  <!-- 즐겨찾기 리스트 -->
					   <div id ="fav_div">
					                        <p class="empty_box"><a href="https://sign.dcinside.com/login?s_url=https%3A%2F%2Fsearch.dcinside.com%2Fpost%2Fp%2F2%2Fq%2F%25EB%2593%259C%25EB%259E%2598%25EA%25B3%25A4%25EB%25B3%25BC"><span>로그인</span> 후 이용 가능합니다.</a></p>
                      					  <script id="lyr_lately_favs-tmpl" type="text/x-jquery-tmpl">
						<li class ="lately_gall fav_${code_id}" style="display:none;"><a href="https://gall.dcinside.com/{{if type == 'MI'}}mini/{{/if}}${code_id}" class="">${name}</a>{{if type == 'MI'}}<em class="icon_mini">미니갤러리</em>{{else type == 'M'}}<em class="icon_minor">ⓜ</em>{{/if}}</li>
					  </script>
					 </div>
                    </div>
                     <div class="paging_btnbox">
                      <div class="inner">
                        <button type="button" class="btn_prev" id="lately_prev"><span class="blind">이전</span><em class="sp_img icon_prev"></em></button>
                        <div class="page_num page_gall">
						  <strong class="now_num">1</strong>/<span class="total_num">1</span>
                        </div>
						<div class="page_num page_fav" style="display:none;">
						  <strong class="now_num">1</strong>/<span class="total_num">1</span>
                        </div>
                        <button type="button" class="btn_next" id="lately_next"><span class="blind">다음</span><em class="sp_img icon_next"></em></button>
                      </div>
                      <button type="button" class="list_modi page_fav" style="display:none;" onclick="myFavorite('185')">편집</button>
						<!-- div class="pop_wrap type3" id = "my_favorite" style="right:12px;top:23px;display:none"></div-->
                    </div>

                  </div>
                </div>
                <!-- //최근방문 -->
	  <!-- 검색 자동완성 레이어-->
	  <div class="top_banner">
		</div>
		<!--자동완성 레어이 : display:block -->
	  <!--div class="auto_wordwrap" style="left:0;top:45px;display:none">
	  </div-->
	  <!-- //검색 자동완성 레이어 -->
	</div>
	<div class="area_links clear">
	  <ul class="fl clear">
		<li><a href="https://gall.dcinside.com/">갤러리</a></li>
		<li><a href="https://gall.dcinside.com/m">마이너갤</a></li>
		<li><a href="https://gall.dcinside.com/n">미니갤</a></li>
		<li><a href="https://gall.dcinside.com/p">인물갤</a></li>
		<li><a href="https://gallog.dcinside.com">갤로그</a></li>
		<li><a href="https://h5.dcinside.com/game/main">디시게임</a></li>
				<li><a href="https://event.dcinside.com">이벤트</a></li>
		<li><a href="https://mall.dcinside.com/?from=A08">디시콘</a></li>		
					<li><a href='https://sign.dcinside.com/login?s_url=https://search.dcinside.com/combine/q/%EB%93%9C%EB%9E%98%EA%B3%A4%EB%B3%BC' class="btn_top_loginout" target='_top'>로그인</a></li>
						
	  </ul>
	  <div class="fl darkmodebox">
		  <a href="javascript:;" class="darkonoff" onclick="darkmode()"><em class="sp_img icon_tdark"></em>야간모드</a>
		  <div class="pop_tipbox join_tip dark" onclick="$(this).hide();used_darkmode();" style="top:25px;left:-35px;display:none">
			<div class="inner">
			  <p class="join_txt">야간 모드를 이용해 보세요</p>
			</div>
		  </div>
	  </div>
	</div>
  </div>
</header>
<!-- //상단 -->
<!-- GNB -->
<div class="gnb_bar">
  <nav class="gnb clear">
	<h2 class="blind">GNB</h2>
	
	<ul class="gnb_list clear">
    	<li><a href="https://search.dcinside.com/combine/q/%EB%93%9C%EB%9E%98%EA%B3%A4%EB%B3%BC" class="">통합</a></li>
        <li><a href="https://search.dcinside.com/gallery/q/%EB%93%9C%EB%9E%98%EA%B3%A4%EB%B3%BC" class="">갤러리</a></li>
        <li><a href="https://search.dcinside.com/movie/q/%EB%93%9C%EB%9E%98%EA%B3%A4%EB%B3%BC" class="">동영상</a></li>
        <li><a href="https://search.dcinside.com/post/q/%EB%93%9C%EB%9E%98%EA%B3%A4%EB%B3%BC" class="on">게시물</a></li>
    </ul>

	<!-- 어제 게시글,댓글 등록 -->
	<div class="gall_exposure">
	  <div class="posts"><a href="https://gall.dcinside.com/board/lists/?id=dclottery">어제 <em class="num" id="total_content_count"></em> 게시글 등록</a></div>
	  <div class="reply"><a href="https://gall.dcinside.com/board/lists/?id=dclottery">어제 <em class="num" id="total_reple_count"></em> 댓글 등록</a></div>
	  <div class="gall">총 갤러리 수 <em class="num" id="total_gallery_count"></em></div>
	  <div class="ltr"><a href="https://gall.dcinside.com/board/lists/?id=dclottery">디시 로터리 응모</a></div>
	</div>
	<!-- /어제 게시글,댓글 등록 -->
  </nav>
</div>
<!-- //GNB -->	
	<main id="container" class="integrate_sch">
		<div class="group clear">
				
			<!-- left_content -->
<section  class="left_content">
  <h2 class="blind">통합검색 왼쪽 컨텐츠 영역</h2>
  <div>
	 
	<ins class="kakao_ad_area" style="display:none;" 
 data-ad-unit    = "DAN-Yy7BdlhGdOZBWriq" 
 data-ad-width   = "160" 
 data-ad-height  = "600"></ins> 
<script type="text/javascript" src="//t1.kakaocdn.net/kas/static/ba.min.js" async></script>
  </div>
</section>
<!-- //left_content -->
			
			<!-- center_content -->
			<section class="center_content">
			  <h2 class="blind">통합검색 가운데 컨텐츠 영역</h2>
			  <div class="inner">
			  
				<!-- 파워링크 -->
<div class="power_link ad_premium">
	</div>
<!-- //파워링크 -->

<!-- 게시물 검색결과 -->
<div class="integrate_cont sch_result result_all ">
  <div class="integrate_cont_head clear">
	<h3 class="fl">게시물</h3>
	<div class="btn_sort_box fr">
	  <!-- 최순순일때 클래스 new /  정확도일때 accuracy -->
	  <button class="btn_sort txt new" onclick="location.href='/post/q/%EB%93%9C%EB%9E%98%EA%B3%A4%EB%B3%BC'">최신순</button>
	  <button class="btn_sort txt " onclick="location.href='/post/sort/accuracy/q/%EB%93%9C%EB%9E%98%EA%B3%A4%EB%B3%BC'">정확도순</button>
	  <!-- <button class="btn_sort sp_img accuracy"><span class="blind">정확도</span></button> -->
	</div>
  </div>
  <ul class="sch_result_list">
  	<li>
	  <a href="https://gall.dcinside.com/board/view/?id=comic_new6&no=5693224" target="_blank" class="tit_txt">처음부터 고려청자를 만들려하면 안된다.</a>
	  <p class="link_dsc_txt">빨리 만들면 겉은 오버워치같을지몰라도 그래픽 카드는 괴성을 지르는 것이다. 처음부터 에반게리온 <b>드래곤볼</b> 그렌라간 귀멸의칼날 수준을 기대하면 안되지만 이젠 AI가 그 정도는 너끈히 해줍니다 그러면 사람들...</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/board/lists?id=comic_new6" target="_blank" class="sub_txt">만화</a><span class="date_time">2026.08.10 11:26</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=cortkvndgn&no=24537" target="_blank" class="tit_txt">처음부터 고려청자를 만들려하면 안된다.</a>
	  <p class="link_dsc_txt">빨리 만들면 겉은 오버워치같을지몰라도 그래픽 카드는 괴성을 지르는 것이다. 처음부터 에반게리온 <b>드래곤볼</b> 그렌라간 귀멸의칼날 수준을 기대하면 안되지만 이젠 AI가 그 정도는 너끈히 해줍니다 그러면 사람들...</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=cortkvndgn" target="_blank" class="sub_txt">책사풍후(유튜버)</a><span class="date_time">2026.08.10 11:26</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=gov&no=5971365" target="_blank" class="tit_txt">홍련은 <b>드래곤볼</b> 손오반 같은거임</a>
	  <p class="link_dsc_txt">일단 나오면 기대가 댐</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=gov" target="_blank" class="sub_txt">니케</a><span class="date_time">2026.08.10 10:24</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=koreahistoryexam&no=198733" target="_blank" class="tit_txt">10일차 전사</a>
	  <p class="link_dsc_txt">80찍고 전기직 자격증 <b>드래곤볼</b> 완성 이제 ncs하러간다.. 고맙다 햄지르야</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=koreahistoryexam" target="_blank" class="sub_txt">한국사능력검정시험</a><span class="date_time">2026.08.10 10:17</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=mobilefifiaonline&no=664028" target="_blank" class="tit_txt">어제 글로벌 대회 정의는 승리한다ㅋ</a>
	  <p class="link_dsc_txt">색히 하는 꼬라지보고 팀원 복수겸 참교육 * 별외로 국제대회에서 베트남색히 개볼돌 하는데 치지직 챗팅창에 <b>볼</b>돌이 뭐 죄냐고 베트남 화이팅 한 색히 그냥 오늘부로 겜 접어라 프롬프트 1girl, bra (<b>dragon</b>...</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=mobilefifiaonline" target="_blank" class="sub_txt">FC 모바일</a><span class="date_time">2026.08.10 10:01</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mini/board/view/?id=vtubersnipe&no=12985817" target="_blank" class="tit_txt"><b>드래곤볼</b>이 원래 무협풍 컨셉이었던거 앎?</a>
	  <p class="link_dsc_txt">어느순간부터 그냥 전투력 숫자가이지 만화 되어버림</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mini/board/lists?id=vtubersnipe" target="_blank" class="sub_txt">버츄얼 스나</a><span class="date_time">2026.08.10 09:40</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/board/view/?id=dragonball&no=118970" target="_blank" class="tit_txt"><b>드래곤볼</b> 안본 뇌</a>
	  <p class="link_dsc_txt">100억 갖고있고 <b>드래곤볼</b>Z 안본 뇌 살 수 있다면 얼마에 삼? 난 최소 10억</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/board/lists?id=dragonball" target="_blank" class="sub_txt">드래곤볼</a><span class="date_time">2026.08.10 09:33</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/board/view/?id=idolmaster_new1&no=9677661" target="_blank" class="tit_txt">반남에게 소아온게임은 대체 무슨 의미가있는건지 궁금하긴함</a>
	  <p class="link_dsc_txt">이새끼들은 이게 제2의 <b>드래곤볼</b> 건담급이라 생각하는걸지</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/board/lists?id=idolmaster_new1" target="_blank" class="sub_txt">아이돌마스터</a><span class="date_time">2026.08.10 09:20</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/board/view/?id=fantasy_new2&no=9785524" target="_blank" class="tit_txt">체인소맨은 <b>드래곤볼</b>같은 게 아닐까</a>
	  <p class="link_dsc_txt">부르마 치치 포지션처럼 파워랑 누구려나 근데 베지터가 아빠인 척 하는 거나 부르마가 엄마인 척 하는 거나 인조인간이라던가 마인부우라던가 크리링이 죽으면 오반은 태어나지 못하는데 란판이 죽으면 트랭크스...</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/board/lists?id=fantasy_new2" target="_blank" class="sub_txt">판타지</a><span class="date_time">2026.08.10 08:14</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/board/view/?id=idolmaster_new1&no=9677528" target="_blank" class="tit_txt">기분 <b>드래곤볼</b>GT 같네</a>
	  <p class="link_dsc_txt">슈퍼 17호편</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/board/lists?id=idolmaster_new1" target="_blank" class="sub_txt">아이돌마스터</a><span class="date_time">2026.08.10 08:13</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=blacklibrary&no=543702" target="_blank" class="tit_txt">리멤브란서 이벤트 대회 그림그리는 과정</a>
	  <p class="link_dsc_txt">아 그냥 단순하게 색만 넣어서 보통 애니메이션처럼 그라데이션 없이 색을넣을까? 이게 무슨말이냐면 <b>드래곤볼</b>같은 느낌으로 컬러로만 표현하는거지 아니면 음영을 리얼하게줄까? 쉽게 설명하자면 서브컬처같은...</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=blacklibrary" target="_blank" class="sub_txt">블랙라이브러리</a><span class="date_time">2026.08.10 07:41</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/board/view/?id=projectnike&no=5407839" target="_blank" class="tit_txt">&#34;반남은 드볼 원피스 건담한테만 친모 행동하지 않냐&#34;</a>
	  <p class="link_dsc_txt">最強を決めるチーム対抗戦！本戦」では、AチームとBチームによる最終決戦の模様をお届け！「最強」に輝くのはどちらのチームな... youtube.com 반남 공계로 <b>드래곤볼</b> 신작 격투겜에 홀로라이브 불러서 홍보시키고...</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/board/lists?id=projectnike" target="_blank" class="sub_txt">승리의 여신 니케</a><span class="date_time">2026.08.10 07:38</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=chzzk&no=11631369" target="_blank" class="tit_txt">에반게리온보고 <b>드래곤볼</b> 재평가하게됨</a>
	  <p class="link_dsc_txt"><b>드래곤볼</b>이 존나 틀딱만화여도 이만화는 구성이 걍 존나좋음 직관적이고 그냥 모르고봐도 재밌음 그냥 중간부터봐도 재밌다는거임 근데 에반게리온&lt;- 이건 성수동 유명가계같은거임 존나 그럴듯한데 막상까보면...</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=chzzk" target="_blank" class="sub_txt">치지직</a><span class="date_time">2026.08.10 05:14</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=comics&no=819080" target="_blank" class="tit_txt">예술만화하면 <b>드래곤볼</b>이지</a>
	  <p class="link_dsc_txt">그림자체가 예술이지 그 그림체 컷구성 메카닉디자인 부르마유두까지.. - dc official App</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=comics" target="_blank" class="sub_txt">월간만화</a><span class="date_time">2026.08.10 05:05</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/board/view/?id=baseball_new13&no=2073058" target="_blank" class="tit_txt"><b>드래곤볼</b> &lt;~ 지금봐도 세련된 만화인듯</a>
	  <p class="link_dsc_txt">지금봐도 재밌음 - dc official App</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/board/lists?id=baseball_new13" target="_blank" class="sub_txt">국내야구</a><span class="date_time">2026.08.10 04:11</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=palworld&no=392433" target="_blank" class="tit_txt">이새끼들 전설낚싯대 만드는거 까먹은거아니나???</a>
	  <p class="link_dsc_txt">시발 <b>드래곤볼</b>마냥 왓다리갔다리하는걸 어캐잡아</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=palworld" target="_blank" class="sub_txt">팰월드(Palworld)</a><span class="date_time">2026.08.10 03:53</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=eft&no=2853876" target="_blank" class="tit_txt">문서 스폰 방식 진짜 개극혐임</a>
	  <p class="link_dsc_txt">흩뿌려놔도 ㅇㅋ인데 맵 넓으면 걍 알잘딱해서 한 구역, 또는 두 구역만으로 나눠두지. 온 맵 사방에 <b>드래곤볼</b> 해놓음 무슨 시발 군대 부조리 보는거 같음. 찾아라 <b>드래곤볼</b> 씨발 <b>드래곤볼</b>은 눈에 보이기라도하지...</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=eft" target="_blank" class="sub_txt">타르코프</a><span class="date_time">2026.08.10 03:49</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mini/board/view/?id=vtubersnipe&no=12983868" target="_blank" class="tit_txt"><b>드래곤볼</b> 재밌게 하던 그 시절 히나가 그립다</a>
	  <p class="link_dsc_txt">ㄹㅇ</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mini/board/lists?id=vtubersnipe" target="_blank" class="sub_txt">버츄얼 스나</a><span class="date_time">2026.08.10 03:31</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=andongcity&no=943" target="_blank" class="tit_txt">안동은 ㄹㅇ 촌구석에 발전이 없음.</a>
	  <p class="link_dsc_txt">다양함이 없음. 2.땅덩어리 ㅈㄴ 넓고. 강도 있는데 활용 ㅈㄴ못함. 밑에 글말대로 주요시설들 무슨 <b>드래곤볼</b> 흩어지듯 저멀리 한군대씩 설치함. 자가용없이는 힘들고 거리도 멈. 또 수페스타 이것도 좋다고 생각...</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=andongcity" target="_blank" class="sub_txt">안동</a><span class="date_time">2026.08.10 03:24</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/board/view/?id=idolmaster_new1&no=9677292" target="_blank" class="tit_txt">기분 <b>드래곤볼</b> 슈퍼 같네….</a>
	  <p class="link_dsc_txt"></p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/board/lists?id=idolmaster_new1" target="_blank" class="sub_txt">아이돌마스터</a><span class="date_time">2026.08.10 02:57</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=howlingabyss&no=614375" target="_blank" class="tit_txt">용영혼 <b>드래곤볼</b> 이스터에그가 실제로 있다면 만족해야할 조건</a>
	  <p class="link_dsc_txt">용의 영혼의 종류는 불용 바다용 대지용 바람용 화공용 마공용 으로 총 6개임 1. 플실실플 or 실플실플 판이 뜰것 &gt; 3,7레벨에 두번연속으로 실버증강이 뜨지않기에 오직 이 두가지 경우에만 이스터에그 조건...</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=howlingabyss" target="_blank" class="sub_txt">칼바람 나락</a><span class="date_time">2026.08.10 02:53</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mini/board/view/?id=ejucom&no=382" target="_blank" class="tit_txt">이 책 ㅈㄴ 어이 없었는데</a>
	  <p class="link_dsc_txt">3년 전에 우연히 서점에서 발견했던 책인데 내용이 그냥 얼탱이었음 일본 제국주의라 하면서 <b>드래곤볼</b>을 인용한 것부터가... - dc official App</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mini/board/lists?id=ejucom" target="_blank" class="sub_txt">도시샤</a><span class="date_time">2026.08.10 02:11</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=hunterxhunter&no=161543" target="_blank" class="tit_txt">한국 만화 시장에서 일본의 대작급이 안나오는 이유</a>
	  <p class="link_dsc_txt">가끔 이런걸 토가시의 고집이라고 욕하는데 이런 창작자의 고집의 가치를 인정해줘서 일본에서는 <b>드래곤볼</b>, 원피스, 나루토, 블리치, 헌헌, 슬램덩크, 강연금, 히스토리에, 진격거, 베르세르크 등등의 세기의...</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=hunterxhunter" target="_blank" class="sub_txt">헌터x헌터</a><span class="date_time">2026.08.10 02:09</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=desktopcomputer&no=105034" target="_blank" class="tit_txt">램 ssd있으면 cpu만 사서 <b>드래곤볼</b>하는게 낫지?</a>
	  <p class="link_dsc_txt">그렇다고 해줘</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=desktopcomputer" target="_blank" class="sub_txt">데스크탑</a><span class="date_time">2026.08.10 01:59</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mini/board/view/?id=vtubersnipe&no=12982854" target="_blank" class="tit_txt">원래 근하면 망내 아니였냐?</a>
	  <p class="link_dsc_txt">2년전에 슈타게랑 <b>드래곤볼</b> 이거 dlc까지 해준거 다 봤는데 그때 좀 조회수 잘몰았던거 같은데</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mini/board/lists?id=vtubersnipe" target="_blank" class="sub_txt">버츄얼 스나</a><span class="date_time">2026.08.10 01:43</span></p>
	</li>
	  </ul>

</div>
				
			  </div>
			  
			  
<!-- 하단 통합 검색-->
<div class="integrate_buttom_search">
<!-- 페이징 -->
<div class="bottom_paging_box iconpaging" id="dgn_btn_paging"><a href="/post/p/1/q/%EB%93%9C%EB%9E%98%EA%B3%A4%EB%B3%BC">1</a><em>2</em><a href="/post/p/3/q/%EB%93%9C%EB%9E%98%EA%B3%A4%EB%B3%BC">3</a><a href="/post/p/4/q/%EB%93%9C%EB%9E%98%EA%B3%A4%EB%B3%BC">4</a><a href="/post/p/5/q/%EB%93%9C%EB%9E%98%EA%B3%A4%EB%B3%BC">5</a><a href="/post/p/6/q/%EB%93%9C%EB%9E%98%EA%B3%A4%EB%B3%BC">6</a><a href="/post/p/7/q/%EB%93%9C%EB%9E%98%EA%B3%A4%EB%B3%BC">7</a><a href="/post/p/8/q/%EB%93%9C%EB%9E%98%EA%B3%A4%EB%B3%BC">8</a><a href="/post/p/9/q/%EB%93%9C%EB%9E%98%EA%B3%A4%EB%B3%BC">9</a><a href="/post/p/10/q/%EB%93%9C%EB%9E%98%EA%B3%A4%EB%B3%BC">10</a><a href="/post/p/11/q/%EB%93%9C%EB%9E%98%EA%B3%A4%EB%B3%BC" class="sp_pagingicon page_next">다음</a><a href="/post/p/120/q/%EB%93%9C%EB%9E%98%EA%B3%A4%EB%B3%BC" class="sp_pagingicon page_end">끝</a></div><!-- //페이징 -->

<form name="bottomSearchForm" method="get" action='https://search.dcinside.com/combine/' onSubmit="return globalSearch(this);">
  <fieldset>
	<legend class="blind">통합검색</legend>
	<div class="buttom_search_wrap clear">
	  <div class="bottom_search fl clear">
		<div class="inner_search">
		  <input class="in_keyword" name="search" title="검색어 입력" type="text" value="드래곤볼">
		</div>
		<button class="sp_img bnt_search btn_globalSearch" type="submit"><span class="blind">검색</span></button>
	  </div>
	</div>
  </fieldset>
</form>
</div>
<!-- //하단 통합 검색-->
			  
			  			  
			</section>
			
			<!-- right_content -->
<section  class="right_content">
  <h2 class="blind">통합검색 오른쪽 컨텐츠 영역</h2>
  <!-- 다음 검색 -->
  <article>
	<div class="content_box r_only_daum">
	  <header class="clear">
      	<h3 class="tit fl"><a href="">다음 검색</a></h3>
        <div class="fr">
        	<a href="https://daum.net" class="inner_txt">제공 Daum 검색</a><button type="button" onclick="$('.daum_tip').show();"><span class="blind">다음검색이란</span><em class="sp_img icon_tip_open"></em></button>
        </div>
        <div class="pop_tipbox daum_tip" style="left:0px;top:11px;display:none"><!-- 220419 left,top값 수정-->
        	<div class="inner">
                    검색어를 누르면, Daum 검색결과로 이동합니다.
            	<button type="button" class="btn_tipclose" onclick="$('.daum_tip').hide();"><span class="blind">닫기</span><em class="sp_img icon_tipclose"></em></button>
            </div>
        </div>
      </header>
	  <div class="only_daum_area">
		<form onsubmit="return false;">
		  <fieldset>
			<legend class="blind">다음 검색</legend>
			<div class="small_searchbox clear">
			  <input class="small_in_keyword" type="text" title="검색어 입력" onkeydown="javascript:if(event.keyCode==13){searchKaKao();};">
			  <input type="hidden" class="origin_keyword" name="origin_keyword" value=""/>
			  <button class="btn_iconsearch logClass" type="submit" onClick="searchKaKao();" depth1="daum_search" depth2="daum_search_click_log" depth3="pc_search_btn"><span class="blind">검색</span><em class="sp_img icon_smallsearch"></em></button>
			  <button class="bnt_smallsearch logClass" type="submit" onClick="searchKaKao();" depth1="daum_search" depth2="daum_search_click_log" depth3="pc_search_btn">다음 검색</button>

			  <!-- 검색 자동완성 레이어-->
			  <div class="auto_wordwrap small" style="left:-1px;top:28px;display:none"><!--자동완성 레어이 : display:block -->
				<div class="auto_word" >
				  <div class="word_box">
					<h3 class="blind">실기간 검색결과</h3>
					<ul class="word_list">
					</ul>
				  </div>
				</div>
				<div class="word_close"><a href="javascript:hideLyr()" class="sp_img btn_close"><span class="blind">자동완성 레이어 닫기</span></a></div>
			  </div>
			  <!-- //검색 자동완성 레이어 -->
			</div>
		  </fieldset>
		</form>
		<div class="fix_element">
		  <a href="https://search.daum.net/search?&amp;w=tot&amp;DA=DIK&amp;q=%EB%82%A0%EC%94%A8+%ED%98%84%EC%9C%84%EC%B9%98" target="_blank" class="fix_txt logClass" depth1="daum_search" depth2="daum_search_click_log" depth3="pc_weather">날씨</a>
		  <a href="https://search.daum.net/search?&amp;w=tot&amp;DA=DIK&amp;q=%EC%9A%B4%EC%84%B8" target="_blank" class="fix_txt logClass" depth1="daum_search" depth2="daum_search_click_log" depth3="pc_fortune">운세</a>
		  <a href="https://search.daum.net/search?&amp;w=tot&amp;DA=DIK&amp;q=%ED%99%98%EC%9C%A8" target="_blank" class="fix_txt logClass" depth1="daum_search" depth2="daum_search_click_log" depth3="pc_exchange">환율</a>
		</div>
	  </div>
	</div>
  </article>
  <!-- //다음 검색 -->
  <!-- 실시간 베스트 -->
  <article>
  	<div class="content_box r_timebest">
    	<header>
        	<h3 class="tit"><a href="https://gall.dcinside.com/board/lists?id=dcbest">실시간 베스트</a></h3>
            <div class="pageing_box">
            	<div class="page_num">
                	<strong class="now_num realtimeNum">1</strong>/<span class="total_num realtimeTotal">8</span>
                </div>
                <button type="button" class="btn_blueprev " id="realtime_prev"><span class="blind">이전</span><em class="sp_img icon_blueprev"></em></button>
                <button type="button" class="btn_bluenext on" id="realtime_next"><span class="blind">다음</span><em class="sp_img icon_bluenext"></em></button>
            </div>
        </header>
        <div class="rcont_imgtxt_box">
        	<div class="img">
        	            	<div class="rcontimg_box" >
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452750" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73de785fa11d028311db29c13695a307ccacddb30f5fe15f4ece646dc6f47f288ac969276c55e02d7e419ce2dc4e25d56e51e913f6cbc6331da01408a6be287089e6b31" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>애플, 창신 메모리 초기 공급 협상 시작</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" >
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452796" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73de785fa11d028311db29c13695a307ccacddb30f4f715f3414224c1b0abb0f923da903f33ca4929b3eda89c48dba5b26df6749882ece5de71c9396b1637da8a68d54f5719aced551dedfc2f6590" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>트럼프, 호르무즈 재개 시 이란전 종결 검토</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452781" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73fe785fa11d028318f176c8dd1b3ddcdc44efd17ef7aeef2e0ba49df41673f4f9c9b59d4006ec88cfe6142c157b5080dd96db1d0088e58bc74bd7bf0cec16442d72f6567a9b5196b5e1344106b24ae4c5baefacd980367399ac075373f162018418132f9ebce" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>“뒤집힌 보트 붙잡고 8시간”…인천 앞바다 낚시객 3명 극적 구조</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452726" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73de785fa11d028311db29c13695a307ccacddb30f5fe15f4f1e742db7f56a8d2fdc8c574c85f08cfe84e96ea03cada25e565a3e30eb2f6e13b30490752194d037db4620f63f6d1b2" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>일하고 있는 엄마에게 밥 가져다 달라는 아들</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452808" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73de785fa11d028311db29c13695a307ccacddb30f4f715f4c08176e941940c1f28d171fcbc55211e9d506180d638a3e07037b2a7d0a2772347ef9f66149599e8ed6776a5" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>[속보]뱅오아, 삼전 주주환원 100조이상 할것</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452739" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73de785fa11d028311db29c13695a307ccacddb30f5fe15f4f1e742db7f56a8d2fdc8c574c85f08cfed4e95e001c2d12ceb67a3b25fe3a5b2bd2560f9934f19ecf54f6b2f2f0a" alt="" style="{"top":"-0.16"}top:-21px;">
                        </span>
                        <div class="txt_box">
                        	<strong>싱글벙글 위고비,마운자로가 한국에서 위험한 이유</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452708" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73fe785fa11d028318f176c8dd1b3ddcdc44efd17ee73eef48cd8b34415de0392004ad274f6e822343c4d2ba02e6533ac8de7457f722a6abf1f0bc2e4a67945f673405a0b92bd64c8162c5d2e38a22f34ca6a11750d44ec303a55d15c0b4d25" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>미국 넘어온지 1년동안의 이야기</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452748" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73de785fa11d028311db29c13695a307ccacddb30f5fe15f55fff0b5d5b96df7ec981a8eeb30eea14fb0a13c5b35efd275ecc889cff04b8ac76ef48884a5eb655d06bb92fbbea8d31679f06426df04b855c9fb30d58b2d206951f69b47a3dea02aa3ea348df08e31f42bdcd9d14b580e180fac55381394b441f19d928baf69da59c74ecad6892c85b35d849b7ea9a" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>손주 돌보려고 집 비운건데 비거주면 다 투기냐 정부 세제개편 민원 폭주 </strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452780" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73de785fa11d028311db29c13695a307ccacddb30f4f715e914dbb2bdb45df75757c064b7a3df4a186f596b034b74b22afe0ec0db6c93d132b8983555c8ab6b6d2adca9c9117cec7ba4d8d4d27ad14fc0f63ef8ad04234da4a8046dd2c674e348" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>안민석, 악성 학부모 고발…“선생님 협박 용납 못해”</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452763" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73fe785fa11d028318f176c8dd1b3ddcdc44efd17ef7aeef5654e29f12c0b0ae888438dcc86f0913df69af617cff1a0888af290ab37f8d81857e6b9aeb5fc2600a04d9a77ce938847648fa65343159037130d5330c17a637c" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>대부분 한국 쓰레기"…日 명소에 버려진 '안산시 종량제봉투'</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452784" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73de785fa1bd62531de535045b081fc7000c7a81cd8d2c0299d93c7e3fe3d91fc0931265ffd43a9ba029c3d21e1f8966bf0cc4c5ba47e0fc8a530678a48989c615648bb79" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>싱글벙글 드디어 금메달에 도전한다는 한국 육상</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452792" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73fe785fa1bd6253181cc839ddd597aa6642ca0749f10f1cf2019beedbbae4727a3e689d90ef683d9e68a12c610b6004110847357740250b20f5612cddf2a" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>아이맥스 떡밥에 올려보는 아이맥스 작례</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452756" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73ce785fa11d02831e402f11b4aff5112a47efe1983b0258343a62ed20cc4fd22fd4e67dd7a0663db8d74ef91d298f8e2b60d92e5093abcedcbf914b6ce77964444b55c2320b5b8fd0ec08246b9697df2381d82b4" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>블랙핑크 때문에 국중박 통제</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452686" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73fe785fa11d028318f176c8dd1b3ddcdc44efd17ee73eef524ecd33592fc1ef216b841d62181894c4eb107c183de1b0ef9d9b3b63ba3b92110" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>귀여운 수녀님이 다른 여자랑 몸싸움 벌이는.manhwa</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452714" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73de785fa11d028311db29c13695a307ccacddb30f5fe15f4efec40c3691be58dae9c9172cd5e0ed8684624a0e74ffc1d64606be3369c8e56" alt="" style="{"top":"-0.38"}top:-49px;">
                        </span>
                        <div class="txt_box">
                        	<strong>[금주의 신상] 8월 2주차 신제품 먹거리 모음.jpg</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452705" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73de785fa11d028311db29c13695a307ccacddb30f5fe15e91893180bff7b79150fd9b14c10709c78153ff1422733511e9f2d9fa953a66c16f7acc5050b0f9ccb4b8e41271bff1a3abaa49f272025a5e5c40855" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>ISA 개편안·주가누르기 법안 전면 재검토</strong>
                        </div>
                    </a>
                 </div>
             
                          </div>
             <ul class="txt">
                          	<li ><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452741">백로 쫓으려 애꿎은 나무만 '뎅강'‥&quot;쫓아내도 바로 옆인데‥&quot;</a></li>
                         	<li ><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452717">홍콩 아파트 참사 원인, 담뱃불 가능성</a></li>
                         	<li ><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452812">“이태원 참사 119 무전 조작·누락 의혹”…유가족, 첫 형사고소</a></li>
                         	<li ><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452700">놀란 감독이 가장 많이 쓴 배우들 2부...jpg</a></li>
                         	<li ><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452691">[핑계고] 풍향중에서 들렀다가 충격 받은 지역</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452769">청년에게 연일 메세지를 낸 이재명 대통령 하지만 연일 지지율 하락</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452696">LA보안관의 하나회, 보안관보 갱단(Deputy Gangs)</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452735">국뽕국뽕 최대 다국적해군훈련 림팩에서 1등했다는 한국해군</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452753">오들오들 911촌</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452718">청년주택 버스하우스 없던 걸로 해줄래 ㅋㅋㅋ </a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452771">‘출장지서 1분 만에 퇴근’상습 근태 불량 SK하이닉스 직원 해고 정당</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452723">채널a) "왜 술 마시고 와"..기원에서 60대 흉기살인</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452693">자기보다 키 작으면 칵테일 바 무료라는 일본인</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452778">8월 10일 시황</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452802">생태교란종 무단방생+거북이 등딱지 낙서</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452790">지방선거 투표수 수백명씩 엇갈려…조작 의혹</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452762">kbs) 남는 전기 '전기차' 저장..차주 '수익원' 될까</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452772">승무원 만날수있으면 만나라는 블라인..ㄹㅇ</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452798">중국 상륙 '돌핀'...상하이 곳곳 침수, 항공편 대거 결항</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452751">정부, 서울 2만7천가구 공급 속도낸다</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452721">[오피셜] 이강인 실점 빌미....gif</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452747">정청래, 李 대통령을 또 ‘이명박’으로 잘못 지칭 말 실수</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452818">연합) 메가프로젝트 2차 점검회의 이대통령 모두발언</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452720">jtbc) 동해안 물폭탄..영남은 바짝타는 가뭄</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452745">이게 16000원 음식이냐.. 워터파크 떡볶이 논란 확산</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452783">유퀴즈 출연한 서울대 신입생.JPG</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452709">싱글벙글 일본에 처음 온 미국인이 먹은 코스 요리...jpg</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452733">민주당 강원tk순회경선, 정"당과 의리지키겠다"김"완벽한당정일치"</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452698">타츠키 성지순례 feat.레제&룩백</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452768">세우타 난민 난입 속 미성년 성폭력 충격</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452715">싱글벙글 7년 전 투포환 유망주로 나왔던 초등학생 근황</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452786">안규백, 사실상 간첩 선언ㅋㅋㅋㅋ</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452754">유투버 단군 [오디세이] 평점</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452757">의외로 젠슨황이 샤라웃한 가수</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452736">용산어린이정원 앞 근조화환…주민들 "아파트에 공원 뺏길 수 없다"</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452759">안녕하세요 32번째낙오자들입니다 별거아니에요 (20장)</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452774">대만, 일본에 강력 항의... 친일 정권의 이례적 비판 왜?</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452807">하영 증조부 친일파 논란</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452775">싱글벙글 근본없는 호주 대표음식.jpg</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452688">싱글벙글 의외로 열강들도 손절했던 짓</a></li>
            	
             </ul>
		</div>
     </div>
  </article>  
  <!--  //실시간 베스트 -->
   <!-- 뉴스 -->
  <article>
	<div class="content_box r_dcmedia">
	  <header >
        	<h3 class="tit mediaTab"><a href="javascript:mediaTabMove('media');">디시미디어</a></h3>
        	<h3 class="tit issueTab"><a href="javascript:mediaTabMove('issue');">디시이슈</a></h3>
		<div class="pageing_box">
		  <div class="page_num">
			<strong class="now_num newsNum">1</strong>/<span id="newsTotal" class="total_num newsTotal">2</span>
		  </div>
		  <button type="button" class="btn_blueprev " id="news_prev"><span class="blind">이전</span><em class="sp_img icon_blueprev"></em></button>
		  <button type="button" class="btn_bluenext on" id="news_next"><span class="blind">다음</span><em class="sp_img icon_bluenext"></em></button>
		</div>
	  </header>
        <div class="rcont_imgtxt_box r_media_box" style="display:none;">
			<div class="img clear">
				<script id="mediaImg-tmpl" type="text/x-jquery-tmpl">
				<div class="rcontimg_box">
					<a class="inner" href="${link}" target = "${link.indexOf('https://gall.dcinside.com') === 0 ? '_self' : '_blank'}">
						<span class="img_box">
						<img src="${thumb_img}" alt="">
						</span>
						<div class="txt_box">
							<strong>${title}</strong>
						</div>
					</a>
				</div>
                </script>
			</div>
			<ul class="txt">
				<script id="mediaTxt-tmpl" type="text/x-jquery-tmpl">
				<li><a href="${link}" target = "${link.indexOf('https://gall.dcinside.com') === 0 ? '_self' : '_blank'}">${title}</a></li>
				</script>
			</ul>
		</div>
		<div class="rcont_imgtxt_box dcissue r_issue_box" style="display:none;">
			<div class="img clear">
				<script id="issueImg-tmpl" type="text/x-jquery-tmpl">
				<div class="rcontimg_box">
					<a class="inner" href="${url}" target = "_blank">
						<span class="img_box">
						<img src="${dc_img}" alt="">
						</span>
						<div class="txt_box">
                            <span class="ranking blue">${rank}</span>
							<strong>${title}</strong>
						</div>
					</a>
				</div>
                </script>
			</div>
			<ul class="txt">
				<script id="issueTxt-tmpl" type="text/x-jquery-tmpl">
				<li>
                    <a href="${url}" target = "_blank">
                    <span class="ranking blue">${rank}</span>
                    ${title}
                    </a>
                </li>
				</script>
			</ul>
		</div>
	</div>
  </article>
  <!-- //뉴스 -->
  <!-- 개념글 -->
  <article>
	<div class="content_box r_recommend">
	  <header>
	  <script id="recomTit-tmpl" type="text/x-jquery-tmpl">
		<h3 class="tit"><a href="${url}">개념글 <span class="sub">[<em>${gall_name} 갤러리</em>]</span></a></h3>
	  </script>
		<div class="pageing_box">
		  <div class="page_num">
			<strong class="now_num recomNum">1</strong>/<span class="total_num recomTotal">3</span>
		  </div>
		  <button type="button" class="btn_blueprev" id="recom_prev"><span class="blind">이전</span><em class="sp_img icon_blueprev"></em></button>
		  <button type="button" class="btn_bluenext on" id="recom_next"><span class="blind">다음</span><em class="sp_img icon_bluenext"></em></button>
		</div>
	  </header>
	  <ul class="rcont_list">
	  <script id="recomList-tmpl" type="text/x-jquery-tmpl">
		<li><a href="${url}">${title}</a></li>
	  </script>
	  </ul>
	</div>
  </article>
  <!-- //개념글 -->
</section>
<!-- right_content -->				
	
		</div>			
	</main>
	
	<!-- 하단 -->
<footer class="dcfoot type1">
 <div class="info_policy">
   <a href="https://www.dcinside.com/company">회사소개</a>   
   <a href="https://www.dcinside.com/company#alliance">제휴안내</a>
   <a href="https://nstatic.dcinside.com/dc/dcad/w/index.html">광고안내</a>
   <a href="https://nstatic.dcinside.com/dc/w/policy/policy_index.html">이용약관</a>
   <a href="https://nstatic.dcinside.com/dc/w/policy/privacy_index.html"><b>개인정보처리방침</b></a>
   <a href="https://nstatic.dcinside.com/dc/w/policy/youth_policy.html">청소년보호정책</a>
 </div>
 <div class="copyright">Copyright ⓒ 1999 - 2026 dcinside. All rights reserved.</div>
</footer>
<!-- //하단 -->
	
</div><!--//id:top-->

<input type="hidden" id="s_keyword" value="드래곤볼"/>

<script type="text/javascript" src="https://ssl.pstatic.net/adimg3.search/adpost/js/adpost_show_ads_v2.min.js"></script>
<script type="text/javascript">
var s_keyword = $('#s_keyword').val();

function handle_naver_ads_response(response) {
	if(typeof(response['error']) == 'undefined' && response['ads']['length']) {
		$('.ad_premium *').remove();
		
		var html = '<div class="clear">' +
				   '<h3 class="fl">파워링크 <span class="adicon sp_img"><em class="blind">광고</em></span></h3>' +
				   '<a href="https://saedu.naver.com/adbiz/searchad/intro.nhn" target="_blank" class="fr link_upinfo">등록안내</a>' +
				   '</div>' +
				   '<ul class="pwlink_list abundle">';

		var patt = eval('/'+ s_keyword +'/g');
					
		for(var i in response['ads']) {
		 	ad_array = response['ads'][i];
			var desc = new String(ad_array['description']);
		 	html += '<li>'+
					'<a href="'+ ad_array['clickUrl'] + '" target="_blank">' +
		 			'<span class="tit_txt">'+ ad_array['headline'] +'</span>'+
		 			'<span class="link_txt">'+ ad_array['displayUrl'] +'</span>'+
		 			'<p class="link_dsc_txt">'+ desc.replace(patt, '<strong>'+ s_keyword +'</strong>') +'</p>'+
					'</a>'+
		 			'</li>';
		}
		
		html += '</ul>';

		$('.ad_premium').append(html).show();
	}
	
	if($('.ad_premium').index() >= 0) {
		if($('.ad_premium').html().trim()) {
			$('.ad_premium').show();
		}
		else {
			$('.ad_premium').remove();
		}
	}
}

//<![CDATA[
NAVER_ADPOST_V2({ 
	channel: "dcinside.ch1",
	pageSize: 3, 
	url: location.href,
	query: s_keyword
}); 
//]]>
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-5149721-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-5149721-4');

  var f_u_no = '';
</script>
<!-- g4a 구글애널리틱스 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-V46B0SHSY7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-V46B0SHSY7'); 
</script>
<script src="https://gall.dcinside.com/_js/ad_audit.js?v=2605081354"></script>
</body>
</html>