<!DOCTYPE html>
<html lang="ko" class="darkmode">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="content-language" content="kr">
  <meta name="google-site-verification" content="8_SyZg2Wg3LNnCmFXzETp7ld4yjZB8ny17m8QsYsLwk">
  <meta name="author" content="디시인사이드">
  <meta name="title" content="디시인사이드 검색결과">
  <meta name="description" content="디시인사이드 검색결과">
  <meta property="og:type" content="website">
  <meta property="og:title" content="디시인사이드 검색결과">
  <meta property="og:description" content="디시인사이드 검색결과">
  <meta property="og:image" content="https://nstatic.dcinside.com/dc/w/images/descrip_img.png">
  <meta property="og:url" content="https://www.dcinside.com/">
    <meta name="msvalidate.01" content="575F4ACB57FA589778D58AFD8AEB4EED" />
  <title>디시인사이드 검색결과</title>
 	<!--[if IE 7]>
	<link rel="stylesheet" type="text/css" href="https://nstatic.dcinside.com/dc/w/css/ie7.css"/>
	<![endif]-->
		<script type="text/javascript" src="https://nstatic.dcinside.com/dgn/gallery/js/cross_domain.js"></script>
	<!--[if lt IE 9]>
	<script src="https://nstatic.dcinside.com/dgn/gallery/js/jquery-1.7.2.min.js"></script>
	<![endif]-->
	<!--[if gte IE 9]>
	<script src="https://nstatic.dcinside.com/dgn/gallery/js/jquery-3.2.1.min.js"></script>
	<![endif]-->
	<!--[if !IE]> -->
	    <script src="https://nstatic.dcinside.com/dgn/gallery/js/jquery-3.2.1.min.js"></script>
    	<!-- <![endif]-->
	<script type="text/javascript" src="https://nstatic.dcinside.com/dgn/gallery/js/jquery.tmpl.min.js"></script>
	<script type="text/javascript" src="https://nstatic.dcinside.com/dgn/gallery/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/_js/jquery/jquery.paging.js"></script>
	<script type="text/javascript" src="/_js/jquery/jquery.validate.js"></script>
	<script type="text/javascript" src="/_js/jquery/jquery.placeholder.min.js"></script>
	<script type="text/javascript" src="/_js/jquery/jquery.tmpl.min.js"></script>
	<script type="text/javascript" src="/_js/ctr_cookie.min.js"></script>
	<script type="text/javascript" src="/_js/common.js?v=251010-2"></script>
	<script type="text/javascript" src="/_js/common_json.js?v=2507"></script>
	<script type="text/javascript" src="/_js/navigation.js"></script>
	<script type="text/javascript" src="/_js/click_log.js"></script>
	<script type="text/javascript" src="https://gall.dcinside.com/_js/globalSearch.js?220331"></script>
	<script type="text/javascript" src="https://gall.dcinside.com/_js/crossDomainStorage.js?1"></script>
	<script type="text/javascript" src="https://gall.dcinside.com/_js/lately_visit_v1.js?3"></script>
	<script type="text/javascript" src="https://gall.dcinside.com/_js/favorite_v1.js?3"></script>
	<script type="text/javascript" src="https://gall.dcinside.com/_js/alarm_polling.js?2504"></script>
    <script type="text/javascript" src="https://gall.dcinside.com/_js/gallery_right_login.js?2504"></script>
	
	<script type="text/javascript">
		document.domain = "dcinside.com";
	</script>
	<link rel="shortcut icon" href="https://nstatic.dcinside.com/dc/w/images/logo_icon.ico"/>
	<link rel="stylesheet" type="text/css" href="https://nstatic.dcinside.com/dc/w/css/reset.css?v=2"/>
	<link rel="stylesheet" type="text/css" href="https://nstatic.dcinside.com/dc/w/css/common.css?250123-1"/>
  	<link rel="stylesheet" type="text/css" href="https://nstatic.dcinside.com/dc/w/css/contents.css?v=251117"/>
	<link rel="stylesheet" type="text/css" href="https://nstatic.dcinside.com/dc/w/css/popup.css?2203"/>
		<script type="text/javascript" src="https://nstatic.dcinside.com/dc/w/js/html5shiv.min.js"></script>
	<!--[if IE 7]>
		<Link Rel="Stylesheet" Type="Text/Css" Href="Https://Nstatic.Dcinside.Com/Dc/W/Css/Ie7.Css"/>
	<![Endif]-->

	<style type="text/css">
	.search_keylayer { left: 340px; }
	</style>
	
	<script type="text/javascript">
		//우측 상단 더보기
		function moreView1()
		{
			if(document.getElementById("gnb_layer2").style.display =="none")
			{
				document.getElementById("gnb_layer2").style.display ="block";
			}
			else {
				document.getElementById("gnb_layer2").style.display ="none";
			}
		}

	</script>
</head>

<body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-5149721-69', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>

<!--스킵 내비게이션-->
<div class="skip">
  <a href="#search_wrap"><span>통합검색 바로가기</span></a>
  <a href="#container"><span>본문영역 바로가기</span></a>
</div>
<!-- //스킵 내비게이션-->
<div id="top" class="dcwrap width1160 integrate_schwrap">
		
	<!-- 상단 -->
<header class="dcheader">
  <div class="dchead">
	<!-- 로고영역 -->
	<h1 class="dc_logo">
          <a href="https://www.dcinside.com/">
          	<img src="https://nstatic.dcinside.com/dc/w/images/dcin_logo.png" alt="디시인사이드" class="logo_img">          </a>          
          <a href="https://search.dcinside.com/">
          	<img src="https://nstatic.dcinside.com/dc/w/images/tit_integrate_search.png" alt="통합검색" class="logo_img2">          </a>
    </h1>
	<!-- //로고영역 -->

	<div id="search_wrap" class="wrap_search">
	  <h2 class="blind">갤러리 검색</h2>
	  <!-- 갤러리 통합검색 -->
	  <form  name="topSearchForm" id="searchform" method="get" action='' onSubmit="return globalSearch(this);" data-tab="post">
		<fieldset>
		  <legend class="blind">통합검색</legend>
		  <div  class="top_search clear">
			<div class="inner_search">
			  <input class="in_keyword" type="text" name="search" id="gn_top_search_0" title="검색어 입력" value="브레이커" placeholder="갤러리 & 통합검색" tabindex="1" accesskey="f" type="search" autocomplete="off" style="ime-mode:active;" onfocus="show_search_keywords(this)">
			</div>
			<button class="sp_img bnt_search btn_globalSearch"><span class="blind">검색</span></button>
			<button type="button" class="btn_visit" onclick="openLately()">최근 방문</button>
		  </div>
		</fieldset>
	  </form>
	  <!-- //갤러리 통합검색 -->
		<!-- 최근방문 레이어 -->
                <div id="visit_history_lyr" class="pop_wrap type2" style="left:0;top:45px;display:none;">
                  <div class="pop_content visit bookmk">
                    <div class="visitab_box">
                      <button type="button" onclick="tabLately('gall')" class="gallTab on">최근 방문</button>
                      <button type="button" onclick="tabLately('fav')" class="favTab">즐겨찾기</button>
                    </div>
                    <div class="tab_content">
                      
                      <!-- 최근방문 갤러리 리스트 -->
                      <div id ="gall_div">
					  <p class="gall_msg empty_box" style="display:none">최근 방문 갤러리가 없습니다.</p>
                      <ul class="pop_visit_list gall clear" style="display:block"></ul>
					  <script id="lyr_lately_galls-tmpl" type="text/x-jquery-tmpl">
                        <li class="lately_gall gall_${id}" style="display:none;">
                          <a href="https://${link}" class="lately_log" section="${id}">${name}</a>{{if type == 'MI'}}<em class="icon_mini">미니갤러리</em>{{/if}}
                          <button type="button" class="btn_del" style="outline:" data-id="${id}"><span class="blind" >삭제</span><em class="sp_img icon_del"></em></button>
                        </li>
					  </script>
					  </div>
					  
					  <!-- 즐겨찾기 리스트 -->
					   <div id ="fav_div">
					                        <p class="empty_box"><a href="https://sign.dcinside.com/login?s_url=https%3A%2F%2Fsearch.dcinside.com%2Fpost%2Fp%2F120%2Fq%2F%25EB%25B8%258C%25EB%25A0%2588%25EC%259D%25B4%25EC%25BB%25A4"><span>로그인</span> 후 이용 가능합니다.</a></p>
                      					  <script id="lyr_lately_favs-tmpl" type="text/x-jquery-tmpl">
						<li class ="lately_gall fav_${code_id}" style="display:none;"><a href="https://gall.dcinside.com/{{if type == 'MI'}}mini/{{/if}}${code_id}" class="">${name}</a>{{if type == 'MI'}}<em class="icon_mini">미니갤러리</em>{{else type == 'M'}}<em class="icon_minor">ⓜ</em>{{/if}}</li>
					  </script>
					 </div>
                    </div>
                     <div class="paging_btnbox">
                      <div class="inner">
                        <button type="button" class="btn_prev" id="lately_prev"><span class="blind">이전</span><em class="sp_img icon_prev"></em></button>
                        <div class="page_num page_gall">
						  <strong class="now_num">1</strong>/<span class="total_num">1</span>
                        </div>
						<div class="page_num page_fav" style="display:none;">
						  <strong class="now_num">1</strong>/<span class="total_num">1</span>
                        </div>
                        <button type="button" class="btn_next" id="lately_next"><span class="blind">다음</span><em class="sp_img icon_next"></em></button>
                      </div>
                      <button type="button" class="list_modi page_fav" style="display:none;" onclick="myFavorite('185')">편집</button>
						<!-- div class="pop_wrap type3" id = "my_favorite" style="right:12px;top:23px;display:none"></div-->
                    </div>

                  </div>
                </div>
                <!-- //최근방문 -->
	  <!-- 검색 자동완성 레이어-->
	  <div class="top_banner">
		</div>
		<!--자동완성 레어이 : display:block -->
	  <!--div class="auto_wordwrap" style="left:0;top:45px;display:none">
	  </div-->
	  <!-- //검색 자동완성 레이어 -->
	</div>
	<div class="area_links clear">
	  <ul class="fl clear">
		<li><a href="https://gall.dcinside.com/">갤러리</a></li>
		<li><a href="https://gall.dcinside.com/m">마이너갤</a></li>
		<li><a href="https://gall.dcinside.com/n">미니갤</a></li>
		<li><a href="https://gall.dcinside.com/p">인물갤</a></li>
		<li><a href="https://gallog.dcinside.com">갤로그</a></li>
		<li><a href="https://h5.dcinside.com/game/main">디시게임</a></li>
				<li><a href="https://event.dcinside.com">이벤트</a></li>
		<li><a href="https://mall.dcinside.com/?from=A08">디시콘</a></li>		
					<li><a href='https://sign.dcinside.com/login?s_url=https://search.dcinside.com/combine/q/%EB%B8%8C%EB%A0%88%EC%9D%B4%EC%BB%A4' class="btn_top_loginout" target='_top'>로그인</a></li>
						
	  </ul>
	  <div class="fl darkmodebox">
		  <a href="javascript:;" class="darkonoff" onclick="darkmode()"><em class="sp_img icon_tdark"></em>야간모드</a>
		  <div class="pop_tipbox join_tip dark" onclick="$(this).hide();used_darkmode();" style="top:25px;left:-35px;display:none">
			<div class="inner">
			  <p class="join_txt">야간 모드를 이용해 보세요</p>
			</div>
		  </div>
	  </div>
	</div>
  </div>
</header>
<!-- //상단 -->
<!-- GNB -->
<div class="gnb_bar">
  <nav class="gnb clear">
	<h2 class="blind">GNB</h2>
	
	<ul class="gnb_list clear">
    	<li><a href="https://search.dcinside.com/combine/q/%EB%B8%8C%EB%A0%88%EC%9D%B4%EC%BB%A4" class="">통합</a></li>
        <li><a href="https://search.dcinside.com/gallery/q/%EB%B8%8C%EB%A0%88%EC%9D%B4%EC%BB%A4" class="">갤러리</a></li>
        <li><a href="https://search.dcinside.com/movie/q/%EB%B8%8C%EB%A0%88%EC%9D%B4%EC%BB%A4" class="">동영상</a></li>
        <li><a href="https://search.dcinside.com/post/q/%EB%B8%8C%EB%A0%88%EC%9D%B4%EC%BB%A4" class="on">게시물</a></li>
    </ul>

	<!-- 어제 게시글,댓글 등록 -->
	<div class="gall_exposure">
	  <div class="posts"><a href="https://gall.dcinside.com/board/lists/?id=dclottery">어제 <em class="num" id="total_content_count"></em> 게시글 등록</a></div>
	  <div class="reply"><a href="https://gall.dcinside.com/board/lists/?id=dclottery">어제 <em class="num" id="total_reple_count"></em> 댓글 등록</a></div>
	  <div class="gall">총 갤러리 수 <em class="num" id="total_gallery_count"></em></div>
	  <div class="ltr"><a href="https://gall.dcinside.com/board/lists/?id=dclottery">디시 로터리 응모</a></div>
	</div>
	<!-- /어제 게시글,댓글 등록 -->
  </nav>
</div>
<!-- //GNB -->	
	<main id="container" class="integrate_sch">
		<div class="group clear">
				
			<!-- left_content -->
<section  class="left_content">
  <h2 class="blind">통합검색 왼쪽 컨텐츠 영역</h2>
  <div>
	 
	<ins class="kakao_ad_area" style="display:none;" 
 data-ad-unit    = "DAN-Yy7BdlhGdOZBWriq" 
 data-ad-width   = "160" 
 data-ad-height  = "600"></ins> 
<script type="text/javascript" src="//t1.kakaocdn.net/kas/static/ba.min.js" async></script>
  </div>
</section>
<!-- //left_content -->
			
			<!-- center_content -->
			<section class="center_content">
			  <h2 class="blind">통합검색 가운데 컨텐츠 영역</h2>
			  <div class="inner">
			  
				<!-- 파워링크 -->
<div class="power_link ad_premium">
	</div>
<!-- //파워링크 -->

<!-- 게시물 검색결과 -->
<div class="integrate_cont sch_result result_all ">
  <div class="integrate_cont_head clear">
	<h3 class="fl">게시물</h3>
	<div class="btn_sort_box fr">
	  <!-- 최순순일때 클래스 new /  정확도일때 accuracy -->
	  <button class="btn_sort txt new" onclick="location.href='/post/q/%EB%B8%8C%EB%A0%88%EC%9D%B4%EC%BB%A4'">최신순</button>
	  <button class="btn_sort txt " onclick="location.href='/post/sort/accuracy/q/%EB%B8%8C%EB%A0%88%EC%9D%B4%EC%BB%A4'">정확도순</button>
	  <!-- <button class="btn_sort sp_img accuracy"><span class="blind">정확도</span></button> -->
	</div>
  </div>
  <ul class="sch_result_list">
  	<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=helldiversseries&no=814483" target="_blank" class="tit_txt">새벽에 쓰는 벅박이 치매 노인의 추억</a>
	  <p class="link_dsc_txt">갔었음 반 농담으로 진짜 좀 존경스러웠음 결국 버그나 몇십만 잡은 벅박이가 되버렸지만 레일건 <b>브레이커</b> 교복 세트는 좋고 편해서 쓰는 것도 있었지만 이빨 잘 박히는게 그것들 뿐이었음 당시 대물은 폐급중의...</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=helldiversseries" target="_blank" class="sub_txt">헬다이버즈 시리즈</a><span class="date_time">2026.07.21 04:49</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/board/view/?id=projectnike&no=5243989" target="_blank" class="tit_txt">둠스데이 예고편 보고왔는데</a>
	  <p class="link_dsc_txt">닥터둠 이새끼 스톰<b>브레이커</b> 한손으로 막는앤데 윈솔같은 걍 좀 쎈 인간들이 먼 도움이되지 인워때 와칸다처럼 잡몹처리용으로 뺄라나</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/board/lists?id=projectnike" target="_blank" class="sub_txt">승리의 여신 니케</a><span class="date_time">2026.07.21 04:35</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=genrenovel&no=12602856" target="_blank" class="tit_txt">오늘자 흉성의 화신은 「81화」</a>
	  <p class="link_dsc_txt">할케기니아 어린왕자 사냥꾼 n회 정주행? A. 그렇습니다! 제게 감금을 당하시면 할케기니아 씰<b>브레이커</b>도 보여드립니다! 모에요 빨리 감금해조요 역시 할케씰 안 푸는 건 어떤 씹새끼의 인터넷 파묘가 크긴...</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=genrenovel" target="_blank" class="sub_txt">장르소설</a><span class="date_time">2026.07.21 04:15</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=krstock&no=2799671" target="_blank" class="tit_txt">개별주가 서킷<b>브레이커</b> 저렇게 많이 걸리는건 처음보네</a>
	  <p class="link_dsc_txt">얘 거의 1분마다 상킷 하킷 걸림</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=krstock" target="_blank" class="sub_txt">한국 주식</a><span class="date_time">2026.07.21 03:58</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=bungiemarathon&no=25852" target="_blank" class="tit_txt">근데 볼트<b>브레이커</b>&lt;&lt;보스까지잡아볼수잇는거?</a>
	  <p class="link_dsc_txt">그럼 좋은데.. 안돼겟지?</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=bungiemarathon" target="_blank" class="sub_txt">마라톤(게임)</a><span class="date_time">2026.07.21 03:58</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=commercial_movie&no=1796934" target="_blank" class="tit_txt">어벤3랑 예고편 보면 볼수록 개비슷하네</a>
	  <p class="link_dsc_txt">지구에서 팀을 뭉치게 만듬. 예고편보면 초반에 토르가 둠 막으려고 맞다이깜 풀템 타노스도 죽인 스톰<b>브레이커</b>지만 둠 손가락에 막힘 토르가 애들 모아서 어벤저스팀 새로 만듬 보나마나 둠한테 개쳐발리고 배틀...</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=commercial_movie" target="_blank" class="sub_txt">상업영화</a><span class="date_time">2026.07.21 03:44</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=pkmchampions&no=273761" target="_blank" class="tit_txt">엑자몽은 뭘까</a>
	  <p class="link_dsc_txt">이새끼 빼고 메가팬텀넣어서 사이클 <b>브레이커</b> 하니까 게임이 더 수월해짐 대신 풀스윕 뽕맛은 사라져서 아쉽긴함</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=pkmchampions" target="_blank" class="sub_txt">포켓몬 챔피언스</a><span class="date_time">2026.07.21 03:08</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=blacklibrary&no=537912" target="_blank" class="tit_txt">[리멤브란서 대회] 칼라스 일대기 -1</a>
	  <p class="link_dsc_txt">가는 여정이 끝날 때까지 난 너희를 보호할 것이며, 결코 도중에 져버리는 일은 없을 것이다. 난 오스-<b>브레이커</b>가 아니다.&#34; 그 말에 반응한 것은 내 옆에 있던 벨코리온이었다. 그녀는 불만 가득한 목소리로...</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=blacklibrary" target="_blank" class="sub_txt">블랙라이브러리</a><span class="date_time">2026.07.21 02:08</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=krstock&no=2799373" target="_blank" class="tit_txt">아 맞다 서킷<b>브레이커</b></a>
	  <p class="link_dsc_txt">주에 1번 많으면 2번인데 하 내일이나 - dc official App</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=krstock" target="_blank" class="sub_txt">한국 주식</a><span class="date_time">2026.07.21 01:39</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=efb&no=490995" target="_blank" class="tit_txt">슈토가 평가하는 토레스, 로드리, 쿠쿠레야</a>
	  <p class="link_dsc_txt">수 있고 공센도 높은 것도 인자기 닯아서 좋아 보인다 키 182cm, 오른발잡이에 플레이 스타일은 라인<b>브레이커</b> 키가 182인 게 적당해서 좋네 드리블 다루기 쉬우면서도 피지컬도도 확실히 강하다고 느껴질 정도의...</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=efb" target="_blank" class="sub_txt">이풋볼</a><span class="date_time">2026.07.21 01:10</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=dkslflzkssk&no=1599083" target="_blank" class="tit_txt">와.. 영화 예고편만 보고 가슴 두근 거리는건 진짜 오랜만이다..</a>
	  <p class="link_dsc_txt">투샷을 다시 볼 수 있다니... 캡... 진짜 오랜만이다.. 예고편 보니까.. 둠스데이가 무슨 토르 스톰 <b>브레이커</b>를 손가락으로 막던데... 일단 타노스보다 강한건 알겠음.. 헤비랑 j-pop 말고는 크게 도파민...</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=dkslflzkssk" target="_blank" class="sub_txt">아이리 칸나</a><span class="date_time">2026.07.21 01:01</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=commercial_movie&no=1796521" target="_blank" class="tit_txt">둠 근데 센 이유 나왔냐?</a>
	  <p class="link_dsc_txt">솔까 스톰<b>브레이커</b> 토르랑 비비는 거면 타노스급 아님?</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=commercial_movie" target="_blank" class="sub_txt">상업영화</a><span class="date_time">2026.07.21 00:48</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=singlebungle1472&no=2503202" target="_blank" class="tit_txt">싱글벙글 진짜 억까없는 어벤져스 둠스데이 예고편 반응</a>
	  <p class="link_dsc_txt">구 엑스맨 찰스자비에 자석맨인 건 앎 앤트맨이네 ㄴㄱ? ? ???? 누구야 시발 빌리 부처냐? 오 스톰<b>브레이커</b> ㅈㄴ 오랜만 오 닥터둠 스톰 <b>브레이커</b> 두 손가락으로 막나보네 진짠가 보네 로다주 닥터둠이다 뭘 말도...</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=singlebungle1472" target="_blank" class="sub_txt">싱글벙글 지구촌</a><span class="date_time">2026.07.21 00:40</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=loaon&no=2667522" target="_blank" class="tit_txt">뉴비 권왕 고대 뭐 받으라고 해야함?</a>
	  <p class="link_dsc_txt">이번에 친구가 <b>브레이커</b> 한다길래 일단 충충권 추천했는데 고대 코어를 뭐 받으라고 해야할지 모르겠음</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=loaon" target="_blank" class="sub_txt">로아온</a><span class="date_time">2026.07.21 00:33</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=genrenovel&no=12601758" target="_blank" class="tit_txt">둠스데이 근데 닥터 둠 원작급으로 쎄게 나오나본데</a>
	  <p class="link_dsc_txt">스톰<b>브레이커</b> 토르가 연합군 모아서 덤볐는데도 털려서 어벤져스 모집하는거면 원작급 강함이라는거 아니냐 판4 데려온거 보면 개털린 이후에 오딘포스도 얻은거같은데 진짜 어떻게 되는거지</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=genrenovel" target="_blank" class="sub_txt">장르소설</a><span class="date_time">2026.07.21 00:24</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=commercial_movie&no=1796403" target="_blank" class="tit_txt">cg쌀먹했냐? 스톰<b>브레이커</b> 내려치는 장면 ㅈㄴ 맥빠지네</a>
	  <p class="link_dsc_txt">둠이 손가락으로 막는거 장면 전환 존나 어색함ㅋㅋㅋㅋㅋ 스톰<b>브레이커</b> 시점에선 이미 손가락이랑 충돌이 있었는데 둠 시점에서 다시 스톰<b>브레이커</b>가 손가락에 살포시 얹어지네 ㅋㅋ 아 영화 ㅈㄴ불안하노...</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=commercial_movie" target="_blank" class="sub_txt">상업영화</a><span class="date_time">2026.07.21 00:11</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=bungiemarathon&no=25845" target="_blank" class="tit_txt">볼트 <b>브레이커</b> 미리 보기</a>
	  <p class="link_dsc_txt">https://youtu.be/ec5bLvYiWZo?si=eAUMKBohwXwKyqFZ Vault Breaker Overview | Marathon Vault Breaker is Marathon&#39;s first experimental PvE mode, set in Cryo Archive. Play as a crew, duo, or solo—no...</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=bungiemarathon" target="_blank" class="sub_txt">마라톤(게임)</a><span class="date_time">2026.07.21 00:06</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=secularity&no=239564" target="_blank" class="tit_txt">합격하니까 씀씀이가 커지긴 하는듯</a>
	  <p class="link_dsc_txt">고정에 햄버거 사이드메뉴는 시켜본 적이 없는데 요즘은 코코넛라떼 토피넛라떼도 시켜먹어보고 얼마전엔 햄버거 사이드메뉴로 게살크림크로켓까지 시켜봄 등골<b>브레이커</b> 벗어나니까 뭐 사먹을때 죄책감이 사라지더라</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=secularity" target="_blank" class="sub_txt">세무직</a><span class="date_time">2026.07.20 23:49</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=mceu&no=9257" target="_blank" class="tit_txt">닥터둠은 얼마나 강하길래</a>
	  <p class="link_dsc_txt">토르가 풀파워로 날린 스톰<b>브레이커</b>도 겨우 두손가락으로 막냐</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=mceu" target="_blank" class="sub_txt">마블시네마틱유니버스</a><span class="date_time">2026.07.20 23:49</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=bulemarble&no=605141" target="_blank" class="tit_txt">아레나로 친구 보겜 입문시키기</a>
	  <p class="link_dsc_txt">효과 다 이해하고 나서는 나름 신나게 돌림 (여러판 했음) 개억까 한번 나왔는데 동점 상황에서 타이<b>브레이커</b> 결정할때 연쇄 일으킬 구슬이 하나도 없어서 쳐발리는 초유의 사태를 겪었음 ㅅㅂ 맛있게 져주는게...</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=bulemarble" target="_blank" class="sub_txt">부루마불</a><span class="date_time">2026.07.20 23:45</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=endfield&no=764081" target="_blank" class="tit_txt">디테일 관련해서는 4협만 가봐도 느껴짐</a>
	  <p class="link_dsc_txt">랜드<b>브레이커</b>들 훈련하는 모션이라던지 누워있는 모션이라던지</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=endfield" target="_blank" class="sub_txt">명일방주 엔드필드</a><span class="date_time">2026.07.20 23:28</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/board/view/?id=foreign_university&no=1584908" target="_blank" class="tit_txt">계약직 좆소&gt;&gt;&gt;&gt;&gt;&gt; 애미 등골<b>브레이커</b></a>
	  <p class="link_dsc_txt">ㅋㅋㅋㅋㅇㅅㅇ</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/board/lists?id=foreign_university" target="_blank" class="sub_txt">외국대학</a><span class="date_time">2026.07.20 23:21</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=commercial_movie&no=1796129" target="_blank" class="tit_txt">둠 자신만만하게 손가락 들어서 스톰<b>브레이커</b> 잡을려다가</a>
	  <p class="link_dsc_txt">손가락썰리면 어떡함?</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=commercial_movie" target="_blank" class="sub_txt">상업영화</a><span class="date_time">2026.07.20 23:19</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/board/view/?id=pgschool&no=130519" target="_blank" class="tit_txt">경영학 석사과정인데 등골<b>브레이커</b> 맞는거같다</a>
	  <p class="link_dsc_txt">대부분의 대학에서 경영학은 보통 피트타임, 풀타임 나눔. (직장인들도 박사를 하고자하는 니즈가 있는데 가장 만만한게 경영이어서 파트타임 하는듯) 학비도 지원 안되지. 돈은 돈대로 나가지. 과제는 거의 안...</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/board/lists?id=pgschool" target="_blank" class="sub_txt">대학원</a><span class="date_time">2026.07.20 23:17</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/board/view/?id=fantasy_new2&no=9700336" target="_blank" class="tit_txt">둠이 손가락으로 스톰<b>브레이커</b> 막는거 좀 짜치네요</a>
	  <p class="link_dsc_txt">우리 둠스데이 이정도로 강력합니다. 타노스도 스톰<b>브레이커</b> 맞고 죽을뻔 했는데 둠스데이는 손가락으로 막습니다. 이전작 타노스조차 상대가 안됨 존나 쌥니다 하는게 걍 너무 문제를 단순하게 해쳐나가려고...</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/board/lists?id=fantasy_new2" target="_blank" class="sub_txt">판타지</a><span class="date_time">2026.07.20 23:11</span></p>
	</li>
	  </ul>

</div>
				
			  </div>
			  
			  
<!-- 하단 통합 검색-->
<div class="integrate_buttom_search">
<!-- 페이징 -->
<div class="bottom_paging_box iconpaging" id="dgn_btn_paging"><a  href="/post/p/1/q/%EB%B8%8C%EB%A0%88%EC%9D%B4%EC%BB%A4" class="sp_pagingicon page_first">처음</a><a  href="/post/p/110/q/%EB%B8%8C%EB%A0%88%EC%9D%B4%EC%BB%A4" class="sp_pagingicon page_prev">이전</a><a href="/post/p/111/q/%EB%B8%8C%EB%A0%88%EC%9D%B4%EC%BB%A4">111</a><a href="/post/p/112/q/%EB%B8%8C%EB%A0%88%EC%9D%B4%EC%BB%A4">112</a><a href="/post/p/113/q/%EB%B8%8C%EB%A0%88%EC%9D%B4%EC%BB%A4">113</a><a href="/post/p/114/q/%EB%B8%8C%EB%A0%88%EC%9D%B4%EC%BB%A4">114</a><a href="/post/p/115/q/%EB%B8%8C%EB%A0%88%EC%9D%B4%EC%BB%A4">115</a><a href="/post/p/116/q/%EB%B8%8C%EB%A0%88%EC%9D%B4%EC%BB%A4">116</a><a href="/post/p/117/q/%EB%B8%8C%EB%A0%88%EC%9D%B4%EC%BB%A4">117</a><a href="/post/p/118/q/%EB%B8%8C%EB%A0%88%EC%9D%B4%EC%BB%A4">118</a><a href="/post/p/119/q/%EB%B8%8C%EB%A0%88%EC%9D%B4%EC%BB%A4">119</a><em>120</em></div><!-- //페이징 -->

<form name="bottomSearchForm" method="get" action='https://search.dcinside.com/combine/' onSubmit="return globalSearch(this);">
  <fieldset>
	<legend class="blind">통합검색</legend>
	<div class="buttom_search_wrap clear">
	  <div class="bottom_search fl clear">
		<div class="inner_search">
		  <input class="in_keyword" name="search" title="검색어 입력" type="text" value="브레이커">
		</div>
		<button class="sp_img bnt_search btn_globalSearch" type="submit"><span class="blind">검색</span></button>
	  </div>
	</div>
  </fieldset>
</form>
</div>
<!-- //하단 통합 검색-->
			  
			  			  
			</section>
			
			<!-- right_content -->
<section  class="right_content">
  <h2 class="blind">통합검색 오른쪽 컨텐츠 영역</h2>
  <!-- 다음 검색 -->
  <article>
	<div class="content_box r_only_daum">
	  <header class="clear">
      	<h3 class="tit fl"><a href="">다음 검색</a></h3>
        <div class="fr">
        	<a href="https://daum.net" class="inner_txt">제공 Daum 검색</a><button type="button" onclick="$('.daum_tip').show();"><span class="blind">다음검색이란</span><em class="sp_img icon_tip_open"></em></button>
        </div>
        <div class="pop_tipbox daum_tip" style="left:0px;top:11px;display:none"><!-- 220419 left,top값 수정-->
        	<div class="inner">
                    검색어를 누르면, Daum 검색결과로 이동합니다.
            	<button type="button" class="btn_tipclose" onclick="$('.daum_tip').hide();"><span class="blind">닫기</span><em class="sp_img icon_tipclose"></em></button>
            </div>
        </div>
      </header>
	  <div class="only_daum_area">
		<form onsubmit="return false;">
		  <fieldset>
			<legend class="blind">다음 검색</legend>
			<div class="small_searchbox clear">
			  <input class="small_in_keyword" type="text" title="검색어 입력" onkeydown="javascript:if(event.keyCode==13){searchKaKao();};">
			  <input type="hidden" class="origin_keyword" name="origin_keyword" value=""/>
			  <button class="btn_iconsearch logClass" type="submit" onClick="searchKaKao();" depth1="daum_search" depth2="daum_search_click_log" depth3="pc_search_btn"><span class="blind">검색</span><em class="sp_img icon_smallsearch"></em></button>
			  <button class="bnt_smallsearch logClass" type="submit" onClick="searchKaKao();" depth1="daum_search" depth2="daum_search_click_log" depth3="pc_search_btn">다음 검색</button>

			  <!-- 검색 자동완성 레이어-->
			  <div class="auto_wordwrap small" style="left:-1px;top:28px;display:none"><!--자동완성 레어이 : display:block -->
				<div class="auto_word" >
				  <div class="word_box">
					<h3 class="blind">실기간 검색결과</h3>
					<ul class="word_list">
					</ul>
				  </div>
				</div>
				<div class="word_close"><a href="javascript:hideLyr()" class="sp_img btn_close"><span class="blind">자동완성 레이어 닫기</span></a></div>
			  </div>
			  <!-- //검색 자동완성 레이어 -->
			</div>
		  </fieldset>
		</form>
		<div class="fix_element">
		  <a href="https://search.daum.net/search?&amp;w=tot&amp;DA=DIK&amp;q=%EB%82%A0%EC%94%A8+%ED%98%84%EC%9C%84%EC%B9%98" target="_blank" class="fix_txt logClass" depth1="daum_search" depth2="daum_search_click_log" depth3="pc_weather">날씨</a>
		  <a href="https://search.daum.net/search?&amp;w=tot&amp;DA=DIK&amp;q=%EC%9A%B4%EC%84%B8" target="_blank" class="fix_txt logClass" depth1="daum_search" depth2="daum_search_click_log" depth3="pc_fortune">운세</a>
		  <a href="https://search.daum.net/search?&amp;w=tot&amp;DA=DIK&amp;q=%ED%99%98%EC%9C%A8" target="_blank" class="fix_txt logClass" depth1="daum_search" depth2="daum_search_click_log" depth3="pc_exchange">환율</a>
		</div>
	  </div>
	</div>
  </article>
  <!-- //다음 검색 -->
  <!-- 실시간 베스트 -->
  <article>
  	<div class="content_box r_timebest">
    	<header>
        	<h3 class="tit"><a href="https://gall.dcinside.com/board/lists?id=dcbest">실시간 베스트</a></h3>
            <div class="pageing_box">
            	<div class="page_num">
                	<strong class="now_num realtimeNum">1</strong>/<span class="total_num realtimeTotal">8</span>
                </div>
                <button type="button" class="btn_blueprev " id="realtime_prev"><span class="blind">이전</span><em class="sp_img icon_blueprev"></em></button>
                <button type="button" class="btn_bluenext on" id="realtime_next"><span class="blind">다음</span><em class="sp_img icon_bluenext"></em></button>
            </div>
        </header>
        <div class="rcont_imgtxt_box">
        	<div class="img">
        	            	<div class="rcontimg_box" >
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452808" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73de785fa11d028311db29c13695a307ccacddb30f4f715f4c08176e941940c1f28d171fcbc55211e9d506180d638a3e07037b2a7d0a2772347ef9f66149599e8ed6776a5" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>[속보]뱅오아, 삼전 주주환원 100조이상 할것</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" >
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452772" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73de785fa11d028311db29c13695a307ccacddb30f5fe15f4f3f050d97342b8cee9cdd43cd35c02d490b201504ca1cb59ef10ebfe768369cc00dfd6239d95acc247a8dac3e1282f74d30f17a9ef3da80010ef3e72c8bfbeef184fed3024c70a28bbe5a5df1d2dea975b" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>승무원 만날수있으면 만나라는 블라인..ㄹㅇ</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452796" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73de785fa11d028311db29c13695a307ccacddb30f4f715f3414224c1b0abb0f923da903f33ca4929b3eda89c48dba5b26df6749882ece5de71c9396b1637da8a68d54f5719aced551dedfc2f6590" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>트럼프, 호르무즈 재개 시 이란전 종결 검토</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452705" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73de785fa11d028311db29c13695a307ccacddb30f5fe15e91893180bff7b79150fd9b14c10709c78153ff1422733511e9f2d9fa953a66c16f7acc5050b0f9ccb4b8e41271bff1a3abaa49f272025a5e5c40855" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>ISA 개편안·주가누르기 법안 전면 재검토</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452786" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73ce785fa11d02831e402f11b4aff5112a47efe1982b9258f5b729307e244fa5ad137e7326c9cca921c61946ed9bd0a28ae0f5dd0137dbd2aedf7384fe28aecdbb722365b223899d89d" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>안규백, 사실상 간첩 선언ㅋㅋㅋㅋ</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452765" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73de785fa11d028311db29c13695a307ccacddb30f5fe15e8a73ff3c6c3c72e65fe0ad4fe0d7d2c3b98a7bf2b36d7892fb067f4c253ade7bb3d094c01df7d83e3353258491a67d1dac4a8786b2e57fece78e0d7422087e72a85cbf4ae66c3e94a" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>이동진 오디세이 평점</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452718" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73ce785fa11d02831e402f11b4aff5112a47efe1982b9258f5b729307e244fc5dd434e5396391c992b3c6521412121aa1e16e05a231dc79dbf7dcb213031be08d8b2c3d099dbb32c6b2b4" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>청년주택 버스하우스 없던 걸로 해줄래 ㅋㅋㅋ </strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452717" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73de785fa11d028311db29c13695a307ccacddb30f5fe15e91893180bff7b79150fdab14919709978a9ec8fc369cc2d51ed4dceefed6e6a606fae26bdfcd1a5c61eaafb3439adaae253b01eacabe16a0f33459b" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>홍콩 아파트 참사 원인, 담뱃불 가능성</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452798" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73fe785fa11d028318f176c8dd1b3ddcdc44efd17ef7aeef4db9cebf53ba6fabeebf45dd4d8a048d2e3fc31c1c3300b65ef1c0262a5f488b7e39a8e81f5471d0947614993ed4de696d1aa7005e551f741d2b2b7d0a5c0d281bd7b30e8283187ce08c96c" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>중국 상륙 '돌핀'...상하이 곳곳 침수, 항공편 대거 결항</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452712" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73fe785fa11d028318f176c8dd1b3ddcdc44efd17ee73eef2ce5a27af00e52b8042a368dec4e6a80721044fdd49d492a374d5464559509f26cc2be8d49b8f15b122a7d9fbf428a7a55e022f2804bfcd3de1dfa960a73892" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>일본축협 "한국축협 성접대, 심판 4명 조사..결과 발표할것"</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452812" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73ce785fa11d02831e402f11b4aff5112a47efe1983b02596a6634322125a16640349d074ba95deb8f885d3ba8ca49d83982987cb7260f69b00722bd8" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>“이태원 참사 119 무전 조작·누락 의혹”…유가족, 첫 형사고소</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452698" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73fe785fa11d028318f176c8dd1b3ddcdc44efd17ee72eef5805d5f941986bd7b06b34fd7af0edb23d4edf9fccb3f2d1d9845141b43fd327d0aed1a0cb15718ec3f77bfb53196b90dac66" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>타츠키 성지순례 feat.레제&룩백</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452726" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73de785fa11d028311db29c13695a307ccacddb30f5fe15f4f1e742db7f56a8d2fdc8c574c85f08cfe84e96ea03cada25e565a3e30eb2f6e13b30490752194d037db4620f63f6d1b2" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>일하고 있는 엄마에게 밥 가져다 달라는 아들</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452778" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73de785fa11d028311db29c13695a307ccacddb30f4f715f4c08176e941940c1928d577f9b15c291f407a42058be8e2b2303c4b131fcb736aa3714e38b128f0c8adc5daca347a7d63fc8f7d38e2b2b5c60ac192ddb4bb11628a9556e16c3d" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>8월 10일 시황</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452789" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73de785fa11d028311db29c13695a307ccacddb30f4f715e81b5751b7b46c3de2100dfb265155d53ca8f759511717ac7cf01ad002d6d06263ff86bca46099c2dd8117a7abef0e2d7aabf63f5f5776901ac1ddf60637c8471069b7c0f1079a84ca6a" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>최예나 워터밤 디바 코스프레 ㄷㄷ</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452701" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73de785fa11d028311db29c13695a307ccacddb30f5fe15f4f1e742db7f56a8d2fdc8c574c85f08cfec4d92eb01c1d729e367a3e355efa0e4740232a5aa007d1f0bb3ca4bc1d097fc9c3e24913fb31f8cc0fd0fd406" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>적의 적은 나의 친구, 미생물제초제</strong>
                        </div>
                    </a>
                 </div>
             
                          </div>
             <ul class="txt">
                          	<li ><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452741">백로 쫓으려 애꿎은 나무만 '뎅강'‥&quot;쫓아내도 바로 옆인데‥&quot;</a></li>
                         	<li ><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452781">“뒤집힌 보트 붙잡고 8시간”…인천 앞바다 낚시객 3명 극적 구조</a></li>
                         	<li ><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452756">블랙핑크 때문에 국중박 통제</a></li>
                         	<li ><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452688">싱글벙글 의외로 열강들도 손절했던 짓</a></li>
                         	<li ><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452708">미국 넘어온지 1년동안의 이야기</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452691">[핑계고] 풍향중에서 들렀다가 충격 받은 지역</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452804">싱글벙글 햄버거에 대해 알아보자(+그림 추가 버전)</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452753">오들오들 911촌</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452792">아이맥스 떡밥에 올려보는 아이맥스 작례</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452768">세우타 난민 난입 속 미성년 성폭력 충격</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452780">안민석, 악성 학부모 고발…“선생님 협박 용납 못해”</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452729">군 탱크·자주포 기름닦는 수입포 9개월째 ‘재고없음’…이번이 처음</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452700">놀란 감독이 가장 많이 쓴 배우들 2부...jpg</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452703">카메라와 함께, 다시 찾은 고베</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452759">안녕하세요 32번째낙오자들입니다 별거아니에요 (20장)</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452769">청년에게 연일 메세지를 낸 이재명 대통령 하지만 연일 지지율 하락</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452732">“나 반포살지롱∼센트럴 버스하우스에” 2030 분노의 조롱 밈</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452766">싱글벙글 LG전자에서 만든 집</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452754">유투버 단군 [오디세이] 평점</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452757">의외로 젠슨황이 샤라웃한 가수</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452747">정청래, 李 대통령을 또 ‘이명박’으로 잘못 지칭 말 실수</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452771">‘출장지서 1분 만에 퇴근’상습 근태 불량 SK하이닉스 직원 해고 정당</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452714">[금주의 신상] 8월 2주차 신제품 먹거리 모음.jpg</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452807">하영 증조부 친일파 논란</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452733">민주당 강원tk순회경선, 정"당과 의리지키겠다"김"완벽한당정일치"</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452748">손주 돌보려고 집 비운건데 비거주면 다 투기냐 정부 세제개편 민원 폭주 </a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452696">LA보안관의 하나회, 보안관보 갱단(Deputy Gangs)</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452774">대만, 일본에 강력 항의... 친일 정권의 이례적 비판 왜?</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452723">채널a) "왜 술 마시고 와"..기원에서 60대 흉기살인</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452800">환불 미루다 연락두절…여행사 피해주의보</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452721">[오피셜] 이강인 실점 빌미....gif</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452720">jtbc) 동해안 물폭탄..영남은 바짝타는 가뭄</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452735">국뽕국뽕 최대 다국적해군훈련 림팩에서 1등했다는 한국해군</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452784">싱글벙글 드디어 금메달에 도전한다는 한국 육상</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452738">후티 반군 "사우디 정유시설 드론 타격"…사우디 "인명피해 없어"</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452762">kbs) 남는 전기 '전기차' 저장..차주 '수익원' 될까</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452730">말다툼 끝에 어머니 살해한 10대, 반려견도 죽여</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452814">50대 잔치된 ‘국민성장펀드’…9월 2차 공모는 ‘청년·서민’ 정조준</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452736">용산어린이정원 앞 근조화환…주민들 "아파트에 공원 뺏길 수 없다"</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452709">싱글벙글 일본에 처음 온 미국인이 먹은 코스 요리...jpg</a></li>
            	
             </ul>
		</div>
     </div>
  </article>  
  <!--  //실시간 베스트 -->
   <!-- 뉴스 -->
  <article>
	<div class="content_box r_dcmedia">
	  <header >
        	<h3 class="tit mediaTab"><a href="javascript:mediaTabMove('media');">디시미디어</a></h3>
        	<h3 class="tit issueTab"><a href="javascript:mediaTabMove('issue');">디시이슈</a></h3>
		<div class="pageing_box">
		  <div class="page_num">
			<strong class="now_num newsNum">1</strong>/<span id="newsTotal" class="total_num newsTotal">2</span>
		  </div>
		  <button type="button" class="btn_blueprev " id="news_prev"><span class="blind">이전</span><em class="sp_img icon_blueprev"></em></button>
		  <button type="button" class="btn_bluenext on" id="news_next"><span class="blind">다음</span><em class="sp_img icon_bluenext"></em></button>
		</div>
	  </header>
        <div class="rcont_imgtxt_box r_media_box" style="display:none;">
			<div class="img clear">
				<script id="mediaImg-tmpl" type="text/x-jquery-tmpl">
				<div class="rcontimg_box">
					<a class="inner" href="${link}" target = "${link.indexOf('https://gall.dcinside.com') === 0 ? '_self' : '_blank'}">
						<span class="img_box">
						<img src="${thumb_img}" alt="">
						</span>
						<div class="txt_box">
							<strong>${title}</strong>
						</div>
					</a>
				</div>
                </script>
			</div>
			<ul class="txt">
				<script id="mediaTxt-tmpl" type="text/x-jquery-tmpl">
				<li><a href="${link}" target = "${link.indexOf('https://gall.dcinside.com') === 0 ? '_self' : '_blank'}">${title}</a></li>
				</script>
			</ul>
		</div>
		<div class="rcont_imgtxt_box dcissue r_issue_box" style="display:none;">
			<div class="img clear">
				<script id="issueImg-tmpl" type="text/x-jquery-tmpl">
				<div class="rcontimg_box">
					<a class="inner" href="${url}" target = "_blank">
						<span class="img_box">
						<img src="${dc_img}" alt="">
						</span>
						<div class="txt_box">
                            <span class="ranking blue">${rank}</span>
							<strong>${title}</strong>
						</div>
					</a>
				</div>
                </script>
			</div>
			<ul class="txt">
				<script id="issueTxt-tmpl" type="text/x-jquery-tmpl">
				<li>
                    <a href="${url}" target = "_blank">
                    <span class="ranking blue">${rank}</span>
                    ${title}
                    </a>
                </li>
				</script>
			</ul>
		</div>
	</div>
  </article>
  <!-- //뉴스 -->
  <!-- 개념글 -->
  <article>
	<div class="content_box r_recommend">
	  <header>
	  <script id="recomTit-tmpl" type="text/x-jquery-tmpl">
		<h3 class="tit"><a href="${url}">개념글 <span class="sub">[<em>${gall_name} 갤러리</em>]</span></a></h3>
	  </script>
		<div class="pageing_box">
		  <div class="page_num">
			<strong class="now_num recomNum">1</strong>/<span class="total_num recomTotal">3</span>
		  </div>
		  <button type="button" class="btn_blueprev" id="recom_prev"><span class="blind">이전</span><em class="sp_img icon_blueprev"></em></button>
		  <button type="button" class="btn_bluenext on" id="recom_next"><span class="blind">다음</span><em class="sp_img icon_bluenext"></em></button>
		</div>
	  </header>
	  <ul class="rcont_list">
	  <script id="recomList-tmpl" type="text/x-jquery-tmpl">
		<li><a href="${url}">${title}</a></li>
	  </script>
	  </ul>
	</div>
  </article>
  <!-- //개념글 -->
</section>
<!-- right_content -->				
	
		</div>			
	</main>
	
	<!-- 하단 -->
<footer class="dcfoot type1">
 <div class="info_policy">
   <a href="https://www.dcinside.com/company">회사소개</a>   
   <a href="https://www.dcinside.com/company#alliance">제휴안내</a>
   <a href="https://nstatic.dcinside.com/dc/dcad/w/index.html">광고안내</a>
   <a href="https://nstatic.dcinside.com/dc/w/policy/policy_index.html">이용약관</a>
   <a href="https://nstatic.dcinside.com/dc/w/policy/privacy_index.html"><b>개인정보처리방침</b></a>
   <a href="https://nstatic.dcinside.com/dc/w/policy/youth_policy.html">청소년보호정책</a>
 </div>
 <div class="copyright">Copyright ⓒ 1999 - 2026 dcinside. All rights reserved.</div>
</footer>
<!-- //하단 -->
	
</div><!--//id:top-->

<input type="hidden" id="s_keyword" value="브레이커"/>

<script type="text/javascript" src="https://ssl.pstatic.net/adimg3.search/adpost/js/adpost_show_ads_v2.min.js"></script>
<script type="text/javascript">
var s_keyword = $('#s_keyword').val();

function handle_naver_ads_response(response) {
	if(typeof(response['error']) == 'undefined' && response['ads']['length']) {
		$('.ad_premium *').remove();
		
		var html = '<div class="clear">' +
				   '<h3 class="fl">파워링크 <span class="adicon sp_img"><em class="blind">광고</em></span></h3>' +
				   '<a href="https://saedu.naver.com/adbiz/searchad/intro.nhn" target="_blank" class="fr link_upinfo">등록안내</a>' +
				   '</div>' +
				   '<ul class="pwlink_list abundle">';

		var patt = eval('/'+ s_keyword +'/g');
					
		for(var i in response['ads']) {
		 	ad_array = response['ads'][i];
			var desc = new String(ad_array['description']);
		 	html += '<li>'+
					'<a href="'+ ad_array['clickUrl'] + '" target="_blank">' +
		 			'<span class="tit_txt">'+ ad_array['headline'] +'</span>'+
		 			'<span class="link_txt">'+ ad_array['displayUrl'] +'</span>'+
		 			'<p class="link_dsc_txt">'+ desc.replace(patt, '<strong>'+ s_keyword +'</strong>') +'</p>'+
					'</a>'+
		 			'</li>';
		}
		
		html += '</ul>';

		$('.ad_premium').append(html).show();
	}
	
	if($('.ad_premium').index() >= 0) {
		if($('.ad_premium').html().trim()) {
			$('.ad_premium').show();
		}
		else {
			$('.ad_premium').remove();
		}
	}
}

//<![CDATA[
NAVER_ADPOST_V2({ 
	channel: "dcinside.ch1",
	pageSize: 3, 
	url: location.href,
	query: s_keyword
}); 
//]]>
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-5149721-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-5149721-4');

  var f_u_no = '';
</script>
<!-- g4a 구글애널리틱스 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-V46B0SHSY7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-V46B0SHSY7'); 
</script>
<script src="https://gall.dcinside.com/_js/ad_audit.js?v=2605081354"></script>
</body>
</html>