<!DOCTYPE html>
<html lang="ko" class="darkmode">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="content-language" content="kr">
  <meta name="google-site-verification" content="8_SyZg2Wg3LNnCmFXzETp7ld4yjZB8ny17m8QsYsLwk">
  <meta name="author" content="디시인사이드">
  <meta name="title" content="디시인사이드 검색결과">
  <meta name="description" content="디시인사이드 검색결과">
  <meta property="og:type" content="website">
  <meta property="og:title" content="디시인사이드 검색결과">
  <meta property="og:description" content="디시인사이드 검색결과">
  <meta property="og:image" content="https://nstatic.dcinside.com/dc/w/images/descrip_img.png">
  <meta property="og:url" content="https://www.dcinside.com/">
    <meta name="msvalidate.01" content="575F4ACB57FA589778D58AFD8AEB4EED" />
  <title>디시인사이드 검색결과</title>
 	<!--[if IE 7]>
	<link rel="stylesheet" type="text/css" href="https://nstatic.dcinside.com/dc/w/css/ie7.css"/>
	<![endif]-->
		<script type="text/javascript" src="https://nstatic.dcinside.com/dgn/gallery/js/cross_domain.js"></script>
	<!--[if lt IE 9]>
	<script src="https://nstatic.dcinside.com/dgn/gallery/js/jquery-1.7.2.min.js"></script>
	<![endif]-->
	<!--[if gte IE 9]>
	<script src="https://nstatic.dcinside.com/dgn/gallery/js/jquery-3.2.1.min.js"></script>
	<![endif]-->
	<!--[if !IE]> -->
	    <script src="https://nstatic.dcinside.com/dgn/gallery/js/jquery-3.2.1.min.js"></script>
    	<!-- <![endif]-->
	<script type="text/javascript" src="https://nstatic.dcinside.com/dgn/gallery/js/jquery.tmpl.min.js"></script>
	<script type="text/javascript" src="https://nstatic.dcinside.com/dgn/gallery/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/_js/jquery/jquery.paging.js"></script>
	<script type="text/javascript" src="/_js/jquery/jquery.validate.js"></script>
	<script type="text/javascript" src="/_js/jquery/jquery.placeholder.min.js"></script>
	<script type="text/javascript" src="/_js/jquery/jquery.tmpl.min.js"></script>
	<script type="text/javascript" src="/_js/ctr_cookie.min.js"></script>
	<script type="text/javascript" src="/_js/common.js?v=251010-2"></script>
	<script type="text/javascript" src="/_js/common_json.js?v=2507"></script>
	<script type="text/javascript" src="/_js/navigation.js"></script>
	<script type="text/javascript" src="/_js/click_log.js"></script>
	<script type="text/javascript" src="https://gall.dcinside.com/_js/globalSearch.js?220331"></script>
	<script type="text/javascript" src="https://gall.dcinside.com/_js/crossDomainStorage.js?1"></script>
	<script type="text/javascript" src="https://gall.dcinside.com/_js/lately_visit_v1.js?3"></script>
	<script type="text/javascript" src="https://gall.dcinside.com/_js/favorite_v1.js?3"></script>
	<script type="text/javascript" src="https://gall.dcinside.com/_js/alarm_polling.js?2504"></script>
    <script type="text/javascript" src="https://gall.dcinside.com/_js/gallery_right_login.js?2504"></script>
	
	<script type="text/javascript">
		document.domain = "dcinside.com";
	</script>
	<link rel="shortcut icon" href="https://nstatic.dcinside.com/dc/w/images/logo_icon.ico"/>
	<link rel="stylesheet" type="text/css" href="https://nstatic.dcinside.com/dc/w/css/reset.css?v=2"/>
	<link rel="stylesheet" type="text/css" href="https://nstatic.dcinside.com/dc/w/css/common.css?250123-1"/>
  	<link rel="stylesheet" type="text/css" href="https://nstatic.dcinside.com/dc/w/css/contents.css?v=251117"/>
	<link rel="stylesheet" type="text/css" href="https://nstatic.dcinside.com/dc/w/css/popup.css?2203"/>
		<script type="text/javascript" src="https://nstatic.dcinside.com/dc/w/js/html5shiv.min.js"></script>
	<!--[if IE 7]>
		<Link Rel="Stylesheet" Type="Text/Css" Href="Https://Nstatic.Dcinside.Com/Dc/W/Css/Ie7.Css"/>
	<![Endif]-->

	<style type="text/css">
	.search_keylayer { left: 340px; }
	</style>
	
	<script type="text/javascript">
		//우측 상단 더보기
		function moreView1()
		{
			if(document.getElementById("gnb_layer2").style.display =="none")
			{
				document.getElementById("gnb_layer2").style.display ="block";
			}
			else {
				document.getElementById("gnb_layer2").style.display ="none";
			}
		}

	</script>
</head>

<body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-5149721-69', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>

<!--스킵 내비게이션-->
<div class="skip">
  <a href="#search_wrap"><span>통합검색 바로가기</span></a>
  <a href="#container"><span>본문영역 바로가기</span></a>
</div>
<!-- //스킵 내비게이션-->
<div id="top" class="dcwrap width1160 integrate_schwrap">
		
	<!-- 상단 -->
<header class="dcheader">
  <div class="dchead">
	<!-- 로고영역 -->
	<h1 class="dc_logo">
          <a href="https://www.dcinside.com/">
          	<img src="https://nstatic.dcinside.com/dc/w/images/dcin_logo.png" alt="디시인사이드" class="logo_img">          </a>          
          <a href="https://search.dcinside.com/">
          	<img src="https://nstatic.dcinside.com/dc/w/images/tit_integrate_search.png" alt="통합검색" class="logo_img2">          </a>
    </h1>
	<!-- //로고영역 -->

	<div id="search_wrap" class="wrap_search">
	  <h2 class="blind">갤러리 검색</h2>
	  <!-- 갤러리 통합검색 -->
	  <form  name="topSearchForm" id="searchform" method="get" action='' onSubmit="return globalSearch(this);" data-tab="post">
		<fieldset>
		  <legend class="blind">통합검색</legend>
		  <div  class="top_search clear">
			<div class="inner_search">
			  <input class="in_keyword" type="text" name="search" id="gn_top_search_0" title="검색어 입력" value="케이온!" placeholder="갤러리 & 통합검색" tabindex="1" accesskey="f" type="search" autocomplete="off" style="ime-mode:active;" onfocus="show_search_keywords(this)">
			</div>
			<button class="sp_img bnt_search btn_globalSearch"><span class="blind">검색</span></button>
			<button type="button" class="btn_visit" onclick="openLately()">최근 방문</button>
		  </div>
		</fieldset>
	  </form>
	  <!-- //갤러리 통합검색 -->
		<!-- 최근방문 레이어 -->
                <div id="visit_history_lyr" class="pop_wrap type2" style="left:0;top:45px;display:none;">
                  <div class="pop_content visit bookmk">
                    <div class="visitab_box">
                      <button type="button" onclick="tabLately('gall')" class="gallTab on">최근 방문</button>
                      <button type="button" onclick="tabLately('fav')" class="favTab">즐겨찾기</button>
                    </div>
                    <div class="tab_content">
                      
                      <!-- 최근방문 갤러리 리스트 -->
                      <div id ="gall_div">
					  <p class="gall_msg empty_box" style="display:none">최근 방문 갤러리가 없습니다.</p>
                      <ul class="pop_visit_list gall clear" style="display:block"></ul>
					  <script id="lyr_lately_galls-tmpl" type="text/x-jquery-tmpl">
                        <li class="lately_gall gall_${id}" style="display:none;">
                          <a href="https://${link}" class="lately_log" section="${id}">${name}</a>{{if type == 'MI'}}<em class="icon_mini">미니갤러리</em>{{/if}}
                          <button type="button" class="btn_del" style="outline:" data-id="${id}"><span class="blind" >삭제</span><em class="sp_img icon_del"></em></button>
                        </li>
					  </script>
					  </div>
					  
					  <!-- 즐겨찾기 리스트 -->
					   <div id ="fav_div">
					                        <p class="empty_box"><a href="https://sign.dcinside.com/login?s_url=https%3A%2F%2Fsearch.dcinside.com%2Fpost%2Fp%2F120%2Fq%2F%25EC%25BC%2580%25EC%259D%25B4%25EC%2598%25A8%2521"><span>로그인</span> 후 이용 가능합니다.</a></p>
                      					  <script id="lyr_lately_favs-tmpl" type="text/x-jquery-tmpl">
						<li class ="lately_gall fav_${code_id}" style="display:none;"><a href="https://gall.dcinside.com/{{if type == 'MI'}}mini/{{/if}}${code_id}" class="">${name}</a>{{if type == 'MI'}}<em class="icon_mini">미니갤러리</em>{{else type == 'M'}}<em class="icon_minor">ⓜ</em>{{/if}}</li>
					  </script>
					 </div>
                    </div>
                     <div class="paging_btnbox">
                      <div class="inner">
                        <button type="button" class="btn_prev" id="lately_prev"><span class="blind">이전</span><em class="sp_img icon_prev"></em></button>
                        <div class="page_num page_gall">
						  <strong class="now_num">1</strong>/<span class="total_num">1</span>
                        </div>
						<div class="page_num page_fav" style="display:none;">
						  <strong class="now_num">1</strong>/<span class="total_num">1</span>
                        </div>
                        <button type="button" class="btn_next" id="lately_next"><span class="blind">다음</span><em class="sp_img icon_next"></em></button>
                      </div>
                      <button type="button" class="list_modi page_fav" style="display:none;" onclick="myFavorite('185')">편집</button>
						<!-- div class="pop_wrap type3" id = "my_favorite" style="right:12px;top:23px;display:none"></div-->
                    </div>

                  </div>
                </div>
                <!-- //최근방문 -->
	  <!-- 검색 자동완성 레이어-->
	  <div class="top_banner">
		</div>
		<!--자동완성 레어이 : display:block -->
	  <!--div class="auto_wordwrap" style="left:0;top:45px;display:none">
	  </div-->
	  <!-- //검색 자동완성 레이어 -->
	</div>
	<div class="area_links clear">
	  <ul class="fl clear">
		<li><a href="https://gall.dcinside.com/">갤러리</a></li>
		<li><a href="https://gall.dcinside.com/m">마이너갤</a></li>
		<li><a href="https://gall.dcinside.com/n">미니갤</a></li>
		<li><a href="https://gall.dcinside.com/p">인물갤</a></li>
		<li><a href="https://gallog.dcinside.com">갤로그</a></li>
		<li><a href="https://h5.dcinside.com/game/main">디시게임</a></li>
				<li><a href="https://event.dcinside.com">이벤트</a></li>
		<li><a href="https://mall.dcinside.com/?from=A08">디시콘</a></li>		
					<li><a href='https://sign.dcinside.com/login?s_url=https://search.dcinside.com/combine/q/%EC%BC%80%EC%9D%B4%EC%98%A8%21' class="btn_top_loginout" target='_top'>로그인</a></li>
						
	  </ul>
	  <div class="fl darkmodebox">
		  <a href="javascript:;" class="darkonoff" onclick="darkmode()"><em class="sp_img icon_tdark"></em>야간모드</a>
		  <div class="pop_tipbox join_tip dark" onclick="$(this).hide();used_darkmode();" style="top:25px;left:-35px;display:none">
			<div class="inner">
			  <p class="join_txt">야간 모드를 이용해 보세요</p>
			</div>
		  </div>
	  </div>
	</div>
  </div>
</header>
<!-- //상단 -->
<!-- GNB -->
<div class="gnb_bar">
  <nav class="gnb clear">
	<h2 class="blind">GNB</h2>
	
	<ul class="gnb_list clear">
    	<li><a href="https://search.dcinside.com/combine/q/%EC%BC%80%EC%9D%B4%EC%98%A8%21" class="">통합</a></li>
        <li><a href="https://search.dcinside.com/gallery/q/%EC%BC%80%EC%9D%B4%EC%98%A8%21" class="">갤러리</a></li>
        <li><a href="https://search.dcinside.com/movie/q/%EC%BC%80%EC%9D%B4%EC%98%A8%21" class="">동영상</a></li>
        <li><a href="https://search.dcinside.com/post/q/%EC%BC%80%EC%9D%B4%EC%98%A8%21" class="on">게시물</a></li>
    </ul>

	<!-- 어제 게시글,댓글 등록 -->
	<div class="gall_exposure">
	  <div class="posts"><a href="https://gall.dcinside.com/board/lists/?id=dclottery">어제 <em class="num" id="total_content_count"></em> 게시글 등록</a></div>
	  <div class="reply"><a href="https://gall.dcinside.com/board/lists/?id=dclottery">어제 <em class="num" id="total_reple_count"></em> 댓글 등록</a></div>
	  <div class="gall">총 갤러리 수 <em class="num" id="total_gallery_count"></em></div>
	  <div class="ltr"><a href="https://gall.dcinside.com/board/lists/?id=dclottery">디시 로터리 응모</a></div>
	</div>
	<!-- /어제 게시글,댓글 등록 -->
  </nav>
</div>
<!-- //GNB -->	
	<main id="container" class="integrate_sch">
		<div class="group clear">
				
			<!-- left_content -->
<section  class="left_content">
  <h2 class="blind">통합검색 왼쪽 컨텐츠 영역</h2>
  <div>
	 
	<ins class="kakao_ad_area" style="display:none;" 
 data-ad-unit    = "DAN-Yy7BdlhGdOZBWriq" 
 data-ad-width   = "160" 
 data-ad-height  = "600"></ins> 
<script type="text/javascript" src="//t1.kakaocdn.net/kas/static/ba.min.js" async></script>
  </div>
</section>
<!-- //left_content -->
			
			<!-- center_content -->
			<section class="center_content">
			  <h2 class="blind">통합검색 가운데 컨텐츠 영역</h2>
			  <div class="inner">
			  
				<!-- 파워링크 -->
<div class="power_link ad_premium">
	</div>
<!-- //파워링크 -->

<!-- 게시물 검색결과 -->
<div class="integrate_cont sch_result result_all ">
  <div class="integrate_cont_head clear">
	<h3 class="fl">게시물</h3>
	<div class="btn_sort_box fr">
	  <!-- 최순순일때 클래스 new /  정확도일때 accuracy -->
	  <button class="btn_sort txt new" onclick="location.href='/post/q/%EC%BC%80%EC%9D%B4%EC%98%A8%21'">최신순</button>
	  <button class="btn_sort txt " onclick="location.href='/post/sort/accuracy/q/%EC%BC%80%EC%9D%B4%EC%98%A8%21'">정확도순</button>
	  <!-- <button class="btn_sort sp_img accuracy"><span class="blind">정확도</span></button> -->
	</div>
  </div>
  <ul class="sch_result_list">
  	<li>
	  <a href="https://gall.dcinside.com/board/view/?id=keion&no=526993" target="_blank" class="tit_txt"><b>케이온</b>은 절대로</a>
	  <p class="link_dsc_txt">현역에 도달할 일은 절대 없다 이것이 진실</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/board/lists?id=keion" target="_blank" class="sub_txt">케이온</a><span class="date_time">2026.05.31 20:49</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=oticket&no=2592888" target="_blank" class="tit_txt">걸밴드 여기서 더 볼거 있음?</a>
	  <p class="link_dsc_txt">최근에 본거 <b>케이온</b> 봇치 걸라리 마이고 아베뮤 오빙이 요즘 걸밴드에 빠진듯 - dc official App</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=oticket" target="_blank" class="sub_txt">오리지널 티켓</a><span class="date_time">2026.05.31 20:32</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=houkagolive&no=14018" target="_blank" class="tit_txt">나에게 <b>케이온</b>은?</a>
	  <p class="link_dsc_txt">1기가 나온지 벌써 17년이나 됬는데 이렇게 많은 분들과 함께 즐길수 있는게 너무 행복했습니다. <b>케이온</b>과 관련되서 인스타그램 컨텐츠를 하나 만들고싶은데 여러분이 생각하는 <b>케이온</b>은 무엇인지에 대해 다루고...</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=houkagolive" target="_blank" class="sub_txt">케이온! 방과 후 라이브!!</a><span class="date_time">2026.05.31 20:00</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=comics&no=778746" target="_blank" class="tit_txt"><b>케이온</b> 후유증 은근 씨게 왔음</a>
	  <p class="link_dsc_txt">저번주에 다 보고 뭔가 쓸쓸해져서 일상물들 이것저것 보고있는데 <b>케이온</b> 애니가 ㄹㅇ 잘만든거같음 원작은 응? 하는 허무결말 느낌인데 애니는 진짜 졸업식에서 친구들 보내주는 느낌옴</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=comics" target="_blank" class="sub_txt">월간만화</a><span class="date_time">2026.05.31 19:52</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=nendoroid&no=867503" target="_blank" class="tit_txt"><b>케이온</b> 기대중</a>
	  <p class="link_dsc_txt">덮은머리 릿츠 2.0 기대중</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=nendoroid" target="_blank" class="sub_txt">넨도로이드</a><span class="date_time">2026.05.31 19:41</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=needy&no=1191912" target="_blank" class="tit_txt">오늘의 노래추천</a>
	  <p class="link_dsc_txt">https://youtu.be/ebwjYCNRAHM?si=ZDeEm6ZnvMtz434W [FMV]너에게 바치는 이별노래? <b>케이온</b>! K-ON? / 방과후 티타임 - 천사를 만났어(天使にふれたよ) [가사•번역] #<b>케이온</b> #애니노래 #애니ost <b>케이온</b>의 명곡...</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=needy" target="_blank" class="sub_txt">애정결핍</a><span class="date_time">2026.05.31 19:12</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=lilyfever&no=2002284" target="_blank" class="tit_txt">보탄 &lt;&lt; 이거 뽕빨물임?</a>
	  <p class="link_dsc_txt"><b>케이온</b>같은 거?</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=lilyfever" target="_blank" class="sub_txt">대세는 백합</a><span class="date_time">2026.05.31 17:53</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/board/view/?id=comic_new6&no=4593540" target="_blank" class="tit_txt"><b>케이온</b>보고 우렀음 ㅜㅜ</a>
	  <p class="link_dsc_txt">마지막 라이브하고 애들 울때 나도 울었음 ㅜㅜ 결말은 까진 몇화 남음 - dc official App</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/board/lists?id=comic_new6" target="_blank" class="sub_txt">만화</a><span class="date_time">2026.05.31 17:31</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=houkagolive&no=13995" target="_blank" class="tit_txt">그래 오늘도 대 무 기 해 버 린 응땅이었다</a>
	  <p class="link_dsc_txt">반즈사 vs 즈사단도 재밌었어요 그 밖에 C열 전사분들도 다들 고생하셨습니다 그러고 제 지인 중에 <b>케이온</b> 이제 입문한 케린이가 있는데 그 양반이 케장판 아예 처음보는건데도 응땅 재밌었다고 만족한다고 해서...</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=houkagolive" target="_blank" class="sub_txt">케이온! 방과 후 라이브!!</a><span class="date_time">2026.05.31 17:29</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=mfgo&no=4530058" target="_blank" class="tit_txt">슈리컬 포세이돈이랑 <b>케이온</b>은 멀로 잡음??</a>
	  <p class="link_dsc_txt">카즈라가 궁금하대 이것도 모캐멀이 안전빵인가</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=mfgo" target="_blank" class="sub_txt">페이트그랜드오더</a><span class="date_time">2026.05.31 17:03</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=kyoani&no=707428" target="_blank" class="tit_txt">내가 쿄깐데 이건 인정함</a>
	  <p class="link_dsc_txt"><b>케이온</b>노래가 요즘 걸즈밴드 호소인들 대다수보다 나음</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=kyoani" target="_blank" class="sub_txt">교토 애니메이션</a><span class="date_time">2026.05.31 16:28</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=monsterstrike&no=100790" target="_blank" class="tit_txt"><b>케이온</b> 콜라보가 좋았다. 마지막 초궁긍은 선을 좀 넘지 않음?..</a>
	  <p class="link_dsc_txt">어차피.. 몬스하는 사람들 다 틀딱인데 틀딱콜라보가 맞지 않음?.... (<b>케이온</b>도 뭔가 1기 ED곡도 제법 떴는데.. 몬스에 안나온거 보면.. ED복장으로 2탄 나올지도.. 판권비문제일수도 있지만..) 아무튼 초궁극...</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=monsterstrike" target="_blank" class="sub_txt">몬스터 스트라이크</a><span class="date_time">2026.05.31 16:26</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=kyoani&no=707420" target="_blank" class="tit_txt"><b>케이온</b> 의외로 쿄갤보다 어린 애들이 많이 보는거 같긴함</a>
	  <p class="link_dsc_txt">내 앞에도 특전받으면서 청소년증 확인하고 뒤에도 막 <b>케이온</b> 당시에는 개쩔었다는데 나는 왜 늦게 태어나서 ㅠㅠ 뭐 이런 이야기함 아.. 쿄갤이 나이든건가 - dc official App</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=kyoani" target="_blank" class="sub_txt">교토 애니메이션</a><span class="date_time">2026.05.31 16:17</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=houkagolive&no=13974" target="_blank" class="tit_txt">응상티콘 공유합니다 + 일응상후기</a>
	  <p class="link_dsc_txt">하고 싶었는데 응상티콘 할라니 머리가 복잡해서 쉽지 않아따~~~ ☆리츠머리띠압수 ☆쥰 머리끈 압수 ☆<b>케이온</b> 응상에 기여한 모두 오츠카레~~ ☆유이 미오 리츠 무기 티타임 할 수 있어!! 당연하지 ☆아즈사...</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=houkagolive" target="_blank" class="sub_txt">케이온! 방과 후 라이브!!</a><span class="date_time">2026.05.31 16:17</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=kyoani&no=707412" target="_blank" class="tit_txt">응상보고느낀점</a>
	  <p class="link_dsc_txt">영화관가니까ㄹㅇ<b>케이온</b>좋아하게생긴사람만있었음</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=kyoani" target="_blank" class="sub_txt">교토 애니메이션</a><span class="date_time">2026.05.31 15:53</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=houkagolive&no=13963" target="_blank" class="tit_txt">짧후기</a>
	  <p class="link_dsc_txt">들도 호응 많이해주고 남케붕이들도 존나웃김ㅋㅋㅋㅋㅋ 저 사다리타기 바닥에 그냥 떨어져있길래 일단 주워옴.. 이번은 진짜 마지막같아서 울면서 불렀다 다음주도 보자 <b>케이온</b> 다이스키!!! いいじゃんそれ~☆ ♪</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=houkagolive" target="_blank" class="sub_txt">케이온! 방과 후 라이브!!</a><span class="date_time">2026.05.31 15:48</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=houkagolive&no=13949" target="_blank" class="tit_txt"><b>케이온</b> ai 비키니 실사화 이미지</a>
	  <p class="link_dsc_txt">- dc official App</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=houkagolive" target="_blank" class="sub_txt">케이온! 방과 후 라이브!!</a><span class="date_time">2026.05.31 15:21</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=needy&no=1191835" target="_blank" class="tit_txt">천사가 틀딱이 아닌거에 당황스러움...</a>
	  <p class="link_dsc_txt">요즘의 틴에이저 오타쿠가 <b>케이온</b>을 볼 리가 없잖아 라는 편협한 생각 가지니까 (笑) - dc official App</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=needy" target="_blank" class="sub_txt">애정결핍</a><span class="date_time">2026.05.31 15:12</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=aoegame&no=30917756" target="_blank" class="tit_txt">모바일 가챠겜 씹덕은 가짜씹덕이맞다</a>
	  <p class="link_dsc_txt">니들이 투하트 화이트앨범을 해봤냐 니들이 <b>케이온</b>을 아냐고</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=aoegame" target="_blank" class="sub_txt">중세게임</a><span class="date_time">2026.05.31 13:30</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=kyoani&no=707368" target="_blank" class="tit_txt">교토 애니메이숀 갤러리 <b>케이온</b> 응상 정모 뒷풀이 공지</a>
	  <p class="link_dsc_txt"></p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=kyoani" target="_blank" class="sub_txt">교토 애니메이션</a><span class="date_time">2026.05.31 13:00</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/mgallery/board/view/?id=kyoani&no=707361" target="_blank" class="tit_txt"><b>케이온</b>도 쿄갤픽인가</a>
	  <p class="link_dsc_txt">케응상 계속 개근했었는데 쿄갤에서 간다는글보니까 갑자기 가기싫어짐</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/mgallery/board/lists?id=kyoani" target="_blank" class="sub_txt">교토 애니메이션</a><span class="date_time">2026.05.31 12:53</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/board/view/?id=comic_new6&no=4590356" target="_blank" class="tit_txt">드릴머리 여캐나 눈썹 진한 여캐 추천점</a>
	  <p class="link_dsc_txt"><b>케이온</b> 단무지 눈썹같은거 말고</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/board/lists?id=comic_new6" target="_blank" class="sub_txt">만화</a><span class="date_time">2026.05.31 12:48</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/board/view/?id=comic_new6&no=4590224" target="_blank" class="tit_txt"><b>케이온</b> 후유증 쌤?</a>
	  <p class="link_dsc_txt">뭔가 슬슬 졸업 앞두고 아즈사한테 이입시키는 느낌 - dc official App</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/board/lists?id=comic_new6" target="_blank" class="sub_txt">만화</a><span class="date_time">2026.05.31 12:41</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/board/view/?id=comic_new6&no=4589843" target="_blank" class="tit_txt">갓만화특) <b>케이온</b> 셔플임.</a>
	  <p class="link_dsc_txt">그래 나 셔쳤어. - dc official App</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/board/lists?id=comic_new6" target="_blank" class="sub_txt">만화</a><span class="date_time">2026.05.31 12:08</span></p>
	</li>
		<li>
	  <a href="https://gall.dcinside.com/board/view/?id=keion&no=526972" target="_blank" class="tit_txt">케하링</a>
	  <p class="link_dsc_txt"><b>케이온</b> 갤러리 좀 놀러오세요 ㅎㅇㅎㅇ <b>케이온</b> 안 봤어도 괜찮아요</p>
	  <p class="link_dsc_txt dsc_sub"><a href="https://gall.dcinside.com/board/lists?id=keion" target="_blank" class="sub_txt">케이온</a><span class="date_time">2026.05.31 11:58</span></p>
	</li>
	  </ul>

</div>
				
			  </div>
			  
			  
<!-- 하단 통합 검색-->
<div class="integrate_buttom_search">
<!-- 페이징 -->
<div class="bottom_paging_box iconpaging" id="dgn_btn_paging"><a  href="/post/p/1/q/%EC%BC%80%EC%9D%B4%EC%98%A8%21" class="sp_pagingicon page_first">처음</a><a  href="/post/p/110/q/%EC%BC%80%EC%9D%B4%EC%98%A8%21" class="sp_pagingicon page_prev">이전</a><a href="/post/p/111/q/%EC%BC%80%EC%9D%B4%EC%98%A8%21">111</a><a href="/post/p/112/q/%EC%BC%80%EC%9D%B4%EC%98%A8%21">112</a><a href="/post/p/113/q/%EC%BC%80%EC%9D%B4%EC%98%A8%21">113</a><a href="/post/p/114/q/%EC%BC%80%EC%9D%B4%EC%98%A8%21">114</a><a href="/post/p/115/q/%EC%BC%80%EC%9D%B4%EC%98%A8%21">115</a><a href="/post/p/116/q/%EC%BC%80%EC%9D%B4%EC%98%A8%21">116</a><a href="/post/p/117/q/%EC%BC%80%EC%9D%B4%EC%98%A8%21">117</a><a href="/post/p/118/q/%EC%BC%80%EC%9D%B4%EC%98%A8%21">118</a><a href="/post/p/119/q/%EC%BC%80%EC%9D%B4%EC%98%A8%21">119</a><em>120</em></div><!-- //페이징 -->

<form name="bottomSearchForm" method="get" action='https://search.dcinside.com/combine/' onSubmit="return globalSearch(this);">
  <fieldset>
	<legend class="blind">통합검색</legend>
	<div class="buttom_search_wrap clear">
	  <div class="bottom_search fl clear">
		<div class="inner_search">
		  <input class="in_keyword" name="search" title="검색어 입력" type="text" value="케이온!">
		</div>
		<button class="sp_img bnt_search btn_globalSearch" type="submit"><span class="blind">검색</span></button>
	  </div>
	</div>
  </fieldset>
</form>
</div>
<!-- //하단 통합 검색-->
			  
			  			  
			</section>
			
			<!-- right_content -->
<section  class="right_content">
  <h2 class="blind">통합검색 오른쪽 컨텐츠 영역</h2>
  <!-- 다음 검색 -->
  <article>
	<div class="content_box r_only_daum">
	  <header class="clear">
      	<h3 class="tit fl"><a href="">다음 검색</a></h3>
        <div class="fr">
        	<a href="https://daum.net" class="inner_txt">제공 Daum 검색</a><button type="button" onclick="$('.daum_tip').show();"><span class="blind">다음검색이란</span><em class="sp_img icon_tip_open"></em></button>
        </div>
        <div class="pop_tipbox daum_tip" style="left:0px;top:11px;display:none"><!-- 220419 left,top값 수정-->
        	<div class="inner">
                    검색어를 누르면, Daum 검색결과로 이동합니다.
            	<button type="button" class="btn_tipclose" onclick="$('.daum_tip').hide();"><span class="blind">닫기</span><em class="sp_img icon_tipclose"></em></button>
            </div>
        </div>
      </header>
	  <div class="only_daum_area">
		<form onsubmit="return false;">
		  <fieldset>
			<legend class="blind">다음 검색</legend>
			<div class="small_searchbox clear">
			  <input class="small_in_keyword" type="text" title="검색어 입력" onkeydown="javascript:if(event.keyCode==13){searchKaKao();};">
			  <input type="hidden" class="origin_keyword" name="origin_keyword" value=""/>
			  <button class="btn_iconsearch logClass" type="submit" onClick="searchKaKao();" depth1="daum_search" depth2="daum_search_click_log" depth3="pc_search_btn"><span class="blind">검색</span><em class="sp_img icon_smallsearch"></em></button>
			  <button class="bnt_smallsearch logClass" type="submit" onClick="searchKaKao();" depth1="daum_search" depth2="daum_search_click_log" depth3="pc_search_btn">다음 검색</button>

			  <!-- 검색 자동완성 레이어-->
			  <div class="auto_wordwrap small" style="left:-1px;top:28px;display:none"><!--자동완성 레어이 : display:block -->
				<div class="auto_word" >
				  <div class="word_box">
					<h3 class="blind">실기간 검색결과</h3>
					<ul class="word_list">
					</ul>
				  </div>
				</div>
				<div class="word_close"><a href="javascript:hideLyr()" class="sp_img btn_close"><span class="blind">자동완성 레이어 닫기</span></a></div>
			  </div>
			  <!-- //검색 자동완성 레이어 -->
			</div>
		  </fieldset>
		</form>
		<div class="fix_element">
		  <a href="https://search.daum.net/search?&amp;w=tot&amp;DA=DIK&amp;q=%EB%82%A0%EC%94%A8+%ED%98%84%EC%9C%84%EC%B9%98" target="_blank" class="fix_txt logClass" depth1="daum_search" depth2="daum_search_click_log" depth3="pc_weather">날씨</a>
		  <a href="https://search.daum.net/search?&amp;w=tot&amp;DA=DIK&amp;q=%EC%9A%B4%EC%84%B8" target="_blank" class="fix_txt logClass" depth1="daum_search" depth2="daum_search_click_log" depth3="pc_fortune">운세</a>
		  <a href="https://search.daum.net/search?&amp;w=tot&amp;DA=DIK&amp;q=%ED%99%98%EC%9C%A8" target="_blank" class="fix_txt logClass" depth1="daum_search" depth2="daum_search_click_log" depth3="pc_exchange">환율</a>
		</div>
	  </div>
	</div>
  </article>
  <!-- //다음 검색 -->
  <!-- 실시간 베스트 -->
  <article>
  	<div class="content_box r_timebest">
    	<header>
        	<h3 class="tit"><a href="https://gall.dcinside.com/board/lists?id=dcbest">실시간 베스트</a></h3>
            <div class="pageing_box">
            	<div class="page_num">
                	<strong class="now_num realtimeNum">1</strong>/<span class="total_num realtimeTotal">8</span>
                </div>
                <button type="button" class="btn_blueprev " id="realtime_prev"><span class="blind">이전</span><em class="sp_img icon_blueprev"></em></button>
                <button type="button" class="btn_bluenext on" id="realtime_next"><span class="blind">다음</span><em class="sp_img icon_bluenext"></em></button>
            </div>
        </header>
        <div class="rcont_imgtxt_box">
        	<div class="img">
        	            	<div class="rcontimg_box" >
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452735" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73de785fa11d028311db29c13695a307ccacddb30f5fe15f4f1e742db7f56a8d2fdc8c574c85f08cfea4e90ec07c5d42ee667a3e45de3f6e5fe4f4bf485b930b9876c7552d69fdcea9d82d5609e" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>국뽕국뽕 최대 다국적해군훈련 림팩에서 1등했다는 한국해군</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" >
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452723" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73fe785fa11d028318f176c8dd1b3ddcdc44efd17ee73eef2ce5a27af00e52b8042a368dec4e6a807210442dc41d79aa274d1414d5957c6742d9703f0cba2fd13d01de4a76e331e89b95a92828957facc3ba78639ebe5b9" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>채널a) "왜 술 마시고 와"..기원에서 60대 흉기살인</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452766" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73de785fa1bd62531de535045b081fc7000c7a81cd8d2c0299d93c7e3fe3d91fc0931265ffd43a9ba029a3929edf19762fcc84c5bff285cc96f5cc3bd4bd8fe10a89a48" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>싱글벙글 LG전자에서 만든 집</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452757" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73de785fa1bd62531de535045b081fc7000c7a81cd8d2c0299d93c7e3fe3d91fc0931265ffd43a9ba029e3223e7f79668f9cb4f5ba72e0d98e092341afd5845d6af7133" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>의외로 젠슨황이 샤라웃한 가수</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452709" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73de785fa11d028311db29c13695a307ccacddb30f5fe15f4f1e742db7f56a8d2fdc8c574c85f08cfef4e95e805c5d42eeb61a3e45eb4f7e63013966b2fd83ccc4d46564edfcdf6e2d92218084200ca05b923b78d5c03daf3ef7929ec920453ecbcfba524bf34d1247627698c12b2fd0fcafcf37af250" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>싱글벙글 일본에 처음 온 미국인이 먹은 코스 요리...jpg</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452783" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73de785fa1bd62531de535045b081fc7000c7a81cd8d3c9291eef68182b311352d1eca8194ab869817b0901bf3e479e3c1c1e476b2133cdfbd799" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>유퀴즈 출연한 서울대 신입생.JPG</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452708" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73fe785fa11d028318f176c8dd1b3ddcdc44efd17ee73eef48cd8b34415de0392004ad274f6e822343c4d2ba02e6533ac8de7457f722a6abf1f0bc2e4a67945f673405a0b92bd64c8162c5d2e38a22f34ca6a11750d44ec303a55d15c0b4d25" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>미국 넘어온지 1년동안의 이야기</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452701" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73de785fa11d028311db29c13695a307ccacddb30f5fe15f4f1e742db7f56a8d2fdc8c574c85f08cfec4d92eb01c1d729e367a3e355efa0e4740232a5aa007d1f0bb3ca4bc1d097fc9c3e24913fb31f8cc0fd0fd406" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>적의 적은 나의 친구, 미생물제초제</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452693" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73de785fa11d028311db29c13695a307ccacddb30f5fe15f4f1e742db7f56a8d2fdc8c574c85f08cfea4990ec03cad02fe36ea3e20eb6f5e7c6a4cd17761e0e7bbb097a29f03c7f815df27e5a0f84ff947d8072af2a61a5fb8366f1bd55c9b9997303660210af89" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>자기보다 키 작으면 칵테일 바 무료라는 일본인</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452720" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73fe785fa11d028318f176c8dd1b3ddcdc44efd17ee73eef2ce5a27af00e52b8042a368dec4e6a807210440df46db90a47cd5434d5903c276ffebb7094d24e5ec6f3ddad8ae76dd64e20587501448e92008c185e295a7ed" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>jtbc) 동해안 물폭탄..영남은 바짝타는 가뭄</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452714" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73de785fa11d028311db29c13695a307ccacddb30f5fe15f4efec40c3691be58dae9c9172cd5e0ed8684624a0e74ffc1d64606be3369c8e56" alt="" style="{"top":"-0.38"}top:-49px;">
                        </span>
                        <div class="txt_box">
                        	<strong>[금주의 신상] 8월 2주차 신제품 먹거리 모음.jpg</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452691" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73de785fa1bd62531de535045b081fc7000c7a81cd8d3c92917e973023d30001e83baf74816a168889b945e7bab38d9f0199556ee4180951a58fcef3ac0193b2a" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>[핑계고] 풍향중에서 들렀다가 충격 받은 지역</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452759" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73fe785fa1bd6253181cc839ddd597aa6642ca0749f10f1cf2219b5e9acae4632b8e4d29e4fa595dc8f0b40aa3068d46cc3e4baa7400863bee71519cf706d0714ec39" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>안녕하세요 32번째낙오자들입니다 별거아니에요 (20장)</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452751" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73de785fa11d028311db29c13695a307ccacddb30f5fe15e91893180bff7b79150fdbb3421d70997daf08c0bbc123c85cb742b33a1e4f0ab2a413945167d594b2c80841a6177d167a8fb7a5858a60a345828abe" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>정부, 서울 2만7천가구 공급 속도낸다</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452807" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73fe785fa11d028318f176c8dd1b3ddcdc44efd17ef7aeef2f7b64bdd6c682e51ccc4048e512d95d8d25b5bfede668451c153bc6c4cf1dcb766126dd02ed91e67c79635c2cbbab8160dfdde67927cf5ef9dd2f6f845d64eeef7bdba67ba" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>하영 증조부 친일파 논란</strong>
                        </div>
                    </a>
                 </div>
             
                         	<div class="rcontimg_box" style="display:none;">
                	<a class="inner logClass" href="https://gall.dcinside.com/board/view/?id=dcbest&no=452804" depth1="rightframe" depth2="realtimebest">
                    	<span class="img_box">
                        	<img src="https://dccdn11.dcinside.co.kr/viewimage.php?id=29bed223f6c6&no=24b0d769e1d32ca73de785fa1bd62531de535045b081fc7000c7a81cd8d2c0299d93c7e3fe3d91fc0931265ffd43a9ba029b3f21e1f6916efccd465ba27d5e99e110b4d0b73a66bd58cce1" alt="" style="">
                        </span>
                        <div class="txt_box">
                        	<strong>싱글벙글 햄버거에 대해 알아보자(+그림 추가 버전)</strong>
                        </div>
                    </a>
                 </div>
             
                          </div>
             <ul class="txt">
                          	<li ><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452712">일본축협 "한국축협 성접대, 심판 4명 조사..결과 발표할것"</a></li>
                         	<li ><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452814">50대 잔치된 ‘국민성장펀드’…9월 2차 공모는 ‘청년·서민’ 정조준</a></li>
                         	<li ><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452721">[오피셜] 이강인 실점 빌미....gif</a></li>
                         	<li ><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452686">귀여운 수녀님이 다른 여자랑 몸싸움 벌이는.manhwa</a></li>
                         	<li ><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452718">청년주택 버스하우스 없던 걸로 해줄래 ㅋㅋㅋ </a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452705">ISA 개편안·주가누르기 법안 전면 재검토</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452741">백로 쫓으려 애꿎은 나무만 '뎅강'‥&quot;쫓아내도 바로 옆인데‥&quot;</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452784">싱글벙글 드디어 금메달에 도전한다는 한국 육상</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452808">[속보]뱅오아, 삼전 주주환원 100조이상 할것</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452703">카메라와 함께, 다시 찾은 고베</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452724">인천공항, 노숙인 퇴거명령 논란</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452733">민주당 강원tk순회경선, 정"당과 의리지키겠다"김"완벽한당정일치"</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452812">“이태원 참사 119 무전 조작·누락 의혹”…유가족, 첫 형사고소</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452802">생태교란종 무단방생+거북이 등딱지 낙서</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452778">8월 10일 시황</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452763">대부분 한국 쓰레기"…日 명소에 버려진 '안산시 종량제봉투'</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452800">환불 미루다 연락두절…여행사 피해주의보</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452775">싱글벙글 근본없는 호주 대표음식.jpg</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452790">지방선거 투표수 수백명씩 엇갈려…조작 의혹</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452738">후티 반군 "사우디 정유시설 드론 타격"…사우디 "인명피해 없어"</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452753">오들오들 911촌</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452729">군 탱크·자주포 기름닦는 수입포 9개월째 ‘재고없음’…이번이 처음</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452747">정청래, 李 대통령을 또 ‘이명박’으로 잘못 지칭 말 실수</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452748">손주 돌보려고 집 비운건데 비거주면 다 투기냐 정부 세제개편 민원 폭주 </a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452774">대만, 일본에 강력 항의... 친일 정권의 이례적 비판 왜?</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452771">‘출장지서 1분 만에 퇴근’상습 근태 불량 SK하이닉스 직원 해고 정당</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452730">말다툼 끝에 어머니 살해한 10대, 반려견도 죽여</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452696">LA보안관의 하나회, 보안관보 갱단(Deputy Gangs)</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452769">청년에게 연일 메세지를 낸 이재명 대통령 하지만 연일 지지율 하락</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452762">kbs) 남는 전기 '전기차' 저장..차주 '수익원' 될까</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452732">“나 반포살지롱∼센트럴 버스하우스에” 2030 분노의 조롱 밈</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452781">“뒤집힌 보트 붙잡고 8시간”…인천 앞바다 낚시객 3명 극적 구조</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452789">최예나 워터밤 디바 코스프레 ㄷㄷ</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452745">이게 16000원 음식이냐.. 워터파크 떡볶이 논란 확산</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452792">아이맥스 떡밥에 올려보는 아이맥스 작례</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452798">중국 상륙 '돌핀'...상하이 곳곳 침수, 항공편 대거 결항</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452765">이동진 오디세이 평점</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452736">용산어린이정원 앞 근조화환…주민들 "아파트에 공원 뺏길 수 없다"</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452818">연합) 메가프로젝트 2차 점검회의 이대통령 모두발언</a></li>
                         	<li style="display:none;"><a href="https://gall.dcinside.com/board/view/?id=dcbest&no=452715">싱글벙글 7년 전 투포환 유망주로 나왔던 초등학생 근황</a></li>
            	
             </ul>
		</div>
     </div>
  </article>  
  <!--  //실시간 베스트 -->
   <!-- 뉴스 -->
  <article>
	<div class="content_box r_dcmedia">
	  <header >
        	<h3 class="tit mediaTab"><a href="javascript:mediaTabMove('media');">디시미디어</a></h3>
        	<h3 class="tit issueTab"><a href="javascript:mediaTabMove('issue');">디시이슈</a></h3>
		<div class="pageing_box">
		  <div class="page_num">
			<strong class="now_num newsNum">1</strong>/<span id="newsTotal" class="total_num newsTotal">2</span>
		  </div>
		  <button type="button" class="btn_blueprev " id="news_prev"><span class="blind">이전</span><em class="sp_img icon_blueprev"></em></button>
		  <button type="button" class="btn_bluenext on" id="news_next"><span class="blind">다음</span><em class="sp_img icon_bluenext"></em></button>
		</div>
	  </header>
        <div class="rcont_imgtxt_box r_media_box" style="display:none;">
			<div class="img clear">
				<script id="mediaImg-tmpl" type="text/x-jquery-tmpl">
				<div class="rcontimg_box">
					<a class="inner" href="${link}" target = "${link.indexOf('https://gall.dcinside.com') === 0 ? '_self' : '_blank'}">
						<span class="img_box">
						<img src="${thumb_img}" alt="">
						</span>
						<div class="txt_box">
							<strong>${title}</strong>
						</div>
					</a>
				</div>
                </script>
			</div>
			<ul class="txt">
				<script id="mediaTxt-tmpl" type="text/x-jquery-tmpl">
				<li><a href="${link}" target = "${link.indexOf('https://gall.dcinside.com') === 0 ? '_self' : '_blank'}">${title}</a></li>
				</script>
			</ul>
		</div>
		<div class="rcont_imgtxt_box dcissue r_issue_box" style="display:none;">
			<div class="img clear">
				<script id="issueImg-tmpl" type="text/x-jquery-tmpl">
				<div class="rcontimg_box">
					<a class="inner" href="${url}" target = "_blank">
						<span class="img_box">
						<img src="${dc_img}" alt="">
						</span>
						<div class="txt_box">
                            <span class="ranking blue">${rank}</span>
							<strong>${title}</strong>
						</div>
					</a>
				</div>
                </script>
			</div>
			<ul class="txt">
				<script id="issueTxt-tmpl" type="text/x-jquery-tmpl">
				<li>
                    <a href="${url}" target = "_blank">
                    <span class="ranking blue">${rank}</span>
                    ${title}
                    </a>
                </li>
				</script>
			</ul>
		</div>
	</div>
  </article>
  <!-- //뉴스 -->
  <!-- 개념글 -->
  <article>
	<div class="content_box r_recommend">
	  <header>
	  <script id="recomTit-tmpl" type="text/x-jquery-tmpl">
		<h3 class="tit"><a href="${url}">개념글 <span class="sub">[<em>${gall_name} 갤러리</em>]</span></a></h3>
	  </script>
		<div class="pageing_box">
		  <div class="page_num">
			<strong class="now_num recomNum">1</strong>/<span class="total_num recomTotal">3</span>
		  </div>
		  <button type="button" class="btn_blueprev" id="recom_prev"><span class="blind">이전</span><em class="sp_img icon_blueprev"></em></button>
		  <button type="button" class="btn_bluenext on" id="recom_next"><span class="blind">다음</span><em class="sp_img icon_bluenext"></em></button>
		</div>
	  </header>
	  <ul class="rcont_list">
	  <script id="recomList-tmpl" type="text/x-jquery-tmpl">
		<li><a href="${url}">${title}</a></li>
	  </script>
	  </ul>
	</div>
  </article>
  <!-- //개념글 -->
</section>
<!-- right_content -->				
	
		</div>			
	</main>
	
	<!-- 하단 -->
<footer class="dcfoot type1">
 <div class="info_policy">
   <a href="https://www.dcinside.com/company">회사소개</a>   
   <a href="https://www.dcinside.com/company#alliance">제휴안내</a>
   <a href="https://nstatic.dcinside.com/dc/dcad/w/index.html">광고안내</a>
   <a href="https://nstatic.dcinside.com/dc/w/policy/policy_index.html">이용약관</a>
   <a href="https://nstatic.dcinside.com/dc/w/policy/privacy_index.html"><b>개인정보처리방침</b></a>
   <a href="https://nstatic.dcinside.com/dc/w/policy/youth_policy.html">청소년보호정책</a>
 </div>
 <div class="copyright">Copyright ⓒ 1999 - 2026 dcinside. All rights reserved.</div>
</footer>
<!-- //하단 -->
	
</div><!--//id:top-->

<input type="hidden" id="s_keyword" value="케이온!"/>

<script type="text/javascript" src="https://ssl.pstatic.net/adimg3.search/adpost/js/adpost_show_ads_v2.min.js"></script>
<script type="text/javascript">
var s_keyword = $('#s_keyword').val();

function handle_naver_ads_response(response) {
	if(typeof(response['error']) == 'undefined' && response['ads']['length']) {
		$('.ad_premium *').remove();
		
		var html = '<div class="clear">' +
				   '<h3 class="fl">파워링크 <span class="adicon sp_img"><em class="blind">광고</em></span></h3>' +
				   '<a href="https://saedu.naver.com/adbiz/searchad/intro.nhn" target="_blank" class="fr link_upinfo">등록안내</a>' +
				   '</div>' +
				   '<ul class="pwlink_list abundle">';

		var patt = eval('/'+ s_keyword +'/g');
					
		for(var i in response['ads']) {
		 	ad_array = response['ads'][i];
			var desc = new String(ad_array['description']);
		 	html += '<li>'+
					'<a href="'+ ad_array['clickUrl'] + '" target="_blank">' +
		 			'<span class="tit_txt">'+ ad_array['headline'] +'</span>'+
		 			'<span class="link_txt">'+ ad_array['displayUrl'] +'</span>'+
		 			'<p class="link_dsc_txt">'+ desc.replace(patt, '<strong>'+ s_keyword +'</strong>') +'</p>'+
					'</a>'+
		 			'</li>';
		}
		
		html += '</ul>';

		$('.ad_premium').append(html).show();
	}
	
	if($('.ad_premium').index() >= 0) {
		if($('.ad_premium').html().trim()) {
			$('.ad_premium').show();
		}
		else {
			$('.ad_premium').remove();
		}
	}
}

//<![CDATA[
NAVER_ADPOST_V2({ 
	channel: "dcinside.ch1",
	pageSize: 3, 
	url: location.href,
	query: s_keyword
}); 
//]]>
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-5149721-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-5149721-4');

  var f_u_no = '';
</script>
<!-- g4a 구글애널리틱스 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-V46B0SHSY7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-V46B0SHSY7'); 
</script>
<script src="https://gall.dcinside.com/_js/ad_audit.js?v=2605081354"></script>
</body>
</html>